<!--  
  Generated template for the AllergiesMobile page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
   -->
<ion-header class="ui-header">

  <ion-navbar>
    <ion-title>
    	<h1 class="ui-title">
      	Foot Pain
      </h1>
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="showMenu()">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
	</ion-navbar>
  <ion-navbar class="fullWidth robotoLight bgLightBlue">
    <p *ngIf="page==0">Heel / Foot pain?</p>
    <p *ngIf="page>0 && page<20">Need emergency care?</p>
    <p *ngIf="page>=20 && page<40">Plantar fasciitis?</p>
    <p *ngIf="page>=40 && page<50">How bad is it?</p>
  </ion-navbar>
</ion-header>
<ion-content class="ui-page-theme-a">
	<div class="ui-content" *ngIf="page==0">
	    <div class="maxwidth450">
	        <div class="ovalBorderRightBlue centerText">
	            <span>Heel pain when you stand up first time in the morning, may signal <span class="orangefontSmall">plantar fasciitis.</span></span><br>
	        </div>
	        <div align="right"><img src="assets/img/pharm/female/pharm-lindsey.svg" width="100" alt="Pharmacist"></div>
	    </div>
	    <div class="clearboth divider1"></div>
	    <br>
	    <!-----------------End Border right person------------------- -->
	    <div class="blueBorder">
	        <p>There are other causes of foot pain. Let's see what you are looking at before  deciding how to take care if this.</p>
	        <hr class="hrblue">
	        <br>
	        <p class="centerText">
	            <br>
	            <img src="assets/img/people/adult/leg/footpain.svg" width="180" alt="Person with a foot pain">
	        </p>
	    </div>
	    <!--------------------------Banner Link----------------------------- -->
	    <div>
	    </div>
	    <!--------------------------Banner Link----------------------------- -->
	    <div class="clearboth divider1"></div>
	    <p class="centerText"> <a href="#" data-role="button" data-inline="true" class="ui-link ui-btn ui-btn-inline ui-shadow ui-corner-all" role="button" (click)="togglePage(1)">Continue</a></p>
	    <p>&nbsp;</p>
	</div>

	<div class="ui-content" *ngIf="page>0 && page<20">
	    <div id="footpain1_mobile_1" *ngIf="page==1">
	        <div class="maxwidth450">
	            <div class="ovalBorderRightBlue">
	                <span class="bluefontLarge firstname">A,</span><br>
	                Is  the foot pain due to <span class="redfont">inflammation</span> of the <span class="orangefont">plantar fascia</span> or something else? 
	            </div>
	            <div align="right"><img src="assets/img/pharm/female/pharm-lindsey.svg" width="100" alt="Pharmacist"></div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Border left person------------------- -->
	        <p class="redBorder">First, we will start by eliminating  serious causes of leg or foot pain that will require urgent or emergency care.</p>
	        <div class="clearboth divider1"></div>
	        <p class="centerText"> <button data-inline="true" class="footpain1_mobile_2_n_link ui-btn ui-btn-inline ui-shadow ui-corner-all" (click)="togglePage(2)">Continue</button></p>
	        <p>&nbsp;</p>
	    </div>
	    <!--End Intro -->
	    <div id="footpain1_mobile_2_n" *ngIf="page==2">
	        <div class="maxwidth450">
	            <div class="ovalBorderRightBlue centerText">
	                <span>Do you have foot pain that became <span class="redfont">severe</span> within seconds or minutes?</span><br>
	            </div>
	            <div class="clearboth"></div>
	            <div class="container_12">
	                <div class="grid_8">
	                    <br>
	                    <div class="bubbleRightBlue centerText">
	                        Particularly if you have a history of <span class="redfont">heart</span> problems.
	                    </div>
	                </div>
	                <div class="grid_4">
	                    <img src="assets/img/pharm/female/pharm-lindsey.svg" alt="Pharmacist" width="80" align="right">
	                </div>
	            </div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Point Right------------------- -->
	        <div class="clearboth divider1"></div>
	        <p class="centerText">
	            <button data-inline="true" class="footpain1_mobile_3_y_link ui-btn ui-btn-l ui-btn-inline ui-shadow ui-corner-all" data-theme="l" (click)="togglePage(3)">Yes</button>
	            <button data-inline="true" class="footpain1_mobile_3_n_link ui-btn ui-btn-k ui-btn-inline ui-shadow ui-corner-all" data-theme="k" (click)="togglePage(4)">No</button>
	        </p>
	        <p>&nbsp;</p>
	    </div>
	    <!--end first question div --> 
	    <!--start 3 div -->   
	    <div id="footpain1_mobile_3_y" *ngIf="page==3">
	        <div class="maxwidth450">
	            <div class="ovalBorderRightYellow centerText">
	                <span class="redfontLarge">Seek emergency room  or call your doctor.</span><br>
	            </div>
	            <div align="right"><img src="assets/img/pharm/female/pharm-lindsey.svg" width="100" alt="Pharmacist"></div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Border right person------------------- -->
	        <div class="redBorderAll">
	            <p class="redfont redBorder centerText">Here is why:</p>
	            <ul>
	                <li>You might be looking at something serious like an embolism of one of the arteries that supply blood to the foot.</li>
	                <li>Especially so if your foot feels cool.</li>
	            </ul>
	        </div>
	        <br>
	        <!---------------------End Seek urgent care------------- -->
	        <div class="clearboth divider1"></div>
	        <p class="centerText"><button data-inline="true" class="footpain1_mobile_3_n_link ui-btn ui-btn-inline ui-shadow ui-corner-all" (click)="togglePage(4)">Continue</button>	</p>
	        <p>&nbsp;</p>
	    </div>
	    <div id="footpain1_mobile_3_n" *ngIf="page==4">
	        <div class="maxwidth450">
	            <div class="ovalBorderRightBlue centerText">
	                <span>Is your toe, foot or ankle <span class="purple_redfont">warm</span> to touch, <span class="redfont">red</span> and <span class="purple_redfont">painful?</span></span><br>
	            </div>
	            <div class="clearboth"></div>
	            <div class="container_12">
	                <div class="grid_8">
	                    <br>
	                    <div class="bubbleRightBlue">
	                        <span class="purple_redfont">Or very tender?</span><br> <span class="grayfontSmall">(covering it with blanket hurts.)</span>
	                    </div>
	                </div>
	                <div class="grid_4">
	                    <img src="assets/img/pharm/female/pharm-lindsey.svg" alt="Pharmacist" width="80" align="right">
	                </div>
	            </div>
	        </div>
	        <br>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Point Right------------------- -->
	        <p class="centerText">
	            <button data-inline="true" class="footpain1_mobile_4_y_link ui-btn ui-btn-l ui-btn-inline ui-shadow ui-corner-all" data-theme="l" (click)="togglePage(5)">Yes</button>
	            <button data-inline="true" class="footpain1_mobile_4_n_link ui-btn ui-btn-k ui-btn-inline ui-shadow ui-corner-all" data-theme="k" (click)="togglePage(6)">No</button>
	        </p>
	        <p>&nbsp;</p>
	    </div>
	    <!--end 3 div --> 
	    <div id="footpain1_mobile_4_y" *ngIf="page==5">
	        <!--start 4 div -->
	        <div class="maxwidth450">
	            <div class="ovalBorderRightYellow centerText">
	                <span class="redfontLarge">Seek urgent care or call your doctor.</span><br>
	            </div>
	            <div align="right"><img src="assets/img/pharm/female/pharm-lindsey.svg" width="100" alt="Pharmacist"></div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Border right person------------------- -->
	        <div class="redBorderAll">
	            <p class="redfont redBorder centerText">Here is why:</p>
	            <ul>
	                <li>May be looking at an acute attack of <span class="redfont">gout.</span></li>
	                <li>The pain starts suddenly, often during the night and is often described as throbbing, crushing, or excruciating.</li>
	            </ul>
	        </div>
	        <br>
	        <!---------------------End Seek urgent care------------- -->
	        <div class="clearboth divider1"></div>
	        <p class="centerText"><button data-inline="true" class="footpain1_mobile_4_n_link ui-btn ui-btn-inline ui-shadow ui-corner-all" (click)="togglePage(6)">Continue</button>	</p>
	        <p>&nbsp;</p>
	    </div>
	    <div id="footpain1_mobile_4_n" *ngIf="page==6">
	        <div class="maxwidth450">
	            <div class="ovalBorderRightBlue centerText">
	                <span>Does the foot feel <span class="purple_bluefont">numb,</span> <span class="bluefont">burning </span>, <span class="purple_bluefont">tingling?</span></span><br>
	            </div>
	            <div class="clearboth"></div>
	            <div class="container_12">
	                <div class="grid_8">
	                    <br>
	                    <div class="bubbleRightBlue">
	                        Like a <span class="bluefont">deep pain</span> in there?
	                    </div>
	                </div>
	                <div class="grid_4">
	                    <img src="assets/img/pharm/female/pharm-lindsey.svg" alt="Pharmacist" width="80" align="right">
	                </div>
	            </div>
	        </div>
	        <br>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Point Right------------------- -->
	        <p class="centerText">
	            <button data-inline="true" class="footpain1_mobile_5_y_link ui-btn ui-btn-l ui-btn-inline ui-shadow ui-corner-all" data-theme="l" (click)="togglePage(7)">Yes</button>
	            <button data-inline="true" class="footpain1_mobile_5_n_link ui-btn ui-btn-k ui-btn-inline ui-shadow ui-corner-all" data-theme="k" (click)="togglePage(8)">No</button>
	        </p>
	        <p>&nbsp;</p>
	    </div>
	    <!--end 4 div --> 
	    <div id="footpain1_mobile_5_y" *ngIf="page==7">
	        <!--start 5 div -->
	        <div class="maxwidth450">
	            <div class="ovalBorderRightYellow centerText">
	                <span class="redfontLarge">Seek urgent care or call the doctor.</span><br>
	            </div>
	            <div align="right"><img src="assets/img/pharm/female/pharm-lindsey.svg" width="100" alt="Pharmacist"></div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Border right person------------------- -->
	        <div class="redBorderAll">
	            <p class="redfont redBorder centerText">Here is why:</p>
	            <ul>
	                <li>You may be looking at <span class="bluefont">peripheral neuropathy </span>involving the legs.</li>
	                <li><span class="redfont">Must</span> see the doctor if you are <span class="greenfont">diabetic.</span></li>
	            </ul>
	        </div>
	        <br>
	        <!---------------------End Seek urgent care------------- -->
	        <div class="clearboth divider1"></div>
	        <p class="centerText">	<button data-inline="true" class="footpain1_mobile_5_n_link ui-btn ui-btn-inline ui-shadow ui-corner-all" (click)="togglePage(8)">Continue</button></p>
	        <p>&nbsp;</p>
	    </div>
	    <div id="footpain1_mobile_5_n" *ngIf="page==8">
	        <div class="maxwidth450">
	            <div class="ovalBorderRightBlue centerText">
	                <span>Are the feet and toes <span class="purple_redfont">swollen,</span> feeling <span class="orangefont">numb?</span></span><br>
	            </div>
	            <div class="clearboth"></div>
	            <div class="container_12">
	                <div class="grid_8">
	                    <br>
	                    <div class="bubbleRightBlue">
	                        Painful at the <span class="orangefont">ankle and heel?</span>
	                    </div>
	                </div>
	                <div class="grid_4">
	                    <img src="assets/img/pharm/female/pharm-lindsey.svg" alt="Pharmacist" width="80" align="right">
	                </div>
	            </div>
	        </div>
	        <br>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Point Right------------------- -->
	        <p class="centerText">
	            <button data-inline="true" class="footpain1_mobile_6_y_link ui-btn ui-btn-l ui-btn-inline ui-shadow ui-corner-all" data-theme="l" (click)="togglePage(9)">Yes</button>
	            <button data-inline="true" class="footpain1_mobile_6_n_link ui-btn ui-btn-k ui-btn-inline ui-shadow ui-corner-all" data-theme="k" (click)="togglePage(10)">No</button>
	        </p>
	        <p>&nbsp;</p>
	    </div>
	    <!--end 5  div --> 
	    <div id="footpain1_mobile_6_y" *ngIf="page==9">
	        <!--start 6 div -->
	        <div class="maxwidth450">
	            <div class="ovalBorderRightBlue centerText">
	                <span class="redfontLarge">Call your doctor.</span><br>
	            </div>
	            <div align="right"><img src="assets/img/pharm/female/pharm-lindsey.svg" width="100" alt="Pharmacist"></div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Border right person------------------- -->
	        <div class="redBorderAll">
	            <p class="redfont redBorder centerText">Here is why:</p>
	            <ul>
	                <li>May be looking at <span class="orangefont">hypothyroidism.</span></li>
	            </ul>
	        </div>
	        <br>
	        <!---------------------End Seek urgent care------------- -->
	        <div class="clearboth divider1"></div>
	        <p class="centerText"><button data-inline="true" class="footpain1_mobile_6_n_link ui-btn ui-btn-inline ui-shadow ui-corner-all" (click)="togglePage(10)">Continue</button>	</p>
	        <p>&nbsp;</p>
	    </div>
	    <div id="footpain1_mobile_6_n" *ngIf="page==10">
	        <div class="maxwidth450">
	            <div class="ovalBorderRightBlue centerText">
	                <span>When you take off your shoes, do you feel a <span class="redfont">throbbing</span> heel pain?</span><br>
	            </div>
	            <div class="clearboth"></div>
	            <div class="container_12">
	                <div class="grid_8">
	                    <br>
	                    <div class="bubbleRightBlue">
	                        With heel <span class="purple_redfont">puffy</span> and <span class="redfont">warm?</span>
	                    </div>
	                </div>
	                <div class="grid_4">
	                    <img src="assets/img/pharm/female/pharm-lindsey.svg" alt="Pharmacist" width="80" align="right">
	                </div>
	            </div>
	        </div>
	        <br>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Point Right------------------- -->
	        <p class="centerText">
	            <button data-inline="true" class="footpain1_mobile_7_y_link ui-btn ui-btn-l ui-btn-inline ui-shadow ui-corner-all" data-theme="l" (click)="togglePage(11)">Yes</button>
	            <button data-inline="true" class="footpain1_mobile_7_n_link ui-btn ui-btn-k ui-btn-inline ui-shadow ui-corner-all" data-theme="k" (click)="togglePage(12)">No</button>
	        </p>
	        <p>&nbsp;</p>
	    </div>
	    <!--end 6 div --> 
	    <div id="footpain1_mobile_7_y" *ngIf="page==11">
	        <!--start 7 div -->
	        <div class="maxwidth450">
	            <div class="ovalBorderRightBlue centerText">
	                <span class="redfontLarge">See a doctor.</span><br>
	            </div>
	            <div align="right"><img src="assets/img/pharm/female/pharm-lindsey.svg" width="100" alt="Pharmacist"></div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Border right person------------------- -->
	        <div class="redBorderAll">
	            <p class="redfont redBorder centerText">Here is why:</p>
	            <ul>
	                <li>Possibly <span class="redfont">calcaneal bursitis.</span></li>
	            </ul>
	        </div>
	        <br>
	        <!---------------------End Seek urgent care------------- -->
	        <p class="centerText"><button data-inline="true" class="footpain1_mobile_7_n_link ui-btn ui-btn-inline ui-shadow ui-corner-all" (click)="togglePage(12)">Continue</button></p>
	        <p>&nbsp;</p>
	    </div>
	    <div id="footpain1_mobile_7_n" *ngIf="page==12">
	        <div class="maxwidth450">
	            <div class="ovalBorderRightBlue centerText">
	                <span class="bluefontLarge">Alright.</span><br>
	                Those were to rule out other <span class="redfont">serious</span> causes of foot or leg pain.
	            </div>
	            <div align="right"><img src="assets/img/pharm/female/pharm-lindsey.svg" width="100" alt="Pharmacist"></div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Border right person------------------- -->
	        <p class="redBorder">Now, let's see if you are looking at <span class="orangefont">Plantar fasciitis.</span></p>
	        <!--------------------------Banner Link----------------------------- -->
	        <div>
	        </div>
	        <!--------------------------Banner Link----------------------------- -->
	        <div class="clearboth divider1"></div>
	        <p class="centerText"> <a href="#" data-role="button" data-inline="true" class="ui-link ui-btn ui-btn-inline ui-shadow ui-corner-all" role="button" (click)="togglePage(20)">Continue</a></p>
	        <p>&nbsp;</p>
	    </div>
	    <!--end 7 div --> 
	    <p>&nbsp;</p>
	</div>

	<div class="ui-content" *ngIf="page>=20 && page<40">
	    <div id="footpain2_mobile_2_n" *ngIf="page==20">
	        <div class="maxwidth450">
	            <div class="ovalBorderRightBlue centerText">
	                <span>Is the foot pain  like a knife or a pin <span class="redfont">sticking</span> into the bottom </span>of the foot?<br>
	            </div>
	            <div align="right"><img src="assets/img/pharm/female/pharm-lindsey.svg" width="100" alt="Pharmacist"></div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Border right person------------------- -->
	        <p class="centerText">
	            <button data-inline="true" class="footpain2_mobile_3_n_link ui-btn ui-btn-l ui-btn-inline ui-shadow ui-corner-all" data-theme="l" (click)="togglePage(21)">Yes</button>
	            <button data-inline="true" class="footpain2_mobile_3_n_link ui-btn ui-btn-k ui-btn-inline ui-shadow ui-corner-all" data-theme="k" (click)="togglePage(22)">No</button>
	        </p>
	        <p>&nbsp;</p>
	    </div>
	    <!--end first question div --> 
	    <!--start 3 div -->   
	    <div id="footpain2_mobile_3_y" *ngIf="page==21">
	        <h3>Yes?</h3>
	        <p>&nbsp;</p>
	        <button data-inline="true" class="footpain2_mobile_3_n_link ui-btn ui-btn-inline ui-shadow ui-corner-all" (click)="togglePage(22)">Continue</button>	
	        <p>&nbsp;</p>
	    </div>
	    <div id="footpain2_mobile_3_n" *ngIf="page==22">
	        <div class="maxwidth450">
	            <div class="ovalBorderRightBlue centerText">
	                <span>Does it feel like the <span class="grayfont">bottom of the feet</span> is <span class="redfont">burning?</span></span><br>
	            </div>
	            <div align="right"><img src="assets/img/pharm/female/pharm-lindsey.svg" width="100" alt="Pharmacist"></div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Border right person------------------- -->
	        <p class="centerText">
	            <button data-inline="true" class="footpain2_mobile_4_n_link ui-btn ui-btn-l ui-btn-inline ui-shadow ui-corner-all" data-theme="l" (click)="togglePage(23)">Yes</button>
	            <button data-inline="true" class="footpain2_mobile_4_n_link ui-btn ui-btn-k ui-btn-inline ui-shadow ui-corner-all" data-theme="k" (click)="togglePage(24)">No</button>
	        </p>
	        <p>&nbsp;</p>
	    </div>
	    <!--end 3 div --> 
	    <div id="footpain2_mobile_4_y" *ngIf="page==23">
	        <!--start 4 div -->
	        <h3>Yes?</h3>
	        <button data-inline="true" class="footpain2_mobile_4_n_link ui-btn ui-btn-inline ui-shadow ui-corner-all" (click)="togglePage(24)">Continue</button>	
	        <p>&nbsp;</p>
	    </div>
	    <div id="footpain2_mobile_4_n" *ngIf="page==24">
	        <div class="maxwidth450">
	            <div class="ovalBorderRightBlue centerText">
	                <span>Does it <span class="bluefont">ache</span> when you put <span class="purple_bluefont">weight</span> on it?</span><br>
	            </div>
	            <div align="right"><img src="assets/img/pharm/female/pharm-lindsey.svg" width="100" alt="Pharmacist"></div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Border right person------------------- -->
	        <p class="centerText">
	            <button data-inline="true" class="footpain2_mobile_5_y_link ui-btn ui-btn-l ui-btn-inline ui-shadow ui-corner-all" data-theme="l" (click)="togglePage(25)">Yes</button>
	            <button data-inline="true" class="footpain2_mobile_5_n_link ui-btn ui-btn-k ui-btn-inline ui-shadow ui-corner-all" data-theme="k" (click)="togglePage(26)">No</button>
	        </p>
	        <p>&nbsp;</p>
	    </div>
	    <!--end 4 div --> 
	    <div id="footpain2_mobile_5_y" *ngIf="page==25">
	        <!--start 5 div -->
	        <div class="maxwidth450">
	            <div class="ovalBorderRightBlue centerText">
	                <span class="bluefontLarge">Yes?</span><br>
	                We are thinking <span class="orangefont">plantar fasciitis.</span>
	            </div>
	            <div align="right"><img src="assets/img/pharm/female/pharm-lindsey.svg" width="100" alt="Pharmacist"></div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Border right person------------------- -->
	        <div class="purpleBorderAll">
	            <p class="purpleBorder centerText">With plantar fasciitis you will experience:</p>
	            <ul>
	                <li>Foot pain  like a knife or a pin sticking into the bottom of the foot.</li>
	                <li>Like the bottom of the feet is burning</li>
	                <li>Ache when bearing weight.</li>
	            </ul>
	        </div>
	        <div class="clearboth divider1"></div>
	        <p class="centerText">	<button data-inline="true" class="footpain2_mobile_5_n_link ui-btn ui-btn-inline ui-shadow ui-corner-all" (click)="togglePage(26)">Continue</button></p>
	        <p>&nbsp;</p>
	    </div>
	    <div id="footpain2_mobile_5_n" *ngIf="page==26">
	        <div class="maxwidth450">
	            <div class="ovalBorderRightBlue centerText">
	                <span>Is the pain <span class="purplefont">worse</span> when you first rise in the <span class="orangefont">morning?</span></span><br>
	            </div>
	            <div align="right"><img src="assets/img/pharm/female/pharm-lindsey.svg" width="100" alt="Pharmacist"></div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Border right person------------------- -->
	        <p class="purpleRedBorder">Pain gets better after 5 to 10 min, only to return later in the day.</p>
	        <div class="clearboth divider1"></div>
	        <p class="centerText">
	            <button data-inline="true" class="footpain2_mobile_6_y_link ui-btn ui-btn-l ui-btn-inline ui-shadow ui-corner-all" data-theme="l" (click)="togglePage(27)">Yes</button>
	            <button data-inline="true" class="footpain2_mobile_6_n_link ui-btn ui-btn-k ui-btn-inline ui-shadow ui-corner-all" data-theme="k" (click)="togglePage(28)">No</button>
	        </p>
	        <p>&nbsp;</p>
	    </div>
	    <!--end 5  div --> 
	    <div id="footpain2_mobile_6_y" *ngIf="page==27">
	        <!--start 6 div -->
	        <div class="maxwidth450">
	            <div class="ovalBorderRightBlue centerText">
	                <span class="orangefontLarge">Yes?</span><br>
	                This is a symptom of <span class="orangefont">plantar fasciitis.</span>
	            </div>
	            <div align="right"><img src="assets/img/pharm/female/pharm-lindsey.svg" width="100" alt="Pharmacist"></div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Border right person------------------- -->
	        <div class="blueBorderAll">
	            <p class="blueBorder centerText">Plantar fasciitis symptoms include:</p>
	            <ul>
	                <li>Foot pain  like a knife or a pin sticking into the bottom of the foot.</li>
	                <li>Like the bottom of the feet is burning</li>
	                <li>Aching when bearing weight.</li>
	                <li>Pain worse when you<span class="orangefont"> first arise in the morning.</span></li>
	            </ul>
	        </div>
	        <div class="clearboth divider1"></div>
	        <p class="centerText"> <button data-inline="true" class="footpain2_mobile_6_n_link ui-btn ui-btn-inline ui-shadow ui-corner-all" (click)="togglePage(28)">Continue</button></p>
	        <p>&nbsp;</p>
	    </div>
	    <div id="footpain2_mobile_6_n" *ngIf="page==28">
	        <div class="maxwidth450">
	            <div class="ovalBorderRightBlue centerText">
	                <span>When <span class="bluefont">pushing off</span> of the heel, does the pain get <span class="purple_bluefont">worse?</span></span><br>
	            </div>
	            <div align="right"><img src="assets/img/pharm/female/pharm-lindsey.svg" width="100" alt="Pharmacist"></div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Border right person------------------- -->
	        <div class="clearboth divider1"></div>
	        <p class="centerText">
	            <button data-inline="true" class="footpain2_mobile_7_y_link ui-btn ui-btn-l ui-btn-inline ui-shadow ui-corner-all" data-theme="l" (click)="togglePage(29)">Yes</button>
	            <button data-inline="true" class="footpain2_mobile_7_n_link ui-btn ui-btn-k ui-btn-inline ui-shadow ui-corner-all" data-theme="k" (click)="togglePage(30)">No</button>
	        </p>
	        <p>&nbsp;</p>
	    </div>
	    <!--end 6 div --> 
	    <div id="footpain2_mobile_7_y" *ngIf="page==29">
	        <!--start 7 div -->
	        <div class="maxwidth450">
	            <div class="ovalBorderRightBlue centerText">
	                <span class="bluefontLarge">Yes?</span><br>
	                This is a symptom of<span class="orangefont"> plantar fasciitis.</span>
	            </div>
	            <div align="right"><img src="assets/img/pharm/female/pharm-lindsey.svg" width="100" alt="Pharmacist"></div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Border right person------------------- -->
	        <div class="purpleBorderAll">
	            <p class="purpleBorder">With plantar fasciitis you will experience:</p>
	            <ul>
	                <li>Foot pain  like a knife or a pin sticking into the bottom of the foot.</li>
	                <li>Like the bottom of the feet is burning</li>
	                <li>Aching when bearing weight.</li>
	                <li>Pain worse when you first arise in the morning.</li>
	                <li>Worse when you <span class="orangefontSmall">push off</span> of the heel.</li>
	            </ul>
	        </div>
	        <p class="centerText"><button data-inline="true" class="footpain2_mobile_7_n_link ui-btn ui-btn-inline ui-shadow ui-corner-all" (click)="togglePage(30)">Continue</button></p>
	        <p>&nbsp;</p>
	    </div>
	    <div id="footpain2_mobile_7_n" *ngIf="page==30">
	        <div class="maxwidth450">
	            <div class="ovalBorderRightBlue centerText">
	                <span>When you <span class="bluefont">sit down</span> for awhile and then stand up again...</span><br>
	            </div>
	            <div class="clearboth"></div>
	            <div class="container_12">
	                <div class="grid_8">
	                    <br>
	                    <div class="bubbleRightBlue centerText">
	                        ...does the pain get <span class="bluefont">worse?</span>
	                    </div>
	                </div>
	                <div class="grid_4">
	                    <img src="assets/img/pharm/female/pharm-lindsey.svg" alt="Pharmacist" width="80" align="right">
	                </div>
	            </div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <br>
	        <!-----------------End Point Right------------------- -->
	        <p class="centerText">
	            <button data-inline="true" class="footpain2_mobile_8_y_link ui-btn ui-btn-l ui-btn-inline ui-shadow ui-corner-all" data-theme="l" (click)="togglePage(31)">Yes</button>
	            <button data-inline="true" class="footpain2_mobile_8_n_link ui-btn ui-btn-k ui-btn-inline ui-shadow ui-corner-all" data-theme="k" (click)="togglePage(32)">No</button>
	        </p>
	        <p>&nbsp;</p>
	    </div>
	    <!--end 7 div --> 
	    <div id="footpain2_mobile_8_y" *ngIf="page==31">
	        <!--start 8 div -->
	        <div class="maxwidth450">
	            <div class="ovalBorderRightBlue centerText">
	                <span class="redfontLarge">Yes?</span><br>
	                This usually occur with <span class="orangefont">plantar fasciitis.</span>
	            </div>
	            <div align="right"><img src="assets/img/pharm/female/pharm-lindsey.svg" width="100" alt="Pharmacist"></div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Border right person------------------- -->
	        <div class="blueBorderAll">
	            <p class="blueBorder centerText">Symptoms include:</p>
	            <ul>
	                <li>Foot pain  like a knife or a pin sticking into the bottom of the foot.</li>
	                <li>Like the bottom of the feet is burning</li>
	                <li>Aching when bearing weight.</li>
	                <li>Pain worse when you first arise in the morning.</li>
	                <li>Worse when you push off of the heel.</li>
	                <li>Pain worse when you stand up <span class="orangefont">after </span>sitting down for a length of time</li>
	            </ul>
	        </div>
	        <p class="centerText"><button data-inline="true" class="footpain2_mobile_8_n_link ui-btn ui-btn-inline ui-shadow ui-corner-all" (click)="togglePage(32)">Continue</button></p>
	        <p>&nbsp;</p>
	    </div>
	    <div id="footpain2_mobile_8_n" *ngIf="page==32">
	        <div class="maxwidth450">
	            <div class="ovalBorderRightBlue centerText">
	                <span>Does the pain get worse when you <span class="redfont">climb the stairs?</span></span><br>
	            </div>
	            <div align="right"><img src="assets/img/pharm/female/pharm-lindsey.svg" width="100" alt="Pharmacist"></div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Border right person------------------- -->
	        <p class="centerText">
	            <button data-inline="true" class="footpain2_mobile_9_y_link ui-btn ui-btn-l ui-btn-inline ui-shadow ui-corner-all" data-theme="l" (click)="togglePage(33)">Yes</button>
	            <button data-inline="true" class="footpain2_mobile_9_n_link ui-btn ui-btn-k ui-btn-inline ui-shadow ui-corner-all" data-theme="k" (click)="togglePage(34)">No</button>
	        </p>
	        <p>&nbsp;</p>
	    </div>
	    <!--end 8 div --> 
	    <div id="footpain2_mobile_9_y" *ngIf="page==33">
	        <!--start 9 div -->
	        <div class="maxwidth450">
	            <div class="ovalBorderRightBlue centerText">
	                <span class="bluefontLarge">Yes?</span><br>
	                This is a symptom of <span class="redfont">plantar fasciitis.</span>
	            </div>
	            <div align="right"><img src="assets/img/pharm/female/pharm-lindsey.svg" width="100" alt="Pharmacist"></div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Border right person------------------- -->
	        <div class="blueBorderAll">
	            <p class="blueBorder">With plantar fasciitis, the pain will get worse when you:</p>
	            <ul>
	                <li>First arise in the morning</li>
	                <li>Push off of the heel</li>
	                <li class="purple_redfont">Climb stairs</li>
	            </ul>
	        </div>
	        <div class="clearboth divider1"></div>
	        <p class="centerText">	<button data-inline="true" class="footpain2_mobile_9_n_link ui-btn ui-btn-inline ui-shadow ui-corner-all" (click)="togglePage(34)">Continue</button></p>
	        <p>&nbsp;</p>
	    </div>
	    <div id="footpain2_mobile_9_n" *ngIf="page==34">
	        <div class="maxwidth450">
	            <div class="ovalBorderRightBlue centerText">
	                <span>Does <span class="bluefont">standing</span> for a while make the pain become more like a <span class="bluefont">dull ache?</span></span><br>
	            </div>
	            <div align="right"><img src="assets/img/pharm/female/pharm-lindsey.svg" width="100" alt="Pharmacist"></div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Border right person------------------- -->
	        <div class="clearboth divider1"></div>
	        <p class="centerText">
	            <button data-inline="true" class="footpain2_mobile_10_y_link ui-btn ui-btn-l ui-btn-inline ui-shadow ui-corner-all" data-theme="l" (click)="togglePage(35)">Yes</button>
	            <button data-inline="true" class="footpain2_mobile_10_n_link ui-btn ui-btn-k ui-btn-inline ui-shadow ui-corner-all" data-theme="k" (click)="togglePage(36)">No</button>
	        </p>
	        <p>&nbsp;</p>
	    </div>
	    <!--end 9  div --> 
	    <div id="footpain2_mobile_10_y" *ngIf="page==35">
	        <!--start 10 div -->
	        <div class="maxwidth450">
	            <div class="ovalBorderRightBlue centerText">
	                <span class="bluefontLarge">Yes?</span><br>
	                This happens often with <span class="bluefont">plantar fasciitis.</span>
	            </div>
	            <div align="right"><img src="assets/img/pharm/female/pharm-lindsey.svg" width="100" alt="Pharmacist"></div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Border right person------------------- -->
	        <div class="clearboth divider1"></div>
	        <p class="centerText"><button data-inline="true" class="footpain2_mobile_10_n_link ui-btn ui-btn-inline ui-shadow ui-corner-all" (click)="togglePage(36)">Continue</button></p>
	        <p>&nbsp;</p>
	    </div>
	    <div id="footpain2_mobile_10_n" *ngIf="page==36">
	        <div class="maxwidth450">
	            <div class="ovalBorderRightBlue centerText">
	                <span class="bluefontLarge firstname">A,</span><br>
	                Those were  <span class="redfont">symptoms</span> of <span class="orangefont">plantar fasciitis.</span>
	            </div>
	            <div align="right"><img src="assets/img/pharm/female/pharm-lindsey.svg" width="100" alt="Pharmacist"></div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Border right person------------------- -->
	        <p class="redBorderAll">If you think it is what you are looking at, let's see what a pharmacist recommend you use that is available over-the-counter.</p>
	        <p class="redBorderAll centerText">Or would you like to seek urgent care?</p>
	        <!--------------------------Banner Link----------------------------- -->
	        <div>
	        </div>
	        <!--------------------------Banner Link----------------------------- -->
	        <div class="clearboth divider1"></div>
	        <p class="centerText">
	            <a href="#" (click)="gotoSubPage(0)" data-role="button" data-theme="j" data-inline="true" class="ui-link ui-btn ui-btn-j ui-btn-inline ui-shadow ui-corner-all" role="button">Urgent Care</a>
	            <a href="#" data-role="button" data-inline="true" class="ui-link ui-btn ui-btn-inline ui-shadow ui-corner-all" role="button" (click)="togglePage(40)">Continue</a>
	        </p>
	        <p>&nbsp;</p>
	    </div>
	    <!--end 10 div -->  
	    <p>&nbsp;</p>
	</div>

	<div class="ui-content" *ngIf="page>=40 && page<50">
	    <div id="slider_footpain3_mobile_div" *ngIf="page==40">
	        <div class="maxwidth450">
	            <div class="ovalBorderRightBlue centerText">
	                <span class="purple_redfont">One more question.</span><br>
	                <span> On a scale of 1 to 10, <span class="redfont">how bad</span> is this foot pain?</span>
	            </div>
	            <div align="right"><img src="assets/img/pharm/female/pharm-lindsey.svg" width="100" alt="Pharmacist"></div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Border right person------------------- -->
	        <p>&nbsp;</p>
	        <div data-role="fieldcontain" class="ui-field-contain">
	            <label for="slider_footpain3_mobile" id="slider_footpain3_mobile-label">I say a:</label>
	            <div class="ui-slider">
	            	<ion-item>
						<ion-range min="1" max="10" step="1" [(ngModel)]="currentPain" color="sliderPink">
							<ion-label range-left>{{currentPain}}</ion-label>
						</ion-range>
					</ion-item>
	            </div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <div class="centerText">
	        	<div class="ui-btn ui-input-btn ui-corner-all ui-shadow ui-btn-inline">Here you go<input type="button" id="get_footpain3_mobile_value" data-inline="true" value="Here you go" (click)="togglePage(41)"></div>
	        </div>
	    </div>
	    <br>
	    <div class="container_12" id="selected_footpain3_mobile_value_container" *ngIf="page==41">
	        <div class="maxwidth450">
	            <div class="ovalBorderRightBlue centerText">
	                <div id="selected_footpain3_mobile_value">
	                	You said:<span style="background-color:#FFFF99; border:inset; border-color:#FFFF00; padding:5px;">{{currentPain}}</span>
	                </div>
	            </div>
	            <div align="right"><img src="assets/img/pharm/female/pharm-lindsey.svg" alt="Pharmacist" width="80">
	            </div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Border right person------------------- -->
	    </div>
	    <br>
	    <div id="footpain3_mobile_option1" *ngIf="page==41 && currentPain<=3">
	        <h3>Option1</h3>
	    </div>
	    <div id="footpain3_mobile_option2" *ngIf="page==41 && currentPain<=7 && currentPain>3">
	        <h3>Option2</h3>
	    </div>
	    <div id="footpain3_mobile_option3" *ngIf="page==41 && currentPain>7">
	        <h3>Option3</h3>
	    </div>
	    <!-------------Start Options button------------------ --> 
	    <div id="options_btn_footpain3_mobile" *ngIf="page==41">
	        <!--------------------------Banner Link----------------------------- -->
	        <div>
	        </div>
	        <!--------------------------Banner Link----------------------------- -->
	        <input type="hidden" class="ClickValuePage1_25" value="">
	        <input type="hidden" class="ClickValuePage1_50" value="">
	        <input type="hidden" class="ClickValuePage1_100" value="">
	        <input type="hidden" class="ClickValuePage2_25" value="">
	        <input type="hidden" class="ClickValuePage2_50" value="">
	        <input type="hidden" class="ClickValuePage2_100" value="">
	        <input type="hidden" class="ClickValuePage3_25" value="">
	        <input type="hidden" class="ClickValuePage3_50" value="">
	        <input type="hidden" class="ClickValuePage3_100" value="">
	        <input type="hidden" class="totalResult" value="">
	        <div class="clearboth divider1"></div>
	        <p class="centerText">
	            <button class="back_footpain3_mobile_value ui-alt-icon ui-btn ui-btn-b ui-icon-back ui-btn-icon-notext ui-btn-inline ui-shadow ui-corner-all" data-inline="true" (click)="goBackPain()">Back</button>
	            <a href="#" (click)="gotoSubPage(0)" data-role="button" data-theme="j" data-inline="true" class="ui-link ui-btn ui-btn-j ui-btn-inline ui-shadow ui-corner-all" role="button">Find Clinic</a>
	            <a href="#" (click)="gotoSubPage(1)" class="foot_pain_mobile_infographics ui-link ui-btn ui-btn-inline ui-shadow ui-corner-all" data-role="button" data-inline="true" role="button">Continue</a>
	        </p>
	    </div>
	    <!--------------End Options Button----------------------- -->
	    <p>&nbsp;</p>
	    <p>&nbsp;</p>
	</div>
</ion-content>
