page-about{
  font-size: 16px;
  background-color: #FFF;
  
  .toolbar-background-md, .toolbar-background{
    background: #03a9f4;
  }
  .ui-page-theme-a a.ui-btn{
    border-color: transparent;
  }
  .grayback{
    padding: 0px !important;
    height: 82px;
  }
  .grayback .bgGray{
    height: 82px;
  }
  .grayback .bgGray p{
    line-height: 48px;
  }
  .grayback .toolbar-background-md, .grayback .toolbar-background{
    background: #f7f7f7;
  }
  .mbsc-ms-icons{
    height:82px; 
    overflow: scroll;
    white-space: nowrap;
  }
  #about_menustrip{
    border-bottom: 1px solid #03A9F4;
  }
  #about_menustrip li{
    display: inline-block;
    white-space: nowrap;
  }
  .feedback_selects ion-label{
    text-align: left;
  }
  button:focus{
    background-color: transparent;
  }
}

.about-header {
  background-color: #434954;
  padding: 16px;
  width: 100%;
  min-height: 150px;
  text-align: center;
}

.about-header img {
  max-width: 200px;
  min-height: 115px;
  margin-left: -15px;
  padding: 25px 0 20px 0;
}

.about-info p {
  color: #697072;
  text-align: left;
}

.about-info ion-icon {
  color: color($colors, primary);
  width: 20px;
}

.md,
.wp {
  .about-info [text-right] {
    margin-right: 0;
  }
}

.ios .about-info {
  text-align: center;
}

.ios .about-info ion-icon {
  width: auto;
  margin-right: 10px;
}

.tab-h {
  display: none;
}

.tab-sel {
  display: block;
}

.md-np {
  position:fixed;
  top: 95%;
  left: 0;
  margin-top: -35px;
  width: 35px;
  height: 70px;
  background-color:transparent;
  /*background: rgba(0,0,0,.1);*/
  line-height: 70px;
  font-size: 25px;
  text-align: center;
  color:#03a9f4;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.md-n {
   left: auto;
    right: 0;
}

