<!--  
  Generated template for the AllergiesMobile page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
      -->
<ion-header class="ui-header">

  <ion-navbar>
    <ion-title>
    	<h1 class="ui-title">
      	Sleep
      </h1>
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="showMenu()">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
	</ion-navbar>
  <ion-navbar class="fullWidth robotoLight bgPink" *ngIf="page>=0 && page<20">
    <p *ngIf="page==0">Difficulty sleeping?</p>
    <p *ngIf="page>0 && page<20">Why sleeping pills?</p>
  </ion-navbar>
  <ion-navbar class="fullWidth robotoLight bgPink" *ngIf="page>=40 && page<70">
    <p *ngIf="page>=40 && page<50">Also...</p>
    <p *ngIf="page>=50 && page<60">Tried Nothing So Far</p>
    <p *ngIf="page>=60 && page<70">Tried something</p>
  </ion-navbar>
</ion-header>

<ion-content class="ui-page-theme-n">
	<div class="ui-content" *ngIf="page==0">
	    <div class="maxwidth450">
	        <div class="ovalBorderRightBlue centerText">
	            <span> This  assumes you are having difficulty <span class="purplefont">falling </span>asleep or <span class="purplefont">staying</span> asleep through the night.</span><br>
	        </div>
	        <div align="right">
	            <img src="assets/img/pharm/female/pharm-bailey-cyan.svg" alt="Pharmacist" width="80">
	        </div>
	    </div>
	    <div class="clearboth divider1"></div>
	    <br>
	    <!-----------------End Border right person-------------------   -->
	    <div class="blueBorder">
	        <p>
	            Let's see what  can  get you some sleep that is available over the counter.
	        </p>
	        <p class="centerText">
	            <img src="assets/img/people/adult/head/sleeping-lady.svg" width="200" alt="lady with flu symptoms">
	        </p>
	    </div>
	    <!--------------------------Banner Link-----------------------------   -->
	    <div>
	    </div>
	    <!--------------------------Banner Link-----------------------------   -->
	    <!------Start Popoup div-----   -->   
	    <div style="display: none;" id="sleep_mobile_pop-placeholder">
	        <!-- placeholder for sleep_mobile_pop    -->
	    </div>
	    <!------End Popoup div-----   -->
	    <div class="clearboth divider1"></div>
	    <p class="centerText"> 
	        <a href="#" data-role="button" data-rel="popup" data-inline="true" data-transition="pop" data-theme="e" aria-haspopup="true" aria-owns="sleep_mobile_pop" aria-expanded="false" class="ui-link ui-btn ui-btn-e ui-btn-inline ui-shadow ui-corner-all" role="button" (click)="toggleFYIDlg(true)">FYI</a>
	        <a href="#" data-role="button" data-inline="true" class="ui-link ui-btn ui-btn-inline ui-shadow ui-corner-all" role="button" (click)="togglePage(1)">Continue</a>
	    </p>
	    <p>&nbsp;</p>
	</div>


	<div class="ui-content" *ngIf="page>0 && page<20">
	    <div id="sleep1_mobile_1" *ngIf="page==1">
	        <div class="maxwidth450">
	            <div class="ovalBorderRightBlue centerText">
	                <span>Is it that you <span class="purple_bluefont">can't fall asleep</span> on most nights?</span><br>
	            </div>
	            <div align="right"><img src="assets/img/pharm/female/pharm-bailey-cyan.svg" alt="Pharmacist" width="80">
	            </div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Border right person-------------------  -->
	        <div class="clearboth divider1"></div>
	        <p class="centerText">
	            <button data-inline="true" class="sleep1_mobile_2_n_link ui-btn ui-btn-l ui-btn-inline ui-shadow ui-corner-all" data-theme="l" (click)="togglePage(2)">Yes</button>
	            <button data-inline="true" class="sleep1_mobile_2_n_link ui-btn ui-btn-k ui-btn-inline ui-shadow ui-corner-all" data-theme="k" (click)="togglePage(3)">No</button>
	        </p>
	        <p>&nbsp;</p>
	    </div>
	    <div id="sleep1_mobile_2_y" *ngIf="page==2">
	        <h3>Yes?</h3>
	        <button data-inline="true" class="sleep1_mobile_2_n_link ui-btn ui-btn-inline ui-shadow ui-corner-all" (click)="togglePage(3)">Continue</button>		
	        <p>&nbsp;</p>
	    </div>
	    <div id="sleep1_mobile_2_n" *ngIf="page==3">
	        <div class="maxwidth450">
	            <div class="ovalBorderRightBlue centerText">
	                <span>Do you <span class="orangefont">keep waking up</span> during sleep?</span><br>
	            </div>
	            <div align="right"><img src="assets/img/pharm/female/pharm-bailey-cyan.svg" alt="Pharmacist" width="80">
	            </div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Border right person-------------------  -->
	        <p class="centerText">
	            <button data-inline="true" class="sleep1_mobile_3_y_link ui-btn ui-btn-l ui-btn-inline ui-shadow ui-corner-all" data-theme="l" (click)="togglePage(4)">Yes</button>
	            <button data-inline="true" class="sleep1_mobile_3_n_link ui-btn ui-btn-k ui-btn-inline ui-shadow ui-corner-all" data-theme="k" (click)="togglePage(5)">No</button>
	        </p>
	        <p>&nbsp;</p>
	    </div>
	    <div id="sleep1_mobile_3_y" *ngIf="page==4">
	        <div class="centerText">
	            <div class="maxwidth450">
	                <div class="ovalRightBlue">
	                    <span class="orangefont">Yes?</span><br>
	                    Hope you are not looking at <span class="orangefont">sleep apnea.</span><br>
	                    <span class="purplefontSmall">(See 'FYI' for a brief intro to sleep apnea)</span>
	                </div>
	                <img src="assets/img/pharm/female/pharm-bailey-cyan.svg" alt="Pharmacist" width="80">
	            </div>
	        </div>
	        <div class="clearboth divider10"></div>
	        <!------Start Popoup div-----  -->   
	        <div style="display: none;" id="sleep1_mobile_3_pop-placeholder">
	            <!-- placeholder for sleep1_mobile_3_pop   -->
	        </div>
	        <!------End Popoup div-----  -->
	        <div class="clearboth divider1"></div>
	        <p class="centerText"> 
	            <a href="#" data-role="button" data-rel="popup" data-inline="true" data-transition="pop" data-theme="m" aria-haspopup="true" aria-owns="sleep1_mobile_3_pop" aria-expanded="false" class="ui-link ui-btn ui-btn-m ui-btn-inline ui-shadow ui-corner-all" role="button" (click)="toggleFYIDlg2(true)">FYI</a> 
	            <button data-inline="true" class="sleep1_mobile_3_n_link ui-btn ui-btn-inline ui-shadow ui-corner-all" (click)="togglePage(5)">Continue</button>
	        </p>
	        <p>&nbsp;</p>
	    </div>
	    <div id="sleep1_mobile_3_n" *ngIf="page==5">
	        <div class="maxwidth450">
	            <div class="ovalBorderRightBlue centerText">
	                <span>Do you <span class="bluefont">wake up earlier</span> than you want to?</span><br>
	            </div>
	            <div align="right"><img src="assets/img/pharm/female/pharm-bailey-cyan.svg" alt="Pharmacist" width="80">
	            </div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Border right person-------------------  -->
	        <p class="centerText">
	            <button data-inline="true" class="sleep1_mobile_4_y_link ui-btn ui-btn-l ui-btn-inline ui-shadow ui-corner-all" data-theme="l" (click)="togglePage(6)">Yes</button>
	            <button data-inline="true" class="sleep1_mobile_4_n_link ui-btn ui-btn-k ui-btn-inline ui-shadow ui-corner-all" data-theme="k" (click)="togglePage(7)">No</button>
	        </p>
	        <p>&nbsp;</p>
	    </div>
	    <div id="sleep1_mobile_4_y" *ngIf="page==6">
	        <div class="centerText">
	            <div class="maxwidth450">
	                <div class="ovalRightBlue">
	                    <span class="greenfontLarge">Earlier?</span><br>
	                    Anyway, it depends on how you feel when you wake up.
	                </div>
	                <img src="assets/img/pharm/female/pharm-bailey-cyan.svg" alt="Pharmacist" width="80">
	            </div>
	        </div>
	        <div class="clearboth"></div>
	        <p class="blueBorder">If you wake up feeling refreshed, you are getting enough sleep. For some people, this may take only 4 hours. Others may need up to 10 hours to feel rested.</p>
	        <p class="blueBorderAll centerText">Let's Continue.</p>
	        <div class="clearboth divider1"></div>
	        <p class="centerText"><button data-inline="true" class="sleep1_mobile_4_n_link ui-btn ui-btn-inline ui-shadow ui-corner-all" (click)="togglePage(7)">Continue</button>	</p>
	        <p>&nbsp;</p>
	    </div>
	    <div id="sleep1_mobile_4_n" *ngIf="page==7">
	        <div class="maxwidth450">
	            <div class="ovalBorderRightBlue centerText">
	                <span>Do you <span class="orangefont">feel refreshed</span> on waking up?</span><br>
	            </div>
	            <div align="right"><img src="assets/img/pharm/female/pharm-bailey-cyan.svg" alt="Pharmacist" width="80">
	            </div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Border right person-------------------  -->
	        <p class="centerText">
	            <button data-inline="true" class="sleep1_mobile_5_n_link ui-btn ui-btn-l ui-btn-inline ui-shadow ui-corner-all" data-theme="l" (click)="togglePage(8)">Yes</button>
	            <button data-inline="true" class="sleep1_mobile_5_n_link ui-btn ui-btn-k ui-btn-inline ui-shadow ui-corner-all" data-theme="k" (click)="togglePage(9)">No</button>
	        </p>
	        <p>&nbsp;</p>
	    </div>
	    <div id="sleep1_mobile_5_y" *ngIf="page==8">
	        <h3>Yes?</h3>
	        <button data-inline="true" class="sleep1_mobile_5_n_link ui-btn ui-btn-inline ui-shadow ui-corner-all" (click)="togglePage(9)">Continue</button>		
	        <p>&nbsp;</p>
	    </div>
	    <div id="sleep1_mobile_5_n" *ngIf="page==9">
	        <div class="maxwidth450">
	            <div class="ovalBorderRightBlue centerText">
	                <span>What about <span class="purple_redfont">feeling tired</span> during the day due to too <span class="grayfont">little sleep?</span></span><br>
	            </div>
	            <div align="right"><img src="assets/img/pharm/female/pharm-bailey-cyan.svg" alt="Pharmacist" width="80">
	            </div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Border right person-------------------  -->
	        <p class="centerText">
	            <button data-inline="true" class="sleep1_mobile_6_n_link ui-btn ui-btn-l ui-btn-inline ui-shadow ui-corner-all" data-theme="l" (click)="togglePage(10)">Yes</button>
	            <button data-inline="true" class="sleep1_mobile_6_n_link ui-btn ui-btn-k ui-btn-inline ui-shadow ui-corner-all" data-theme="k" (click)="togglePage(11)">No</button>
	        </p>
	        <p>&nbsp;</p>
	    </div>
	    <div id="sleep1_mobile_6_y" *ngIf="page==10">
	        <h3>Yes?</h3>
	        <button data-inline="true" class="sleep1_mobile_6_n_link ui-btn ui-btn-inline ui-shadow ui-corner-all" (click)="togglePage(11)">Continue</button>		
	        <p>&nbsp;</p>
	    </div>
	    <div id="sleep1_mobile_6_n" *ngIf="page==11">
	        <div class="maxwidth450">
	            <div class="ovalBorderRightBlue centerText">
	                <span>Has this been going on for <span class="purplefont">a while</span> or <span class="orangefont">just started?</span></span><br>
	            </div>
	            <div align="right"><img src="assets/img/pharm/female/pharm-bailey-cyan.svg" alt="Pharmacist" width="80">
	            </div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Border right person-------------------  -->
	        <p class="centerText">
	            <button data-inline="true" class="sleep1_mobile_7_y_link ui-btn ui-btn-inline ui-shadow ui-corner-all" (click)="togglePage(12)">A while</button>
	            <button data-inline="true" class="sleep1_mobile_7_n_link ui-btn ui-btn-o ui-btn-inline ui-shadow ui-corner-all" data-theme="o" (click)="togglePage(13)">Just started</button>
	        </p>
	        <p>&nbsp;</p>
	    </div>
	    <div id="sleep1_mobile_7_y" *ngIf="page==12">
	        <div class="maxwidth450">
	            <div class="ovalBorderRightBlue">
	                <span class="bluefontLarge">A while?</span><br>
	                You should be seeing a doctor on this one.
	            </div>
	            <div align="right"><img src="assets/img/pharm/female/pharm-bailey-cyan.svg" alt="Pharmacist" width="80">
	            </div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Border left person-------------------  -->
	        <p class="blueBorder">Lack of sleep is a key symptom of depression, you should be checked for depression if you are having trouble sleeping.</p>
	        <p class="blueBorderAll">See a dcotor if your sleeping problem occur more than 3 nights per week for more than 1 month</p>
	        <p class="blueBorder">Let's continue to see what a pharmacist think would work for you over-the-counter until you can see a doctor for an evaluation if you are not at the moment.</p>
	        <div class="clearboth divider1"></div>
	        <p class="centerText"> 
	            <a href="#" data-role="button" data-inline="true" class="ui-link ui-btn ui-btn-inline ui-shadow ui-corner-all" role="button" (click)="togglePage(20)">Continue</a>
	        </p>
	        <p>&nbsp;</p>
	    </div>
	    <div id="sleep1_mobile_7_n" *ngIf="page==13">
	        <div class="maxwidth450">
	            <div class="ovalBorderRightBlue centerText">
	                <span class="bluefontLarge">Just starting?</span><br>
	                Sometimes good sleep hygiene is all you need if your sleeplessness is just starting.
	            </div>
	            <div align="right"><img src="assets/img/pharm/female/pharm-bailey-cyan.svg" alt="Pharmacist" width="80">
	            </div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Border right person-------------------  -->
	        <p class="blueBorder">Meanwhile, let's continue and see what can get you some sleep that is available over-the-counter if you are using good sleeping habits.</p>
	        <!--------------------------Banner Link-----------------------------  -->
	        <div>
	        </div>
	        <!--------------------------Banner Link-----------------------------  -->
	        <div class="clearboth divider1"></div>
	        <p class="centerText"> <a href="#" data-role="button" data-inline="true" class="ui-link ui-btn ui-btn-inline ui-shadow ui-corner-all" role="button" (click)="togglePage(20)">Continue</a></p>
	        <p>&nbsp;</p>
	    </div>
	    <p>&nbsp;</p>
	</div>


	<div class="ui-content" *ngIf="page>=20 && page<30">
	    <div id="sleep2_mobile_q1" *ngIf="page==20">
	        <div class="maxwidth450">
	            <div class="ovalBorderRightBlue centerText">
	                <span> Which of the <span class="orangefont">poor</span> <span class="purplefont">sleeping habits</span> below apply to you?</span><br>
	            </div>
	            <div align="right"><img src="assets/img/pharm/female/pharm-bailey-cyan.svg" alt="Pharmacist" width="80">
	            </div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Border right person-------------------  -->
	        <br>
	        <div id="sleep2_mobile_q1_form_div" style="background-color: rgb(255, 255, 255);" mbsc-enhance="" data-enhance="false" class="mbsc-comp mbsc-form mbsc-mobi-cyan mbsc-mobiscroll mbsc-ltr">
	            <label for="sleep2_mobile_q1_0" class="mbsc-checkbox" (click)="toggleHabit(0)"><input type="checkbox" name="sleep2_mobile_q1" id="sleep2_mobile_q1_0" class="sleep2_mobileQ1 mbsc-control mbsc-control-ev" value="" [(ngModel)]="habit[0]"><span class="mbsc-checkbox-box"></span><span class="mbsc-label">No specific bedtime
	            </span></label>
	            <hr class="hrcyan">
	            <label for="sleep2_mobile_q1_1" class="mbsc-checkbox" (click)="toggleHabit(1)"><input name="sleep2_mobile_q1" type="checkbox" class="sleep2_mobileQ1 mbsc-control mbsc-control-ev" id="sleep2_mobile_q1_1" value="" [(ngModel)]="habit[1]"><span class="mbsc-checkbox-box"></span><span class="mbsc-label">Spends too much time in bed while awake
	            </span></label>
	            <hr class="hrcyan">
	            <label for="sleep2_mobile_q1_2" class="mbsc-checkbox" (click)="toggleHabit(2)"><input type="checkbox" name="sleep2_mobile_q1" id="sleep2_mobile_q1_2" class="sleep2_mobileQ1 mbsc-control mbsc-control-ev" value="" [(ngModel)]="habit[2]"><span class="mbsc-checkbox-box"></span><span class="mbsc-label">Naps during the day
	            </span></label> 
	            <hr class="hrcyan">
	            <label for="sleep2_mobile_q1_3" class="mbsc-checkbox" (click)="toggleHabit(3)"><input type="checkbox" name="sleep2_mobile_q1" id="sleep2_mobile_q1_3" class="sleep2_mobileQ1 mbsc-control mbsc-control-ev" value="" [(ngModel)]="habit[3]"><span class="mbsc-checkbox-box"></span><span class="mbsc-label">Don't get enough exercise
	            </span></label>
	            <hr class="hrcyan">
	            <label for="sleep2_mobile_q1_4" class="mbsc-checkbox" (click)="toggleHabit(4)"><input type="checkbox" name="sleep2_mobile_q1" id="sleep2_mobile_q1_4" class="sleep2_mobileQ1 mbsc-control mbsc-control-ev" value="" [(ngModel)]="habit[4]"><span class="mbsc-checkbox-box"></span><span class="mbsc-label">Use laptop in bed often
	            </span></label> 
	            <hr class="hrcyan">
	            <label for="sleep2_mobile_q1_5" class="mbsc-checkbox" (click)="toggleHabit(5)"><input type="checkbox" name="sleep2_mobile_q1" id="sleep2_mobile_q1_5" class="sleep2_mobileQ1 mbsc-control mbsc-control-ev" value="" [(ngModel)]="habit[5]"><span class="mbsc-checkbox-box"></span><span class="mbsc-label">Talk a lot on the phone while in bed
	            </span></label>
	            <hr class="hrcyan">
	            <label for="sleep2_mobile_q1_7" class="mbsc-checkbox" (click)="toggleHabit(6)"><input type="checkbox" name="sleep2_mobile_q1" id="sleep2_mobile_q1_7" class="sleep2_mobileQ1 mbsc-control mbsc-control-ev" value="" [(ngModel)]="habit[6]"><span class="mbsc-checkbox-box"></span><span class="mbsc-label">Watch television in bed
	            </span></label>
	            <hr class="hrcyan">
	            <label for="sleep2_mobile_q1_6" class="mbsc-checkbox" (click)="toggleAllHabits(false)"><input type="checkbox" name="sleep2_mobile_q1" id="sleep2_mobile_q1_6" value="" class="mbsc-control mbsc-control-ev" [(ngModel)]="habit[7]"><span class="mbsc-checkbox-box"></span><span class="mbsc-label">None of these 
	            </span>
	            </label>
	            <hr class="hrcyan">
	            <div class="clearboth divider1"></div>
	            <p class="centerText"> <input type="button" data-inline="true" id="get_sleep2_mobile_q1" value="Here you  go" class="mbsc-control mbsc-btn mbsc-control-ev" (click)="togglePage(21)"></p>
	        </div>
	    </div>
	    <div class="container_12" id="selected_sleep2_mobile_q1_container" *ngIf="page==20 && mode==3">
	        <div class="grid_9">
	            <div class="bubbleRightBlue">
	                <div id="selected_sleep2_mobile_q1 centerText">
	                	<span class="redfontLarge">Oops!,</span>You told me nothing 
	                </div>
	                <!--empty division-  -->
	            </div>
	        </div>
	        <div class="grid_3">
	            <img src="assets/img/pharm/female/pharm-bailey-cyan.svg" width="80" alt="Pharmacist" align="right">
	        </div>
	    </div>
	    <div id="sleep2_mobile_other" *ngIf="page==21 && mode==2">
	        <div class="maxwidth450">
	            <div class="ovalBorderRightBlue centerText">
	                <span>It is important you get rid of this <span class="redfont">poor</span> sleep habit.</span><br>
	            </div>
	            <div align="right"><img src="assets/img/pharm/female/pharm-bailey-cyan.svg" alt="Pharmacist" width="80">
	            </div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Border right person-------------------  -->
	        <p class="purpleblueBorder">You should use the bed only for sleep. Consider it a place where you want to rest your head for the day.</p>
	    </div>
	    <div id="sleep2_mobile_none" *ngIf="page==21 && mode==1">
	        <div class="maxwidth450">
	            <div class="ovalBorderRightBlue centerText">
	                <span class="redfontLarge">None of these?</span><br>
	                Just a few more questions for you.
	            </div>
	            <div align="right"><img src="assets/img/pharm/female/pharm-bailey-cyan.svg" alt="Pharmacist" width="80">
	            </div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Border right person-------------------  -->
	    </div>
	    <!-------------Start Options button------------------  --> 
	    <div id="options_btn_sleep2_mobile" *ngIf="page==21">
	        <!--------------------------Banner Link-----------------------------  -->
	        <div>
	        </div>
	        <!--------------------------Banner Link-----------------------------  -->
	        <div class="clearboth divider1"></div>
	        <p class="centerText">
	            <button class="back_sleep2_mobile_q1 ui-alt-icon ui-btn ui-btn-b ui-icon-back ui-btn-icon-notext ui-btn-inline ui-shadow ui-corner-all" data-inline="true" (click)="goBack()">Back</button>
	            <a href="#" data-role="button" data-theme="e" data-inline="true" class="ui-link ui-btn ui-btn-e ui-btn-inline ui-shadow ui-corner-all" role="button" (click)="togglePage(30)">Continue</a>
	        </p>
	    </div>
	    <!--------------End Options Button-----------------------  -->
	    <p>&nbsp;</p>
	    <p>&nbsp;</p>
	    <p>&nbsp;</p>
	</div>


	<div class="ui-content" *ngIf="page>=30 && page<40">
	    <div id="sleep3_mobile_q1" *ngIf="page==30">
	        <div class="maxwidth450">
	            <div class="ovalBorderRightBlue centerText">
	                <span>What about <span class="orangefont">medications?</span></span><br>
	                Which of these did you take <span class="redfont">lately?</span>
	            </div>
	            <div align="right"><img src="assets/img/pharm/female/pharm-bailey-cyan.svg" alt="Pharmacist" width="80">
	            </div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <br>
	        <!-----------------End Border right person-------------------  -->
	        <div id="sleep3_mobile_q1_form_div" style="background-color: rgb(255, 255, 255);" mbsc-enhance="" data-enhance="false" class="mbsc-comp mbsc-form mbsc-mobi-cyan mbsc-mobiscroll mbsc-ltr">
	            <label for="sleep3_mobile_q1_0" class="mbsc-checkbox" (click)="toggleMedi(0)"><input type="checkbox" name="sleep3_mobile_q1" id="sleep3_mobile_q1_0" class="sleep3_mobileQ1 mbsc-control mbsc-control-ev" value="" [(ngModel)]="medi[0]"><span class="mbsc-checkbox-box"></span><span class="mbsc-label">Cold medications
	            </span></label>
	            <hr class="hrcyan">
	            <label for="sleep3_mobile_q1_1" class="mbsc-checkbox" (click)="toggleMedi(1)"><input name="sleep3_mobile_q1" type="checkbox" class="sleep3_mobileQ1 mbsc-control mbsc-control-ev" id="sleep3_mobile_q1_1" value="" [(ngModel)]="medi[1]"><span class="mbsc-checkbox-box"></span><span class="mbsc-label">Narcotic painkillers
	            </span></label>
	            <hr class="hrcyan">
	            <label for="sleep3_mobile_q1_2" class="mbsc-checkbox" (click)="toggleMedi(2)"><input type="checkbox" name="sleep3_mobile_q1" id="sleep3_mobile_q1_2" class="sleep3_mobileQ1 mbsc-control mbsc-control-ev" value="" [(ngModel)]="medi[2]"><span class="mbsc-checkbox-box"></span><span class="mbsc-label">Stuff with hydrocodone
	            </span></label>
	            <hr class="hrcyan">
	            <label for="sleep3_mobile_q1_3" class="mbsc-checkbox" (click)="toggleMedi(3)"><input type="checkbox" name="sleep3_mobile_q1" id="sleep3_mobile_q1_3" class="sleep3_mobileQ1 mbsc-control mbsc-control-ev" value="" [(ngModel)]="medi[3]"><span class="mbsc-checkbox-box"></span><span class="mbsc-label">Alcohol
	            </span></label> 
	            <hr class="hrcyan">
	            <label for="sleep3_mobile_q1_4" class="mbsc-checkbox" (click)="toggleMedi(4)"><input type="checkbox" name="sleep3_mobile_q1" id="sleep3_mobile_q1_4" class="sleep3_mobileQ1 mbsc-control mbsc-control-ev" value="" [(ngModel)]="medi[4]"><span class="mbsc-checkbox-box"></span><span class="mbsc-label">Late evening caffeine
	            </span></label> 
	            <hr class="hrcyan">
	            <label for="sleep3_mobile_q1_5" class="mbsc-checkbox" (click)="toggleMedi(5)"><input type="checkbox" name="sleep3_mobile_q1" id="sleep3_mobile_q1_5" value="" class="mbsc-control mbsc-control-ev" [(ngModel)]="medi[5]"><span class="mbsc-checkbox-box"></span><span class="mbsc-label">Other type not listed
	            </span></label> 
	            <hr class="hrcyan">
	            <label for="sleep3_mobile_q1_6" class="mbsc-checkbox" (click)="toggleAllMedis(false)"><input type="checkbox" name="sleep3_mobile_q1" id="sleep3_mobile_q1_6" value="" class="mbsc-control mbsc-control-ev" [(ngModel)]="medi[6]"><span class="mbsc-checkbox-box"></span><span class="mbsc-label">No medication whatsoever
	            </span></label> 
	            <hr class="hrcyan">
	            <div class="clearboth divider1"></div>
	            <p class="centerText"> <input type="button" data-inline="true" id="get_sleep3_mobile_q1" value="Here you  go" class="mbsc-control mbsc-btn mbsc-control-ev" (click)="togglePage(31)"></p>
	        </div>
	    </div>
	    <div class="container_12" id="selected_sleep3_mobile_q1_container" *ngIf="page==30 && mode==4">
	        <div class="grid_9">
	            <div class="bubbleRightBlue">
	                <div id="selected_sleep3_mobile_q1 centerText">
	                	<span class="redfontLarge">Oops!,</span> You told me nothing 
	                </div>
	                <!--empty division-  -->
	            </div>
	        </div>
	        <div class="grid_3">
	            <img src="assets/img/pharm/female/pharm-bailey-cyan.svg" width="80" alt="Pharmacist" align="right">
	        </div>
	    </div>
	    <div id="sleep3_mobile_other" *ngIf="page==31 && mode==3">
	        <div class="maxwidth450">
	            <div class="ovalBorderRightBlue centerText">
	                <span class="firstname"> </span><br>
	                Some medications can cause lack of sleep. The list include these medications.
	            </div>
	            <div align="right"><img src="assets/img/pharm/female/pharm-bailey-cyan.svg" alt="Pharmacist" width="80">
	            </div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Border right person-------------------  -->
	    </div>
	    <div id="sleep3_mobile_not_listed" *ngIf="page==31 && mode==2">
	        <div class="maxwidth450">
	            <div class="ovalBorderRightBlue centerText">
	                <span class="orangefontLarge">Not listed?</span><br>
	                Some medications can cause lack of sleep. Check the side effects.
	            </div>
	            <div align="right"><img src="assets/img/pharm/female/pharm-bailey-cyan.svg" alt="Pharmacist" width="80">
	            </div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Border right person-------------------  -->
	    </div>
	    <div id="sleep3_mobile_none" *ngIf="page==31 && mode==1">
	        <div class="maxwidth450">
	            <div class="ovalBorderRightBlue centerText">
	                <span class="bluefontLarge">Nothing?</span><br>
	                Great. Some medications can cause lack of sleep. Let's continue.
	            </div>
	            <div align="right"><img src="assets/img/pharm/female/pharm-bailey-cyan.svg" alt="Pharmacist" width="80">
	            </div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Border right person-------------------  -->
	    </div>
	    <!-------------Start Options button------------------  --> 
	    <div id="options_btn_sleep3_mobile" *ngIf="page==31">
	        <!--------------------------Banner Link-----------------------------  -->
	        <div>
	        </div>
	        <!--------------------------Banner Link-----------------------------  -->
	        <div class="clearboth divider1"></div>
	        <p class="centerText">
	            <button class="back_sleep3_mobile_q1 ui-alt-icon ui-btn ui-btn-b ui-icon-back ui-btn-icon-notext ui-btn-inline ui-shadow ui-corner-all" data-inline="true" (click)="goBack3()">Back</button>
	            <a href="#" data-role="button" data-inline="true" class="ui-link ui-btn ui-btn-inline ui-shadow ui-corner-all" role="button" (click)="togglePage(40)">Continue</a>
	        </p>
	    </div>
	    <!--------------End Options Button-----------------------  --> 
	    <p>&nbsp;</p>
	    <p>&nbsp;</p>
	</div>


	<div class="ui-content" *ngIf="page>=40 && page<50">
	    <div id="sleep4_mobile_q1" *ngIf="page==40">
	        <div class="maxwidth450">
	            <div class="ovalBorderRightBlue centerText">
	                <span>Physical, social, and mental health issues can affect<span class="orangefont"> sleep patterns.</span></span><br>
	            </div>
	            <div align="right"><img src="assets/img/pharm/female/pharm-bailey-cyan.svg" alt="Pharmacist" width="80">
	            </div>
	        </div>
	        <div class="clearboth divider12"></div>
	        <br>
	        <!-----------------End Border right person-------------------  -->
	        <p class="blueBorder bluefontLarge centerText">Which of these apply to you?</p>
	        <br>
	        <div id="sleep4_mobile_q1_form_div" style="background-color: rgb(255, 255, 255);" mbsc-enhance="" data-enhance="false" class="mbsc-comp mbsc-form mbsc-mobi-cyan mbsc-mobiscroll mbsc-ltr">
	            <label for="sleep4_mobile_q1_0" class="mbsc-checkbox" (click)="togglePattern(0)"><input type="checkbox" name="sleep4_mobile_q1" id="sleep4_mobile_q1_0" class="sleep4_mobileQ1 mbsc-control mbsc-control-ev" value="" [(ngModel)]="pattern[0]"><span class="mbsc-checkbox-box"></span><span class="mbsc-label">List medical conditions
	            </span></label>
	            <hr class="hrcyan">
	            <label for="sleep4_mobile_q1_1" class="mbsc-checkbox" (click)="togglePattern(1)"><input name="sleep4_mobile_q1" type="checkbox" class="sleep4_mobileQ1 mbsc-control mbsc-control-ev" id="sleep4_mobile_q1_1" value="" [(ngModel)]="pattern[1]"><span class="mbsc-checkbox-box"></span><span class="mbsc-label">TEXT
	            </span></label>
	            <hr class="hrcyan">
	            <label for="sleep4_mobile_q1_2" class="mbsc-checkbox" (click)="togglePattern(2)"><input type="checkbox" name="sleep4_mobile_q1" id="sleep4_mobile_q1_2" class="sleep4_mobileQ1 mbsc-control mbsc-control-ev" value="" [(ngModel)]="pattern[2]"><span class="mbsc-checkbox-box"></span><span class="mbsc-label">TEXT
	            </span></label> 
	            <hr class="hrcyan">
	            <label for="sleep4_mobile_q1_3" class="mbsc-checkbox" (click)="togglePattern(3)"><input type="checkbox" name="sleep4_mobile_q1" id="sleep4_mobile_q1_3" class="sleep4_mobileQ1 mbsc-control mbsc-control-ev" value="" [(ngModel)]="pattern[3]"><span class="mbsc-checkbox-box"></span><span class="mbsc-label">TEXT
	            </span></label>
	            <hr class="hrcyan">
	            <label for="sleep4_mobile_q1_4" class="mbsc-checkbox" (click)="togglePattern(4)"><input type="checkbox" name="sleep4_mobile_q1" id="sleep4_mobile_q1_4" class="sleep4_mobileQ1 mbsc-control mbsc-control-ev" value="" [(ngModel)]="pattern[4]"><span class="mbsc-checkbox-box"></span><span class="mbsc-label">TEXT
	            </span></label> 
	            <hr class="hrcyan">
	            <label for="sleep4_mobile_q1_5" class="mbsc-checkbox" (click)="togglePattern(5)"><input type="checkbox" name="sleep4_mobile_q1" id="sleep4_mobile_q1_5" class="sleep4_mobileQ1 mbsc-control mbsc-control-ev" value="" [(ngModel)]="pattern[5]"><span class="mbsc-checkbox-box"></span><span class="mbsc-label">TEXT
	            </span></label> 
	            <hr class="hrcyan">
	            <label for="sleep4_mobile_q1_6" class="mbsc-checkbox" (click)="toggleAllPattern(false)"><input type="checkbox" name="sleep4_mobile_q1" id="sleep4_mobile_q1_6" value="" class="mbsc-control mbsc-control-ev" [(ngModel)]="pattern[6]"><span class="mbsc-checkbox-box"></span><span class="mbsc-label">None of these
	            </span></label> 
	            <hr class="hrcyan">
	            <div class="clearboth divider1"></div>
	            <p class="centerText"><input type="button" data-inline="true" id="get_sleep4_mobile_q1" value="Here you  go" class="mbsc-control mbsc-btn mbsc-control-ev" (click)="togglePage(41)"></p>
	        </div>
	    </div>
	    <div class="container_12" id="selected_sleep4_mobile_q1_container" *ngIf="page==40 && mode==3">
	        <div class="grid_9">
	            <div class="bubbleRightBlue">
	                <div id="selected_sleep4_mobile_q1 centerText">
	                	<span class="redfontLarge">Oops!,</span>You told me nothing
	                </div>
	                <!--empty division-  -->
	            </div>
	        </div>
	        <div class="grid_3">
	            <img src="assets/img/pharm/female/pharm-bailey-cyan.svg" width="80" alt="Pharmacist" align="right">
	        </div>
	    </div>
	    <div id="sleep4_mobile_other" *ngIf="page==41 && mode==2">
	        <div class="maxwidth450">
	            <div class="ovalBorderRightBlue centerText">
	                <span> This <span class="redfont">can affect</span> your sleep. Hope you are getting some medical help for these.</span><br>
	            </div>
	            <div align="right"><img src="assets/img/pharm/female/pharm-bailey-cyan.svg" alt="Pharmacist" width="80">
	            </div>
	        </div>
	        <div class="clearboth divider11"></div>
	        <!-----------------End Border right person-------------------  -->
	        <p class="blueBorder redfontLarge centerText">Tried something yet?</p>
	    </div>
	    <div id="sleep4_mobile_none" *ngIf="page==41 && mode==1">
	        <div class="maxwidth450">
	            <div class="ovalBorderRightBlue centerText">
	                <span class="redfontLarge">None of these?</span><br>
	                Anyway, have you <span class="purple_redfont">tried</span> something yet?
	            </div>
	            <div align="right"><img src="assets/img/pharm/female/pharm-bailey-cyan.svg" alt="Pharmacist" width="80">
	            </div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Border right person-------------------  -->    
	    </div>
	    <!-------------Start Options button------------------  --> 
	    <div id="options_btn_sleep4_mobile" *ngIf="page==41">
	        <!--------------------------Banner Link-----------------------------  -->
	        <div>
	        </div>
	        <!--------------------------Banner Link-----------------------------  -->
	        <div class="clearboth divider1"></div>
	        <p class="centerText">
	            <button class="back_sleep4_mobile_q1 ui-alt-icon ui-btn ui-btn-b ui-icon-back ui-btn-icon-notext ui-btn-inline ui-shadow ui-corner-all" data-inline="true" (click)="goBack4()">Back</button>
	            <a href="#" data-role="button" data-inline="true" data-theme="l" class="ui-link ui-btn ui-btn-l ui-btn-inline ui-shadow ui-corner-all" role="button" (click)="togglePage(60)">Yes</a>
	            <a href="#" data-role="button" data-inline="true" data-theme="k" class="ui-link ui-btn ui-btn-k ui-btn-inline ui-shadow ui-corner-all" role="button" (click)="togglePage(50)">No</a>
	        </p>
	    </div>
	    <!--------------End Options Button-----------------------  -->
	    <p>&nbsp;</p>
	    <p>&nbsp;</p>
	</div>


	<div class="ui-content" *ngIf="page==50">
	    <div class="maxwidth450">
	        <div class="ovalBorderRightBlue centerText">
	            <span class="bluefontLarge">Nothing yet?</span><br>
	            Oh well, let's see what a pharmacist recommend for sleep that is available over-the-counter.
	        </div>
	        <div align="right"><img src="assets/img/pharm/female/pharm-bailey-cyan.svg" alt="Pharmacist" width="80">
	        </div>
	    </div>
	    <div class="clearboth divider1"></div>
	    <!-----------------End Border right person-------------------  -->
	    <p class="blueBorder">Or would you like to see the nearest urgent care clinic to you?</p>
	    <!--------------------------Banner Link-----------------------------  -->
	    <div>
	    </div>
	    <!--------------------------Banner Link-----------------------------  -->
	    <input type="hidden" class="ClickValuePage1_25" value="25">
	    <input type="hidden" class="ClickValuePage1_50" value="">
	    <input type="hidden" class="ClickValuePage1_100" value="">
	    <input type="hidden" class="ClickValuePage2_25" value="">
	    <input type="hidden" class="ClickValuePage2_50" value="">
	    <input type="hidden" class="ClickValuePage2_100" value="">
	    <input type="hidden" class="ClickValuePage3_25" value="">
	    <input type="hidden" class="ClickValuePage3_50" value="">
	    <input type="hidden" class="ClickValuePage3_100" value="">
	    <input type="hidden" class="totalResult" value="">
	    <div class="clearboth divider1"></div>
	    <p class="centerText"> 
	    	<a href="#" data-rel="dialog" data-role="button" data-theme="e" data-inline="true" class="ui-link ui-btn ui-btn-e ui-btn-inline ui-shadow ui-corner-all" role="button" (click)="gotoSubPage(0)">Clinic</a>
	        <a href="#" data-role="button" data-inline="true" class="ui-link ui-btn ui-btn-inline ui-shadow ui-corner-all" role="button" (click)="gotoSubPage(1)">Continue</a>
	    </p>
	    <p>&nbsp;</p>
	</div>


	<div class="ui-content" *ngIf="page>=60 && page<70">
	    <div id="sleep6_mobile_q1" *ngIf="page==60">
	        <div class="maxwidth450">
	            <div class="ovalBorderRightBlue centerText">
	                <span>What have you <span class="purplefont">tried so far?</span></span><br>
	                <span class="purplefontSmall">Here are what we think below.</span>
	            </div>
	            <div align="right"><img src="assets/img/pharm/female/pharm-bailey-cyan.svg" alt="Pharmacist" width="80">
	            </div>
	        </div>
	        <div class="clearboth divider10"></div>
	        <br>
	        <!-----------------End Border right person------------------- -->
	        <div id="sleep6_mobile_q1_form_div" style="background-color: rgb(255, 255, 255);" mbsc-enhance="" data-enhance="false" class="mbsc-comp mbsc-form mbsc-mobi-cyan mbsc-mobiscroll mbsc-ltr">
	            <label for="sleep6_mobile_q1_0" class="mbsc-checkbox" (click)="toggleTriedlist(0)"><input type="checkbox" name="sleep6_mobile_q1" id="sleep6_mobile_q1_0" class="sleep6_mobileQ1 mbsc-control mbsc-control-ev" value="" [(ngModel)]="triedlist[0]"><span class="mbsc-checkbox-box"></span><span class="mbsc-label">Naturals like melatonin and valerian
	            </span></label>
	            <hr class="hrcyan">
	            <label for="sleep6_mobile_q1_1" class="mbsc-checkbox" (click)="toggleTriedlist(1)"><input name="sleep6_mobile_q1" type="checkbox" class="sleep6_mobileQ1 mbsc-control mbsc-control-ev" id="sleep6_mobile_q1_1" value="" [(ngModel)]="triedlist[1]"><span class="mbsc-checkbox-box"></span><span class="mbsc-label">Antihistamine
	            </span></label>
	            <hr class="hrcyan">
	            <label for="sleep6_mobile_q1_2" class="mbsc-checkbox" (click)="toggleTriedlist(2)"><input type="checkbox" name="sleep6_mobile_q1" id="sleep6_mobile_q1_2" class="sleep6_mobileQ1 mbsc-control mbsc-control-ev" value="" [(ngModel)]="triedlist[2]"><span class="mbsc-checkbox-box"></span><span class="mbsc-label">Behavioral modifications
	            </span></label> 
	            <hr class="hrcyan">
	            <label for="sleep6_mobile_q1_3" class="mbsc-checkbox" (click)="toggleTriedlist(3)"><input type="checkbox" name="sleep6_mobile_q1" id="sleep6_mobile_q1_3" class="sleep6_mobileQ1 mbsc-control mbsc-control-ev" value="" [(ngModel)]="triedlist[3]"><span class="mbsc-checkbox-box"></span><span class="mbsc-label">Prescription sleep aid
	            </span></label> 
	            <hr class="hrcyan">
	            <label for="sleep6_mobile_q1_4" class="mbsc-checkbox" (click)="toggleTriedlist(4)"><input type="checkbox" name="sleep6_mobile_q1" id="sleep6_mobile_q1_4" class="sleep6_mobileQ1 mbsc-control mbsc-control-ev" value="" [(ngModel)]="triedlist[4]"><span class="mbsc-checkbox-box"></span><span class="mbsc-label">Stopped taking my medications
	            </span></label> 
	            <hr class="hrcyan">
	            <label for="sleep6_mobile_q1_5" class="mbsc-checkbox" (click)="toggleTriedlist(5)"><input type="checkbox" name="sleep6_mobile_q1" id="sleep6_mobile_q1_5" class="sleep6_mobileQ1 mbsc-control mbsc-control-ev" value="" [(ngModel)]="triedlist[5]"><span class="mbsc-checkbox-box"></span><span class="mbsc-label">Alcohol
	            </span></label>
	            <hr class="hrcyan">
	            <label for="sleep6_mobile_q1_6" class="mbsc-checkbox" (click)="toggleAllTriedlists(false)"><input type="checkbox" name="sleep6_mobile_q1" id="sleep6_mobile_q1_6" value="" class="mbsc-control mbsc-control-ev" [(ngModel)]="triedlist[6]"><span class="mbsc-checkbox-box"></span><span class="mbsc-label">None of these
	            </span>
	            </label> 
	            <hr class="hrcyan">
	            <div class="clearboth divider1"></div>
	            <p class="centerText"><input type="button" data-inline="true" data-theme="j" id="get_sleep6_mobile_q1" value="Here you go" class="mbsc-control mbsc-btn mbsc-control-ev" (click)="togglePage(61)"></p>
	        </div>
	    </div>
	    <div class="container_12" id="selected_sleep6_mobile_q1_container" *ngIf="page==60 && mode==4">
	        <div class="grid_9">
	            <div class="bubbleRightBlue">
	                <div id="selected_sleep6_mobile_q1 centerText"></div>
	                <!--empty division- -->
	            </div>
	        </div>
	        <div class="grid_3">
	            <img src="assets/img/pharm/female/pharm-bailey-cyan.svg" width="80" alt="Pharmacist" align="right">
	        </div>
	    </div>
	    <div id="sleep6_mobile_other" *ngIf="page==61 && mode==3">
	        <div class="maxwidth450">
	            <div class="ovalBorderRightBlue centerText">
	                <span class="bluefontLarge firstname"> </span><br>
	                Let's see what a pharmacist recommend you use over-the-counter.
	            </div>
	            <div align="right"><img src="assets/img/pharm/female/pharm-bailey-cyan.svg" alt="Pharmacist" width="80">
	            </div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Border right person------------------- -->
	        <p class="blueBorder">Just to  remind you that over-the-counter sleep aids are for occasional use like if your menstrual period is here or if you have a big day tomorrow and you want to sleep good.</p>
	        <p class="blueBorderAll"> If sleep problems persists, let your doctor know. It may be a sign of something serious.</p>
	        <!--------------------------Banner Link----------------------------- -->
	        <div>
	        </div>
	        <!--------------------------Banner Link----------------------------- -->
	        <div class="clearboth divider1"></div>
	        <p class="centerText">
	            <button class="back_sleep6_mobile_q1 ui-alt-icon ui-btn ui-btn-b ui-icon-back ui-btn-icon-notext ui-btn-inline ui-shadow ui-corner-all" data-inline="true" (click)="goBack5()">Back</button>
	            <a href="#" data-role="button" data-theme="j" data-inline="true" class="ui-link ui-btn ui-btn-j ui-btn-inline ui-shadow ui-corner-all" role="button" (click)="gotoSubPage(0)">Find Clinic</a>
	            <a href="#" data-role="button" data-inline="true" class="ui-link ui-btn ui-btn-inline ui-shadow ui-corner-all" role="button" (click)="gotoSubPage(1)">Continue</a>
	        </p>
	    </div>
	    <div id="sleep6_mobile_prescription" *ngIf="page==61 && mode==2">
	        <div class="maxwidth450">
	            <div class="ovalBorderRightBlue centerText">
	                <span class="purplefont">Prescription</span> <span class="redfontLarge">sleep aid?</span><br>
	                You may want to check with the doctor if it is not working.
	            </div>
	            <div align="right"><img src="assets/img/pharm/female/pharm-bailey-cyan.svg" alt="Pharmacist" width="80">
	            </div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Border right person------------------- --> 
	        <p class="blueBorder">If you ran out of the prescription and would like to see what a pharmacist recommend over-the-counter, let's continue.</p>
	        <p>Just to remind you that over-the-counter sleep aids are  for occasional use like if your menstrual period is here or if you have a big day tomorrow and you want to sleep good and so on.</p>
	        <p class="blueBorder"> If sleep problems persists, let your doctor know. It may be a sign of something serious.</p>
	        <!--------------------------Banner Link----------------------------- -->
	        <div>
	        </div>
	        <!--------------------------Banner Link----------------------------- -->
	        <div class="clearboth divider1"></div>
	        <p class="centerText">
	            <button class="back_sleep6_mobile_q1 ui-alt-icon ui-btn ui-btn-b ui-icon-back ui-btn-icon-notext ui-btn-inline ui-shadow ui-corner-all" data-inline="true" (click)="goBack5()">Back</button>
	            <a href="#" data-role="button" data-theme="j" data-inline="true" class="ui-link ui-btn ui-btn-j ui-btn-inline ui-shadow ui-corner-all" role="button" (click)="gotoSubPage(0)">Clinic</a>
	            <a href="#" data-role="button" data-inline="true" class="ui-link ui-btn ui-btn-inline ui-shadow ui-corner-all" role="button" (click)="gotoSubPage(1)">Continue</a>
	        </p>
	    </div>
	    <div id="sleep6_mobile_none" *ngIf="page==61 && mode==1">
	        <div class="maxwidth450">
	            <div class="ovalBorderRightBlue centerText">
	                <span class="redfontLarge">None of these?</span><br>
	                Alright, let's see what a pharmacist recommend you take over-the-counter.
	            </div>
	            <div align="right"><img src="assets/img/pharm/female/pharm-bailey-cyan.svg" alt="Pharmacist" width="80">
	            </div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Border right person------------------- -->  
	        <p class="blueBorder">Just to remind you that over-the-counter sleep aids are  for occasional use like if your menstrual period is here or if you have a big day tomorrow and you want to sleep good and so on.</p>
	        <p class="blueBorderAll"> If sleep problems persists, let your doctor know. It may be a sign of something serious.</p>
	        <!--------------------------Banner Link----------------------------- -->
	        <div>
	        </div>
	        <!--------------------------Banner Link----------------------------- -->
	        <div class="clearboth divider1"></div>
	        <p class="centerText">
	            <button class="back_sleep6_mobile_q1 ui-alt-icon ui-btn ui-btn-b ui-icon-back ui-btn-icon-notext ui-btn-inline ui-shadow ui-corner-all" data-inline="true" (click)="goBack5()">Back</button>
	            <a href="#" data-role="button" data-theme="j" data-inline="true" class="ui-link ui-btn ui-btn-j ui-btn-inline ui-shadow ui-corner-all" role="button" (click)="gotoSubPage(0)">Find Clinic</a>
	            <a href="#" data-role="button" data-inline="true" class="ui-link ui-btn ui-btn-inline ui-shadow ui-corner-all" role="button" (click)="gotoSubPage(1)">Continue</a>
	        </p>
	    </div>
	    <p>&nbsp;</p>
	    <p>&nbsp;</p>
	</div>

	<div class="ui-popup-screen ui-overlay-b in" id="sleep_mobile_pop-screen" *ngIf="FYIDlg.show" (click)="toggleFYIDlg(false)"></div>
	<div class="ui-popup-container pop in ui-popup-active" id="sleep_mobile_pop-popup" *ngIf="FYIDlg.show" [ngStyle]="{'max-width': FYIDlg.maxWidth+'px','top': FYIDlg.top+'px', 'left': FYIDlg.left+'px', 'width': FYIDlg.width+'px'}">
	    <div data-role="popup" id="sleep_mobile_pop" class="ui-content ui-popup ui-body-inherit ui-overlay-shadow ui-corner-all" data-overlay-theme="b" data-position-to="window">
	        <a href="#" data-rel="back" data-role="button" data-icon="delete" data-iconpos="notext" class="ui-btn-right ui-link ui-btn ui-icon-delete ui-btn-icon-notext ui-shadow ui-corner-all" role="button" (click)="toggleFYIDlg(false)">Close</a>
	        <p class="blueBorderAll">If you have to take over-the-counter sleep aids for more than 5 nights in a row, then it is time to talk to a doctor.<br>Often, lack of sleep is the symptom that would make someone with depression who doesn't know to seek medical help.</p>
	    </div>
	</div>

	<div class="ui-popup-screen ui-overlay-b in" id="sleep1_mobile_3_pop-screen" *ngIf="FYIDlg2.show" (click)="toggleFYIDlg2(false)"></div>
	<div class="ui-popup-container pop in ui-popup-active" id="sleep1_mobile_3_pop-popup" *ngIf="FYIDlg2.show" [ngStyle]="{'max-width': FYIDlg2.maxWidth+'px','top': FYIDlg2.top+'px', 'left': FYIDlg2.left+'px', 'width': FYIDlg2.width+'px'}">
	    <div data-role="popup" id="sleep1_mobile_3_pop" class="ui-content ui-popup ui-body-inherit ui-overlay-shadow ui-corner-all" data-overlay-theme="b" data-position-to="window">
	        <a href="#" data-rel="back" data-role="button" data-icon="delete" data-iconpos="notext" class="ui-btn-right ui-link ui-btn ui-icon-delete ui-btn-icon-notext ui-shadow ui-corner-all" role="button" (click)="toggleFYIDlg2(false)">Close</a>
	        <p class="blueBorder">(Discuss sleep apnea) Central sleep apnea consists of repeated episodes of breathing cessation or shallow breathing during sleep, lasting at least 10 sec, caused by diminished respiratory effort. The disorder typically manifests as insomnia or as disturbed and unrefreshing sleep.</p>
	        <p>
	            Obstructive sleep apnea consists of episodes of partial or complete closure of the upper airway during sleep, leading to cessation of breathing for &gt; 10 sec. Sometimes patients awaken, gasping. These episodes disrupt sleep and result in a feeling of unrefreshing sleep and EDS
	        </p>
	        <p>Sleep maintenance insomnia suggests advanced sleep phase syndrome, major depression, central or obstructive sleep apnea, periodic limb movement disorder, or aging. In patients with significant snoring, frequent awakenings, and other risk factors, obstructive sleep apnea is quite likely.</p>
	    </div>
	</div>
</ion-content>
