<!--  
  Generated template for the AllergiesMobile page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
   -->
<ion-header class="ui-header">

  <ion-navbar>
    <ion-title>
    	<h1 class="ui-title">
      	Menstrual Pain
      </h1>
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="showMenu()">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
	</ion-navbar>
  <ion-navbar class="fullWidth robotoLight bgPink" *ngIf="page==0">
    <p *ngIf="page==0">Menstrual cramps?</p>
  </ion-navbar>
  <ion-navbar class="fullWidth robotoLight bgPink" *ngIf="page>=20 && page<50">
    <p *ngIf="page>=20 && page<40">Need a doctor?</p>
    <p *ngIf="page>=40 && page<50">How bad is the pain?</p>
  </ion-navbar>
</ion-header>
<ion-content class="ui-page-theme-i">
	<div class="ui-content" *ngIf="page==0">
	    <div class="maxwidth450">
	        <div class="ovalBorderRightPurple_red centerText">
	            <span>This is usually occur just before and during the <span class="purple_redfont">menstrual periods.</span></span><br>
	        </div>
	        <div align="right"><img src="assets/img/pharm/female/pharm-karen-red.svg" width="100" alt="Pharmacist"></div>
	    </div>
	    <div class="clearboth divider1"></div>
	    <br>
	    <!-----------------End Border right person------------------- -->
	    <div class="redBorder">
	        <p>Let's see what you are looking at and how you can get relief using over-the-counter medications.</p>
	        <hr class="hrpink">
	        <br>
	        <p class="centerText">
	            <br>
	            <img src="assets/img/people/adult/pelvic/menstrual-lady.svg" width="180" alt="Lady holding her stomach in pain">
	        </p>
	    </div>
	    <!--------------------------Banner Link----------------------------- -->
	    <div>
	    </div>
	    <!--------------------------Banner Link----------------------------- -->
	    <div class="clearboth divider1"></div>
	    <p class="centerText"> <a href="#" data-role="button" data-inline="true" class="ui-link ui-btn ui-btn-inline ui-shadow ui-corner-all" role="button" (click)="togglePage(1)">Continue</a></p>
	    <p>&nbsp;</p>
	</div>

	<div class="ui-content" *ngIf="page>0 && page<20">
	    <div id="menstrual1_mobile_2_n" *ngIf="page==1">
	        <div class="maxwidth450">
	            <div class="ovalBorderRightPurple_red centerText">
	                <span>Is this <span class="redfont">cramping pain</span> in the <span class="orangefont">lower</span> abdomen?</span><br>
	            </div>
	            <div align="right"><img src="assets/img/pharm/female/pharm-karen-red.svg" width="100" alt="Pharmacist"></div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Border right person------------------- -->
	        <div class="clearboth divider1"></div>
	        <p class="centerText">
	            <button data-inline="true" class="menstrual1_mobile_3_n_link ui-btn ui-btn-l ui-btn-inline ui-shadow ui-corner-all" data-theme="l" (click)="togglePage(3)">Yes</button>
	            <button data-inline="true" class="menstrual1_mobile_3_n_link ui-btn ui-btn-k ui-btn-inline ui-shadow ui-corner-all" data-theme="k" (click)="togglePage(3)">No</button>
	        </p>
	        <p>&nbsp;</p>
	    </div>
	    <!--end first question div --> 
	    <!--start 3 div -->   
	    <div id="menstrual1_mobile_3_y" *ngIf="page==2">
	        <p>&nbsp;</p>
	        <button data-inline="true" class="menstrual1_mobile_3_n_link ui-btn ui-btn-inline ui-shadow ui-corner-all" (click)="togglePage(3)">Continue</button>	
	        <p>&nbsp;</p>
	    </div>
	    <div id="menstrual1_mobile_3_n" *ngIf="page==3">
	        <div class="maxwidth450">
	            <div class="ovalBorderRightPurple_red centerText">
	                <span>Is this like a <span class="bluefont">sharp pain</span> that comes and goes?</span><br>
	            </div>
	            <div class="clearboth"></div>
	            <div class="container_12">
	                <div class="grid_8">
	                    <br>
	                    <div class="bubbleRightPurple_red">
	                        An <span class="purple_bluefont">aching pain </span>that comes and goes?
	                    </div>
	                </div>
	                <div class="grid_4">
	                    <img src="assets/img/pharm/female/pharm-karen-red.svg" alt="Pharmacist" width="80" align="right">
	                </div>
	            </div>
	        </div>
	        <br>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Point Right------------------- -->
	        <div class="clearboth divider1"></div>
	        <p class="centerText">
	            <button data-inline="true" class="menstrual1_mobile_4_n_link ui-btn ui-btn-l ui-btn-inline ui-shadow ui-corner-all" data-theme="l" (click)="togglePage(4)">Yes</button>
	            <button data-inline="true" class="menstrual1_mobile_4_n_link ui-btn ui-btn-k ui-btn-inline ui-shadow ui-corner-all" data-theme="k" (click)="togglePage(5)">No</button>
	        </p>
	        <p>&nbsp;</p>
	    </div>
	    <!--end 3 div --> 
	    <div id="menstrual1_mobile_4_y" *ngIf="page==4">
	        <!--start 4 div -->
	        <h3>Yes?</h3>
	        <button data-inline="true" class="menstrual1_mobile_4_n_link ui-btn ui-btn-inline ui-shadow ui-corner-all" (click)="togglePage(5)">Continue</button>	
	        <p>&nbsp;</p>
	    </div>
	    <div id="menstrual1_mobile_4_n" *ngIf="page==5">
	        <div class="maxwidth450">
	            <div class="ovalBorderRightPurple_red centerText">
	                <span>Does this pain sometimes radiate to your <span class="orangefont">lower back?</span></span><br>
	            </div>
	            <div class="clearboth"></div>
	            <div class="container_12">
	                <div class="grid_8">
	                    <br>
	                    <div class="bubbleRightPurple_red">
	                        Or <span class="orangefont">thighs?</span>
	                    </div>
	                </div>
	                <div class="grid_4">
	                    <img src="assets/img/pharm/female/pharm-karen-red.svg" alt="Pharmacist" width="80" align="right">
	                </div>
	            </div>
	        </div>
	        <br>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Point Right------------------- -->
	        <div class="clearboth divider1"></div>
	        <p class="centerText">
	            <button data-inline="true" class="menstrual1_mobile_5_n_link ui-btn ui-btn-l ui-btn-inline ui-shadow ui-corner-all" data-theme="l" (click)="togglePage(6)">Yes</button>
	            <button data-inline="true" class="menstrual1_mobile_5_n_link ui-btn ui-btn-k ui-btn-inline ui-shadow ui-corner-all" data-theme="k" (click)="togglePage(7)">No</button>
	        </p>
	        <p>&nbsp;</p>
	    </div>
	    <!--end 4 div --> 
	    <div id="menstrual1_mobile_5_y" *ngIf="page==6">
	        <!--start 5 div -->
	        <h3>Yes?</h3>
	        <button data-inline="true" class="menstrual1_mobile_5_n_link ui-btn ui-btn-inline ui-shadow ui-corner-all" (click)="togglePage(7)">Continue</button>
	        <p>&nbsp;</p>
	    </div>
	    <div id="menstrual1_mobile_5_n" *ngIf="page==7">
	        <div class="maxwidth450">
	            <div class="ovalBorderRightPurple_red centerText">
	                <span>Are you experiencing <span class="purple_redfont">nausea</span> and/or <span class="orangefont">vomiting </span>with this menstrual pain?</span><br>
	            </div>
	            <div align="right"><img src="assets/img/pharm/female/pharm-karen-red.svg" width="100" alt="Pharmacist"></div>
	        </div>
	        <!-----------------End Border right person------------------- -->
	        <div class="clearboth divider1"></div>
	        <p class="centerText">
	            <button data-inline="true" class="menstrual1_mobile_6_n_link ui-btn ui-btn-l ui-btn-inline ui-shadow ui-corner-all" data-theme="l" (click)="togglePage(8)">Yes</button>
	            <button data-inline="true" class="menstrual1_mobile_6_n_link ui-btn ui-btn-k ui-btn-inline ui-shadow ui-corner-all" data-theme="k" (click)="togglePage(9)">No</button>
	        </p>
	        <p>&nbsp;</p>
	    </div>
	    <!--end 5  div --> 
	    <div id="menstrual1_mobile_6_y" *ngIf="page==8">
	        <!--start 6 div -->
	        <h3>Yes?</h3>
	        <button data-inline="true" class="menstrual1_mobile_6_n_link ui-btn ui-btn-inline ui-shadow ui-corner-all" (click)="togglePage(9)">Continue</button>	
	        <p>&nbsp;</p>
	    </div>
	    <div id="menstrual1_mobile_6_n" *ngIf="page==9">
	        <div class="maxwidth450">
	            <div class="ovalBorderRightPurple_red centerText">
	                <span>What about feeling <span class="pinkfont">dizzy?</span></span><br>
	            </div>
	            <div align="right"><img src="assets/img/pharm/female/pharm-karen-red.svg" width="100" alt="Pharmacist"></div>
	        </div>
	        <!-----------------End Border right person------------------- -->
	        <div class="clearboth divider1"></div>
	        <p class="centerText">
	            <button data-inline="true" class="menstrual1_mobile_7_n_link ui-btn ui-btn-l ui-btn-inline ui-shadow ui-corner-all" data-theme="l" (click)="togglePage(10)">Yes</button>
	            <button data-inline="true" class="menstrual1_mobile_7_n_link ui-btn ui-btn-k ui-btn-inline ui-shadow ui-corner-all" data-theme="k" (click)="togglePage(11)">No</button>
	        </p>
	        <p>&nbsp;</p>
	    </div>
	    <!--end 6 div --> 
	    <div id="menstrual1_mobile_7_y" *ngIf="page==10">
	        <!--start 7 div -->
	        <h3>Yes?</h3>
	        <button data-inline="true" class="menstrual1_mobile_7_n_link ui-btn ui-btn-inline ui-shadow ui-corner-all" (click)="togglePage(11)">Continue</button>
	        <p>&nbsp;</p>
	    </div>
	    <div id="menstrual1_mobile_7_n" *ngIf="page==11">
	        <div class="maxwidth450">
	            <div class="ovalBorderRightPurple_red centerText">
	                <span>Are you <span class="bluefont">sweating</span> with this menstrual pain?</span><br>
	            </div>
	            <div class="clearboth"></div>
	            <div class="container_12">
	                <div class="grid_8">
	                    <br>
	                    <div class="bubbleRightPurple_red">
	                        Or having<span class="purple_bluefont"> diarrhea?</span>
	                    </div>
	                </div>
	                <div class="grid_4">
	                    <img src="assets/img/pharm/female/pharm-karen-red.svg" alt="Pharmacist" width="80" align="right">
	                </div>
	            </div>
	        </div>
	        <br>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Point Right------------------- -->
	        <div class="clearboth divider1"></div>
	        <p class="centerText">
	            <button data-inline="true" class="menstrual1_mobile_8_n_link ui-btn ui-btn-l ui-btn-inline ui-shadow ui-corner-all" data-theme="l" (click)="togglePage(12)">Yes</button>
	            <button data-inline="true" class="menstrual1_mobile_8_n_link ui-btn ui-btn-k ui-btn-inline ui-shadow ui-corner-all" data-theme="k" (click)="togglePage(13)">No</button>
	        </p>
	        <p>&nbsp;</p>
	    </div>
	    <!--end 7 div --> 
	    <div id="menstrual1_mobile_8_y" *ngIf="page==12">
	        <!--start 8 div -->
	        <button data-inline="true" class="menstrual1_mobile_8_n_link ui-btn ui-btn-inline ui-shadow ui-corner-all" (click)="togglePage(13)">Continue</button>
	        <p>&nbsp;</p>
	    </div>
	    <div id="menstrual1_mobile_8_n" *ngIf="page==13">
	        <div class="maxwidth450">
	            <div class="ovalBorderRightPurple_red centerText">
	                <span>There are two types of period pain: </span><br>
	                <span class="purplefont">primary</span> and <span class="redfont">secondary.</span>
	            </div>
	            <div align="right"><img src="assets/img/pharm/female/pharm-karen-red.svg" width="100" alt="Pharmacist"></div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Border right person------------------- -->
	        <div class="redBorder">
	            <ol>
	                <li><span class="purplefont">Primary</span><br>Due to your menstrual period alone.</li>
	                <br>
	                <li><span class="redfont">Secondary</span><br>Due to a medical condition such as  ovarian cysts (fluid-filled sacs), endometriosis or even using IUDs.</li>
	            </ol>
	        </div>
	        <p class="redBorderAll">With this in mind, let's see the best course of action to tackle this problem. </p>
	        <p class="redBorderAll">A few questions to rule out serious urgent care situations.</p>
	        <!--------------------------Banner Link----------------------------- -->
	        <div>
	        </div>
	        <!--------------------------Banner Link----------------------------- -->
	        <div class="clearboth divider1"></div>
	        <p class="centerText">
	            <a href="#" data-role="button" data-inline="true" class="ui-link ui-btn ui-btn-inline ui-shadow ui-corner-all" role="button" (click)="togglePage(20)">Continue</a>
	        </p>
	        <p>&nbsp;</p>
	    </div>
	    <!--end 8 div --> 
	    <p>&nbsp;</p>
	</div>

	<div class="ui-content" *ngIf="page>=20 && page<40">
	    <div id="menstrual_mobile_1a_2_n" *ngIf="page==20">
	        <div class="maxwidth450">
	            <div class="ovalBorderRightPurple_red centerText">
	                <span>Any <span class="purple_redfont">foul-smelling</span> vaginal discharge?</span><br>
	            </div>
	            <div align="right"><img src="assets/img/pharm/female/pharm-karen-red.svg" width="100" alt="Pharmacist"></div>
	        </div>
	        <!-----------------End Border right person------------------- -->
	        <div class="clearboth divider1"></div>
	        <p class="centerText">
	            <button data-inline="true" class="menstrual_mobile_1a_3_y_link ui-btn ui-btn-l ui-btn-inline ui-shadow ui-corner-all" data-theme="l" (click)="togglePage(21)">Yes</button>
	            <button data-inline="true" class="menstrual_mobile_1a_3_n_link ui-btn ui-btn-k ui-btn-inline ui-shadow ui-corner-all" data-theme="k" (click)="togglePage(22)">No</button>
	        </p>
	        <p>&nbsp;</p>
	    </div>
	    <!--end first follow up question div --> 
	    <!--start follow up 3 div -->   
	    <div id="menstrual_mobile_1a_3_y" *ngIf="page==21">
	        <div class="maxwidth450">
	            <div class="ovalBorderRightYellow centerText">
	                <span class="redfontLarge">Seek urgent care or call the doctor.</span><br>
	            </div>
	            <div align="right"><img src="assets/img/pharm/female/pharm-karen-red.svg" width="100" alt="Pharmacist"></div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Border right person------------------- -->
	        <div class="redBorderAll">
	            <p class="redfont redBorder centerText">Here is why:</p>
	            <ul>
	                <li>Possible infection</li>
	            </ul>
	        </div>
	        <br>
	        <!---------------------End Seek urgent care------------- -->
	        <!--------------------------Banner Link----------------------------- -->
	        <div>
	        </div>
	        <!--------------------------Banner Link----------------------------- -->
	        <div class="clearboth divider1"></div>
	        <p class="centerText">
	            <a href="#" (click)="gotoSubPage(0)" data-role="button" data-theme="j" data-inline="true" class="ui-link ui-btn ui-btn-j ui-btn-inline ui-shadow ui-corner-all" role="button">Nearest Clinic</a>
	            <button data-inline="true" class="menstrual_mobile_1a_3_n_link ui-btn ui-btn-inline ui-shadow ui-corner-all" (click)="togglePage(22)">Continue</button>	
	        </p>
	        <p>&nbsp;</p>
	    </div>
	    <div id="menstrual_mobile_1a_3_n" *ngIf="page==22">
	        <div class="maxwidth450">
	            <div class="ovalBorderRightPurple_red centerText">
	                <span>Do you have <span class="redfont">fever</span> with this menstrual pain?</span><br>
	            </div>
	            <div align="right"><img src="assets/img/pharm/female/pharm-karen-red.svg" width="100" alt="Pharmacist"></div>
	        </div>
	        <!-----------------End Border right person------------------- -->
	        <div class="clearboth divider1"></div>
	        <p class="centerText">
	            <button data-inline="true" class="menstrual_mobile_1a_4_y_link ui-btn ui-btn-l ui-btn-inline ui-shadow ui-corner-all" data-theme="l" (click)="togglePage(23)">Yes</button>
	            <button data-inline="true" class="menstrual_mobile_1a_4_n_link ui-btn ui-btn-k ui-btn-inline ui-shadow ui-corner-all" data-theme="k" (click)="togglePage(24)">No</button>
	        </p>
	        <p>&nbsp;</p>
	    </div>
	    <!--end follow up 3 div --> 
	    <div id="menstrual_mobile_1a_4_y" *ngIf="page==23">
	        <!--start follow up 4 div -->
	        <div class="maxwidth450">
	            <div class="ovalBorderRightYellow centerText">
	                <span class="redfontLarge">Seek urgent care or call the doctor.</span><br>
	            </div>
	            <div align="right"><img src="assets/img/pharm/female/pharm-karen-red.svg" width="100" alt="Pharmacist"></div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Border right person------------------- -->
	        <div class="redBorderAll">
	            <p class="redfont redBorder centerText">Here is why:</p>
	            <ul>
	                <li>Possible infection</li>
	            </ul>
	        </div>
	        <br>
	        <!---------------------End Seek urgent care------------- -->
	        <!--------------------------Banner Link----------------------------- -->
	        <div>
	        </div>
	        <!--------------------------Banner Link----------------------------- -->
	        <div class="clearboth divider1"></div>
	        <p class="centerText">
	            <a href="#" (click)="gotoSubPage(0)" data-role="button" data-theme="j" data-inline="true" class="ui-link ui-btn ui-btn-j ui-btn-inline ui-shadow ui-corner-all" role="button">Nearest Clinic</a>
	            <button data-inline="true" class="menstrual_mobile_1a_4_n_link ui-btn ui-btn-inline ui-shadow ui-corner-all" (click)="togglePage(24)">Continue</button>	
	        </p>
	        <p>&nbsp;</p>
	    </div>
	    <div id="menstrual_mobile_1a_4_n" *ngIf="page==24">
	        <div class="maxwidth450">
	            <div class="ovalBorderRightPurple_red centerText">
	                <span>Is this a pain that started <span class="redfont">suddenly</span> and getting <span class="orangefont">worse</span> with time?</span><br>
	            </div>
	            <div class="clearboth"></div>
	            <div class="container_12">
	                <div class="grid_8">
	                    <br>
	                    <div class="bubbleRightPurple_red">
	                        Very <span class="redfont">severe</span> like nothing you've had before?
	                    </div>
	                </div>
	                <div class="grid_4">
	                    <img src="assets/img/pharm/female/pharm-karen-red.svg" alt="Pharmacist" width="80" align="right">
	                </div>
	            </div>
	        </div>
	        <br>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Point Right------------------- -->
	        <div class="clearboth divider1"></div>
	        <p class="centerText">
	            <button data-inline="true" class="menstrual_mobile_1a_5_y_link ui-btn ui-btn-l ui-btn-inline ui-shadow ui-corner-all" data-theme="l" (click)="togglePage(25)">Yes</button>
	            <button data-inline="true" class="menstrual_mobile_1a_5_n_link ui-btn ui-btn-k ui-btn-inline ui-shadow ui-corner-all" data-theme="k" (click)="togglePage(26)">No</button>
	        </p>
	        <p>&nbsp;</p>
	    </div>
	    <!--end follow up 4 div --> 
	    <div id="menstrual_mobile_1a_5_y" *ngIf="page==25">
	        <!--start follow up 5 div -->
	        <div class="maxwidth450">
	            <div class="ovalBorderRightYellow centerText">
	                <span class="redfontLarge">Seek urgent care or call the doctor.</span><br>
	            </div>
	            <div align="right"><img src="assets/img/pharm/female/pharm-karen-red.svg" width="100" alt="Pharmacist"></div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Border right person------------------- -->
	        <div class="redBorderAll">
	            <p class="redfont redBorder centerText">Here is why:</p>
	            <ul>
	                <li>Have to rule out pregnancy.</li>
	            </ul>
	        </div>
	        <br>
	        <!---------------------End Seek urgent care------------- -->
	        <div class="clearboth divider1"></div>
	        <p class="centerText">
	            <a href="#" (click)="gotoSubPage(0)" data-role="button" data-theme="j" data-inline="true" class="ui-link ui-btn ui-btn-j ui-btn-inline ui-shadow ui-corner-all" role="button">Nearest Clinic</a>
	            <button data-inline="true" class="menstrual_mobile_1a_5_n_link ui-btn ui-btn-inline ui-shadow ui-corner-all" (click)="togglePage(26)">Continue</button>
	        </p>
	        <p>&nbsp;</p>
	    </div>
	    <div id="menstrual_mobile_1a_5_n" *ngIf="page==26">
	        <div class="maxwidth450">
	            <div class="ovalBorderRightPurple_red centerText">
	                <span>Is your period more than <span class="redfont">one week late</span> and now you are having this <span class="purple_redfont">cramps?</span></span><br>
	            </div>
	            <div align="right"><img src="assets/img/pharm/female/pharm-karen-red.svg" width="100" alt="Pharmacist"></div>
	        </div>
	        <!-----------------End Border right person------------------- -->
	        <div class="clearboth divider1"></div>
	        <p class="centerText">
	            <button data-inline="true" class="menstrual_mobile_1a_6_y_link ui-btn ui-btn-l ui-btn-inline ui-shadow ui-corner-all" data-theme="l" (click)="togglePage(27)">Yes</button>
	            <button data-inline="true" class="menstrual_mobile_1a_6_n_link ui-btn ui-btn-k ui-btn-inline ui-shadow ui-corner-all" data-theme="k" (click)="togglePage(28)">No</button>
	        </p>
	        <p>&nbsp;</p>
	    </div>
	    <!--end follow up 5 div --> 
	    <div id="menstrual_mobile_1a_6_y" *ngIf="page==27">
	        <!--start follow up 6 div -->
	        <div class="maxwidth450">
	            <div class="ovalBorderRightYellow centerText">
	                <span class="redfontLarge">Seek urgent care or call the doctor.</span><br>
	            </div>
	            <div align="right"><img src="assets/img/pharm/female/pharm-karen-red.svg" width="100" alt="Pharmacist"></div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Border right person------------------- -->
	        <div class="redBorderAll">
	            <p class="redfont redBorder centerText">Here is why:</p>
	            <ul>
	                <li>Need to rule out pregnancy.</li>
	            </ul>
	        </div>
	        <br>
	        <!---------------------End Seek urgent care------------- -->
	        <div class="clearboth divider1"></div>
	        <p class="centerText">
	            <a href="#" (click)="gotoSubPage(0)" data-role="button" data-theme="j" data-inline="true" class="ui-link ui-btn ui-btn-j ui-btn-inline ui-shadow ui-corner-all" role="button">Nearest Clinic</a>
	            <button data-inline="true" class="menstrual_mobile_1a_6_n_link ui-btn ui-btn-inline ui-shadow ui-corner-all" (click)="togglePage(28)">Continue</button>
	        </p>
	        <p>&nbsp;</p>
	    </div>
	    <div id="menstrual_mobile_1a_6_n" *ngIf="page==28">
	        <div class="maxwidth450">
	            <div class="ovalBorderRightPurple_red centerText">
	                <span>Are you passing<span class="redfont"> blood clots?</span></span><br>
	            </div>
	            <div align="right"><img src="assets/img/pharm/female/pharm-karen-red.svg" width="100" alt="Pharmacist"></div>
	        </div>
	        <!-----------------End Border right person------------------- -->
	        <div class="clearboth divider1"></div>
	        <p class="centerText">
	            <button data-inline="true" class="menstrual_mobile_1a_7_y_link ui-btn ui-btn-l ui-btn-inline ui-shadow ui-corner-all" data-theme="l" (click)="togglePage(29)">Yes</button>
	            <button data-inline="true" class="menstrual_mobile_1a_7_n_link ui-btn ui-btn-k ui-btn-inline ui-shadow ui-corner-all" data-theme="k" (click)="togglePage(30)">No</button>
	        </p>
	        <p>&nbsp;</p>
	    </div>
	    <!--end follow up 6 div -->
	    <div id="menstrual_mobile_1a_7_y" *ngIf="page==29">
	        <!--start follow up 7 div -->
	        <div class="maxwidth450">
	            <div class="ovalBorderRightYellow centerText">
	                <span class="redfontLarge">Seek urgent care or call the doctor.</span><br>
	            </div>
	            <div align="right"><img src="assets/img/pharm/female/pharm-karen-red.svg" width="100" alt="Pharmacist"></div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Border right person------------------- -->
	        <div class="redBorderAll">
	            <p class="redfont redBorder centerText">Here is why:</p>
	            <ul>
	                <li>Need complete evaluation</li>
	            </ul>
	        </div>
	        <br>
	        <!---------------------End Seek urgent care------------- -->
	        <div class="clearboth divider1"></div>
	        <p class="centerText">
	            <a href="#" (click)="gotoSubPage(0)" data-role="button" data-theme="j" data-inline="true" class="ui-link ui-btn ui-btn-j ui-btn-inline ui-shadow ui-corner-all" role="button">Nearest Clinic</a>
	            <button data-inline="true" class="menstrual_mobile_1a_7_n_link ui-btn ui-btn-inline ui-shadow ui-corner-all" (click)="togglePage(30)">Continue</button>
	        </p>
	        <p>&nbsp;</p>
	    </div>
	    <div id="menstrual_mobile_1a_7_n" *ngIf="page==30">
	        <div class="maxwidth450">
	            <div class="ovalBorderRightPurple_red centerText">
	                <span>Did you have an <span class="bluefont">IUD</span> placed more than 3 months ago?</span><br>
	            </div>
	            <div align="right"><img src="assets/img/pharm/female/pharm-karen-red.svg" width="100" alt="Pharmacist"></div>
	        </div>
	        <!-----------------End Border right person------------------- -->
	        <div class="clearboth divider1"></div>
	        <p class="centerText">
	            <button data-inline="true" class="menstrual_mobile_1a_8_y_link ui-btn ui-btn-l ui-btn-inline ui-shadow ui-corner-all" data-theme="l" (click)="togglePage(31)">Yes</button>
	            <button data-inline="true" class="menstrual_mobile_1a_8_n_link ui-btn ui-btn-k ui-btn-inline ui-shadow ui-corner-all" data-theme="k" (click)="togglePage(32)">No</button>
	        </p>
	        <p>&nbsp;</p>
	    </div>
	    <!--end follow up 7 div -->
	    <div id="menstrual_mobile_1a_8_y" *ngIf="page==31">
	        <!--start follow up 8 div -->
	        <div class="maxwidth450">
	            <div class="ovalBorderRightYellow centerText">
	                <span class="redfontLarge">Seek urgent care or call the doctor.</span><br>
	            </div>
	            <div align="right"><img src="assets/img/pharm/female/pharm-karen-red.svg" width="100" alt="Pharmacist"></div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Border right person------------------- -->
	        <div class="redBorderAll">
	            <p class="redfont redBorder centerText">Here is why:</p>
	            <ul>
	                <li>Probable cause of the pain.</li>
	            </ul>
	        </div>
	        <br>
	        <!---------------------End Seek urgent care------------- -->
	        <div class="clearboth divider1"></div>
	        <p class="centerText">
	            <a href="#" (click)="gotoSubPage(0)" data-role="button" data-theme="j" data-inline="true" class="ui-link ui-btn ui-btn-j ui-btn-inline ui-shadow ui-corner-all" role="button">Nearest Clinic</a>
	            <button data-inline="true" class="menstrual_mobile_1a_8_n_link ui-btn ui-btn-inline ui-shadow ui-corner-all" (click)="togglePage(32)">Continue</button>
	        </p>
	        <p>&nbsp;</p>
	    </div>
	    <div id="menstrual_mobile_1a_8_n" *ngIf="page==32">
	        <div class="maxwidth450">
	            <div class="ovalBorderRightPurple_red centerText">
	                <span>Did this pain or cramp start <span class="purple_bluefont">more than 5 days</span> before your period?</span><br>
	            </div>
	            <div class="clearboth"></div>
	            <div class="container_12">
	                <div class="grid_8">
	                    <br>
	                    <div class="bubbleRightPurple_red">
	                        And continued <span class="redfont">after</span> your period is over?
	                    </div>
	                </div>
	                <div class="grid_4">
	                    <img src="assets/img/pharm/female/pharm-karen-red.svg" alt="Pharmacist" width="80" align="right">
	                </div>
	            </div>
	        </div>
	        <br>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Point Right------------------- -->
	        <div class="clearboth divider1"></div>
	        <p class="centerText">
	            <button data-inline="true" class="menstrual_mobile_1a_9_y_link ui-btn ui-btn-l ui-btn-inline ui-shadow ui-corner-all" data-theme="l" (click)="togglePage(33)">Yes</button>
	            <button data-inline="true" class="menstrual_mobile_1a_9_n_link ui-btn ui-btn-k ui-btn-inline ui-shadow ui-corner-all" data-theme="k" (click)="togglePage(34)">No</button>
	        </p>
	        <p>&nbsp;</p>
	    </div>
	    <!--end follow up 8 div -->
	    <div id="menstrual_mobile_1a_9_y" *ngIf="page==33">
	        <!--start follow up 9 div -->
	        <div class="maxwidth450">
	            <div class="ovalBorderRightYellow centerText">
	                <span class="redfontLarge">Seek urgent care or call the doctor.</span><br>
	            </div>
	            <div align="right"><img src="assets/img/pharm/female/pharm-karen-red.svg" width="100" alt="Pharmacist"></div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Border right person------------------- -->
	        <div class="redBorderAll">
	            <p class="redfont redBorder centerText">Here is why:</p>
	            <ul>
	                <li>Need further evaluation</li>
	            </ul>
	        </div>
	        <br>
	        <!---------------------End Seek urgent care------------- -->
	        <div class="clearboth divider1"></div>
	        <p class="centerText">
	            <a href="#" (click)="gotoSubPage(0)" data-role="button" data-theme="j" data-inline="true" class="ui-link ui-btn ui-btn-j ui-btn-inline ui-shadow ui-corner-all" role="button">Nearest Clinic</a>
	            <button data-inline="true" class="menstrual_mobile_1a_9_n_link ui-btn ui-btn-inline ui-shadow ui-corner-all" (click)="togglePage(34)">Continue</button>
	        </p>
	        <p>&nbsp;</p>
	    </div>
	    <div id="menstrual_mobile_1a_9_n" *ngIf="page==34">
	        <div class="maxwidth450">
	            <div class="ovalBorderRightPurple_red centerText">
	                <span>Have you always had normal period pains but the ones lately are getting <span class="redfont">very severe?</span></span><br>
	            </div>
	            <div align="right"><img src="assets/img/pharm/female/pharm-karen-red.svg" width="100" alt="Pharmacist"></div>
	        </div>
	        <!-----------------End Border right person------------------- -->
	        <!--------------------------Banner Link----------------------------- -->
	        <div>
	        </div>
	        <!--------------------------Banner Link----------------------------- -->
	        <div class="clearboth divider1"></div>
	        <p class="centerText">
	            <a href="#" data-role="button" data-inline="true" data-theme="l" class="ui-link ui-btn ui-btn-l ui-btn-inline ui-shadow ui-corner-all" role="button" (click)="togglePage(50)">Yes</a>
	            <a href="#" data-role="button" data-inline="true" data-theme="k" class="ui-link ui-btn ui-btn-k ui-btn-inline ui-shadow ui-corner-all" role="button" (click)="togglePage(40)">No</a>
	        </p>
	        <p>&nbsp;</p>
	    </div>
	    <!--end follow up 9 div -->
	</div>

	<div class="ui-content" *ngIf="page>=40 && page<50">
	    <div id="slider_menstrual2_mobile_div" *ngIf="page==40">
	        <div class="maxwidth450">
	            <div class="ovalBorderRightPurple_red centerText">
	                <span>On a <span class="grayfont">scale of 1 to 10,</span> how <span class="redfont">severe</span> is this pain?</span><br>
	            </div>
	            <div align="right"><img src="assets/img/pharm/female/pharm-karen-red.svg" width="100" alt="Pharmacist"></div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <br>
	        <!-----------------End Border right person------------------- -->
	        <div data-role="fieldcontain" class="ui-field-contain">
	            <label for="slider_menstrual2_mobile_mobile" id="slider_menstrual2_mobile_mobile-label">I say:</label>
	            <div class="ui-slider">
	            	<ion-item>
						<ion-range min="1" max="10" step="1" [(ngModel)]="currentPain" color="sliderPink">
							<ion-label range-left>{{currentPain}}</ion-label>
						</ion-range>
					</ion-item>
	            </div>
	        </div>
	        <br>
	        <div class="clearboth divider1"></div>
	        <div class="centerText">
	        	<div class="ui-btn ui-input-btn ui-corner-all ui-shadow ui-btn-inline">Here you go<input type="button" id="get_menstrual2_mobile_value" data-inline="true" value="Here you go" (click)="togglePage(41)"></div>
	        </div>
	    </div>
	    <br>
	    <div class="container_12" id="selected_menstrual2_mobile_value_container" *ngIf="page==41">
	        <div class="maxwidth450">
	            <div class="ovalBorderRightPurple_red centerText">
	                <div id="selected_menstrual2_mobile_value">
	                	You said:<span style="background-color:#FFFF99; border:inset; border-color:#FFFF00; padding:5px;">{{currentPain}}</span>
	                </div>
	            </div>
	            <div align="right"><img src="assets/img/pharm/female/pharm-karen-red.svg" alt="Pharmacist" width="80">
	            </div>
	        </div>
	        <div class="clearboth"></div>
	        <!-----------------End Border right person------------------- -->
	    </div>
	    <br> 
	    <div id="menstrual2_mobile_option1" *ngIf="page==41 && currentPain<=3">
	        <div class="clearboth divider1"></div>
	        <h3 class="orangeBorder orangefont centerText">Not too bad.</h3>
	        <p class="orangeBorderAll">Discuss how to reduce menstrual pain and send to pharmacist.</p>
	    </div>
	    <div id="menstrual2_mobile_option2" *ngIf="page==41 && currentPain<=7 && currentPain>3">
	        <div class="clearboth divider1"></div>
	        <h3 class="purpleRedBorder purple_redfont centerText">Sorry about the pain.</h3>
	        <p class="purpleRedBorderAll">Let's see what a pharmacist recommend to help with this pain.</p>
	    </div>
	    <div id="menstrual2_mobile_option3" *ngIf="page==41 && currentPain<=10 && currentPain>7">
	        <div class="clearboth divider1"></div>
	        <h3 class="redfont redBorder centerText">Hang in there.</h3>
	        <p class="redBorderAll">Advice when to seek urgent care and if not send to a pharmacist.</p>
	    </div>
	    <!-------------Start Options button------------------ --> 
	    <div id="options_btn_menstrual2_mobile" *ngIf="page==41">
	        <!--------------------------Banner Link----------------------------- -->
	        <div>
	        </div>
	        <!--------------------------Banner Link----------------------------- -->
	        <input type="hidden" class="ClickValuePage1_25" value="">
	        <input type="hidden" class="ClickValuePage1_50" value="">
	        <input type="hidden" class="ClickValuePage1_100" value="">
	        <input type="hidden" class="ClickValuePage2_25" value="">
	        <input type="hidden" class="ClickValuePage2_50" value="">
	        <input type="hidden" class="ClickValuePage2_100" value="">
	        <input type="hidden" class="ClickValuePage3_25" value="">
	        <input type="hidden" class="ClickValuePage3_50" value="">
	        <input type="hidden" class="ClickValuePage3_100" value="">
	        <input type="hidden" class="totalResult" value="">
	        <div class="clearboth divider1"></div>
	        <p class="centerText">   
	            <button class="back_menstrual2_mobile_value ui-alt-icon ui-btn ui-btn-b ui-icon-back ui-btn-icon-notext ui-btn-inline ui-shadow ui-corner-all" data-inline="true" (click)="goBackPain()">Back</button>
	            <a href="#" (click)="gotoSubPage(0)" data-role="button" data-theme="j" data-inline="true" class="ui-link ui-btn ui-btn-j ui-btn-inline ui-shadow ui-corner-all" role="button">Nearest Clinic</a>
	            <a href="#" (click)="gotoSubPage(1)" class="menstrual_mobile_infographics ui-link ui-btn ui-btn-inline ui-shadow ui-corner-all" data-role="button" data-inline="true" role="button">Continue</a>
	        </p>
	    </div>
	    <!--------------End Options Button----------------------- -->
	    <p>&nbsp;</p>
	    <p>&nbsp;</p>
	    <p>&nbsp;</p>
	</div>

	<div class="ui-content" *ngIf="page==50">
	    <div class="maxwidth450">
	        <div class="ovalBorderRightPurple_red centerText">
	            <span class="redfontLarge">Yes?</span><br>
	            You will have to see a doctor to rule out <span class="purple_redfont">secondary dysmenorrhea.</span>
	        </div>
	        <div align="right"><img src="assets/img/pharm/female/pharm-karen-red.svg" width="100" alt="Pharmacist"></div>
	    </div>
	    <div class="clearboth divider1"></div>
	    <!-----------------End Border right person------------------- -->
	    <!------Start Popoup div----- -->   
	    <div style="display: none;" id="menstrual_mobile_3_pop-placeholder">
	        <!-- placeholder for menstrual_mobile_3_pop -->
	    </div>
	    <!------End Popoup div----- -->
	    <p class="redBorder">Let's see what is available over the counter to help with the pain until you can see your gynecologist.</p>
	    <p class="redBorder">You must see a doctor as soon as possible. All the pharmacist can recommend will be related to pain relief until you see a doctor.</p>
	    <!--------------------------Banner Link----------------------------- -->
	    <div>
	    </div>
	    <!--------------------------Banner Link----------------------------- -->
	    <div class="clearboth divider1"></div>
	    <p class="centerText">
	        <a href="#" data-role="button" data-rel="popup" data-inline="true" data-theme="m" data-transition="pop" aria-haspopup="true" aria-owns="menstrual_mobile_3_pop" aria-expanded="false" class="ui-link ui-btn ui-btn-m ui-btn-inline ui-shadow ui-corner-all" role="button" (click)="toggleFYIDlg(true)">FYI</a>
	        <a href="#" (click)="gotoSubPage(0)" data-role="button" data-theme="j" data-inline="true" class="ui-link ui-btn ui-btn-j ui-btn-inline ui-shadow ui-corner-all" role="button">Clinic</a>
	        <a href="#" (click)="gotoSubPage(1)" class="menstrual_mobile_infographics ui-link ui-btn ui-btn-inline ui-shadow ui-corner-all" data-role="button" data-inline="true" role="button">Continue</a>
	    </p>
	    <p>&nbsp;</p>
	    <p>&nbsp;</p>
	</div>

	<div class="ui-popup-screen ui-overlay-b in" id="menstrual_mobile_3_pop-screen" *ngIf="FYIDlg.show" (click)="toggleFYIDlg(false)"></div>
	<div class="ui-popup-container pop in ui-popup-active" id="menstrual_mobile_3_pop-popup" *ngIf="FYIDlg.show" [ngStyle]="{'max-width': FYIDlg.maxWidth+'px','top': FYIDlg.top+'px', 'left': FYIDlg.left+'px', 'width': FYIDlg.width+'px'}">
	    <div data-role="popup" id="menstrual_mobile_3_pop" class="ui-content ui-popup ui-body-inherit ui-overlay-shadow ui-corner-all" data-overlay-theme="b" data-position-to="window">
	        <a href="#" data-rel="back" data-role="button" data-icon="delete" data-iconpos="notext" class="ui-btn-right ui-link ui-btn ui-icon-delete ui-btn-icon-notext ui-shadow ui-corner-all" role="button" (click)="toggleFYIDlg(false)">Close</a>
	        <div class="redBorderAll">
	            <p class="redBorder">Secondary dysmenorrhea is menstrual pain that develops later in women who have had normal periods and may be related to problems in the uterus or other pelvic organs like:</p>
	            <ul>
	                <li>Fibroids</li>
	                <li>Pelvic inflammatory disease (PID)</li>
	                <li>Endometriosis</li>
	                <li>Sexually transmitted disease</li>
	                <li>Intrauterine device (IUD) made of copper</li>
	                <li>Stress and anxiety</li>
	            </ul>
	        </div>
	        <p class="redBorder">Your gynecologist will rule out anything that may be damaging to your health. </p>
	    </div>
	</div>
</ion-content>
