<!--  
  Generated template for the AllergiesMobile page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
  -->
<ion-header class="ui-header">

  <ion-navbar>
    <ion-title>
    	<h1 class="ui-title">
      	Corns/Calluses
      </h1>
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="showMenu()">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
	</ion-navbar>
  <ion-navbar class="fullWidth robotoLight bgDeepOrange">
    <p *ngIf="page==0">Corns and Calluses?</p>
    <p *ngIf="page>0 && page<10">Is it a corn or wart?</p>
    <p *ngIf="page>=10 && page<30">Need a doctor?</p>
  </ion-navbar>
</ion-header>
<ion-content class="ui-page-theme-o">
	<div class="ui-content" *ngIf="page==0">
	    <div class="maxwidth450">
	        <div class="ovalBorderRightYellow">
	            <span><span class="orangefont">Corn</span> is a thickened skin on the top or side of a toe.</span><br>
	        </div>
	        <div align="right"><img src="assets/img/pharm/male/pharm-barry-orange.svg" width="100" alt="Pharmacist"></div>
	    </div>
	    <div class="clearboth divider1"></div>
	    <br>
	    <!-----------------End Border left person------------------- -->
	    <div class="yellowBorder">
	        <p><span class="purple_redfont">Callus</span> is a thickened skin on your hands or the soles of your feet.</p>
	        <p class="yellowBorderAll">How do you know it is a corn or callus and not a wart or something else?</p>
	        <hr class="hrorange">
	        <br>
	        <p class="centerText">
	            <br>
	            <img src="assets/img/people/adult/leg/corns-foot.svg" width="200" alt="person with corns on the foot">
	        </p>
	        <p class="grayfontSmall">For instance corns on the plantar surface may look like a plantar wart. It is very important to differentiate the two lesions.</p>
	        <p class="yellowBorderAll centerText">Let's start with that.</p>
	    </div>
	    <!--------------------------Banner Link----------------------------- -->
	    <div>
	    </div>
	    <!--------------------------Banner Link----------------------------- -->
	    <div class="clearboth divider1"></div>
	    <p class="centerText"><a href="#" data-role="button" data-inline="true" class="ui-link ui-btn ui-btn-inline ui-shadow ui-corner-all" role="button" (click)="togglePage(1)">Continue</a></p>
	    <p>&nbsp;</p>
	</div>

	<div class="ui-content" *ngIf="page>0 && page<10">
	    <div id="corns1_mobile_1" *ngIf="page==1">
	        <div class="maxwidth450">
	            <div class="ovalBorderRightOrange">
	                <span>See if you can get a <span class="bluefont">clean, fine</span> razor blade or a surgical blade.</span><br>
	            </div>
	            <div align="right"><img src="assets/img/pharm/male/pharm-barry-orange.svg" width="100" alt="Pharmacist"></div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Border left person------------------- -->
	        <p class="yellowBorder">You will have to do something unusual. When you find one, continue.</p>
	        <div class="clearboth divider1"></div>
	        <p class="centerText"><button data-inline="true" class="corns1_mobile_2_n_link ui-btn ui-btn-inline ui-shadow ui-corner-all" (click)="togglePage(2)">Continue</button></p>
	        <p>&nbsp;</p>
	    </div>
	    <!--End Intro -->
	    <div id="corns1_mobile_2_n" *ngIf="page==2">
	        <div class="maxwidth450">
	            <div class="ovalBorderRightOrange centerText">
	                <span><span class="redfont">Gently Shave</span> the affected area with this <span class="bluefont">blade.</span></span><br>
	            </div>
	            <div class="clearboth"></div>
	            <div class="container_12">
	                <div class="grid_8">
	                    <br>
	                    <div class="bubbleRightOrange">
	                        Does it <span class="redfont">shave</span> easily?
	                    </div>
	                </div>
	                <div class="grid_4">
	                    <img src="assets/img/pharm/male/pharm-barry-orange.svg" alt="Pharmacist" width="80" align="right">
	                </div>
	            </div>
	        </div>
	        <br>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Point Right------------------- -->
	        <p class="centerText">
	            <button data-inline="true" class="corns1_mobile_3_n_link ui-btn ui-btn-l ui-btn-inline ui-shadow ui-corner-all" data-theme="l" (click)="togglePage(3)">Yes</button>
	            <button data-inline="true" class="corns1_mobile_3_n_link ui-btn ui-btn-k ui-btn-inline ui-shadow ui-corner-all" data-theme="k" (click)="togglePage(4)">No</button>
	        </p>
	        <p>&nbsp;</p>
	    </div>
	    <!--end first question div --> 
	    <!--start 3 div -->   
	    <div id="corns1_mobile_3_y" *ngIf="page==3">
	        <h3>Yes?</h3>
	        <p>&nbsp;</p>
	        <button data-inline="true" class="corns1_mobile_3_n_link ui-btn ui-btn-inline ui-shadow ui-corner-all" (click)="togglePage(4)">Continue</button>	
	        <p>&nbsp;</p>
	    </div>
	    <div id="corns1_mobile_3_n" *ngIf="page==4">
	        <div class="maxwidth450">
	            <div class="ovalBorderRightOrange centerText">
	                <span>Was it <span class="redfont">very painful?</span></span><br>
	            </div>
	            <div align="right"><img src="assets/img/pharm/male/pharm-barry-orange.svg" width="100" alt="Pharmacist"></div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Border right person------------------- -->
	        <p class="centerText">
	            <button data-inline="true" class="corns1_mobile_4_y_link ui-btn ui-btn-l ui-btn-inline ui-shadow ui-corner-all" data-theme="l" (click)="togglePage(5)">Yes</button>
	            <button data-inline="true" class="corns1_mobile_4_n_link ui-btn ui-btn-k ui-btn-inline ui-shadow ui-corner-all" data-theme="k" (click)="togglePage(6)">No</button>
	        </p>
	        <p>&nbsp;</p>
	    </div>
	    <!--end 3 div --> 
	    <div id="corns1_mobile_4_y" *ngIf="page==5">
	        <!--start 4 div -->
	        <div class="maxwidth450">
	            <div class="ovalBorderRightOrange centerText">
	                <span class="orangefontLarge">Yes?</span><br>
	                Probably looking at a <span class="purplefont">wart.</span>
	            </div>
	            <div align="right"><img src="assets/img/pharm/male/pharm-barry-orange.svg" width="100" alt="Pharmacist"></div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Border right person------------------- -->
	        <p class="purpleBorder centerText"><span class="bluefont">Corns</span> will shave easily without pain.</p>
	        <p class="centerText"><span class="redfont">Warts</span> will be very painful.</p>
	        <p align="center" class="redBorderAll"><span class="redfont">Warning.</span><br>If it bleeds, cause a lot of pain, or expands, we strongly suggest you see your doctor.</p>
	        <p align="center" class="redBorder"><span class="bluefont">Why?</span><br>You will want to rule out a melanoma.</p>
	        <p class="redBorderWhite">Let's continue if you are still thinking corns or calluses.</p>
	        <!--------------------------Banner Link----------------------------- -->
	        <div>
	        </div>
	        <!--------------------------Banner Link----------------------------- -->
	        <div class="clearboth divider1"></div>
	        <p class="centerText"><a href="#" (click)="togglePage(10)" data-role="button" data-inline="true" class="ui-link ui-btn ui-btn-inline ui-shadow ui-corner-all" role="button">Continue</a></p>
	        <p>&nbsp;</p>
	    </div>
	    <div id="corns1_mobile_4_n" *ngIf="page==6">
	        <div class="maxwidth450">
	            <div class="ovalBorderRightOrange centerText">
	                <span class="redfontLarge">No?</span><br>
	                You are more likely looking at a <span class="orangefont">corn.</span>
	            </div>
	            <div align="right"><img src="assets/img/pharm/male/pharm-barry-orange.svg" width="100" alt="Pharmacist"></div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Border right person------------------- -->
	        <p class="purpleRedBorder centerText"><span class="bluefont">Corns</span> will shave easily without pain.</p>
	        <p class="purpleRedBorderWhite centerText"><span class="redfont">Warts</span> will be very painful.</p>
	        <p align="center" class="redBorder"><span class="redfont">Warning.</span><br>If it bleeds, cause a lot of pain, or expands, we strongly suggest you see your doctor.</p>
	        <p align="center" class="redBorderWhite"><span class="bluefont">Why?</span><br>You will want to rule out a melanoma.</p>
	        <p class="redBorderAll">You need to rule out certain things before we send you to a pharmacist for recommendation on what to use over-the-counter for the corn or callus.</p>
	        <!--------------------------Banner Link----------------------------- -->
	        <div>
	        </div>
	        <!--------------------------Banner Link----------------------------- -->
	        <div class="clearboth divider1"></div>
	        <p class="centerText"><a href="#" (click)="togglePage(10)" data-role="button" data-inline="true" class="ui-link ui-btn ui-btn-inline ui-shadow ui-corner-all" role="button">Continue</a></p>
	        <p>&nbsp;</p>
	    </div>
	    <!--end 4 div --> 
	    <p>&nbsp;</p>
	</div>

	<div class="ui-content" *ngIf="page>=10 && page<30">
	    <div id="corns2_mobile_2_n" *ngIf="page==10">
	        <div class="maxwidth450">
	            <div class="ovalBorderRightOrange centerText">
	                <span>Is the <span class="bluefont">corn</span> or <span class="orangefont">callus</span> getting <span class="redfont">red?</span></span><br>
	            </div>
	            <div align="right"><img src="assets/img/pharm/male/pharm-barry-orange.svg" width="100" alt="Pharmacist"></div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Border right person------------------- -->
	        <p class="centerText">
	            <button data-inline="true" class="corns2_mobile_3_n_link ui-btn ui-btn-l ui-btn-inline ui-shadow ui-corner-all" data-theme="l" (click)="togglePage(11)">Yes</button>
	            <button data-inline="true" class="corns2_mobile_3_n_link ui-btn ui-btn-k ui-btn-inline ui-shadow ui-corner-all" data-theme="k" (click)="togglePage(12)">No</button>
	        </p>
	        <p>&nbsp;</p>
	    </div>
	    <!--end first question div --> 
	    <!--start 3 div -->   
	    <div id="corns2_mobile_3_y" *ngIf="page==11">
	        <h3>Yes?</h3>
	        <p>&nbsp;</p>
	        <button data-inline="true" class="corns2_mobile_3_n_link ui-btn ui-btn-inline ui-shadow ui-corner-all" (click)="togglePage(12)">Continue</button>	
	        <p>&nbsp;</p>
	    </div>
	    <div id="corns2_mobile_3_n" *ngIf="page==12">
	        <div class="maxwidth450">
	            <div class="ovalBorderRightOrange centerText">
	                <span>Is it <span class="orangefont">warm to touch?</span></span><br>
	            </div>
	            <div align="right"><img src="assets/img/pharm/male/pharm-barry-orange.svg" width="100" alt="Pharmacist"></div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Border right person------------------- -->
	        <p class="centerText">
	            <button data-inline="true" class="corns2_mobile_4_y_link ui-btn ui-btn-l ui-btn-inline ui-shadow ui-corner-all" data-theme="l" (click)="togglePage(13)">Yes</button>
	            <button data-inline="true" class="corns2_mobile_4_n_link ui-btn ui-btn-k ui-btn-inline ui-shadow ui-corner-all" data-theme="k" (click)="togglePage(14)">No</button>
	        </p>
	        <p>&nbsp;</p>
	    </div>
	    <!--end 3 div --> 
	    <div id="corns2_mobile_4_y" *ngIf="page==13">
	        <!--start 4 div -->
	        <div class="maxwidth450">
	            <div class="ovalBorderRightYellow centerText">
	                <span class="redfontLarge">Seek urgent care or call the doctor.</span><br>
	            </div>
	            <div align="right"><img src="assets/img/pharm/male/pharm-barry-orange.svg" width="100" alt="Pharmacist"></div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Border right person------------------- -->
	        <div class="redBorderAll">
	            <p class="redfont redBorder centerText">Here is why:</p>
	            <ul>
	                <li>Looking at an infection.</li>
	            </ul>
	        </div>
	        <br>
	        <!---------------------End Seek urgent care------------- -->
	        <div class="clearboth divider1"></div>
	        <p class="centerText"><button data-inline="true" class="corns2_mobile_4_n_link ui-btn ui-btn-inline ui-shadow ui-corner-all" (click)="togglePage(14)">Continue</button>	</p>
	        <p>&nbsp;</p>
	    </div>
	    <div id="corns2_mobile_4_n" *ngIf="page==14">
	        <div class="maxwidth450">
	            <div class="ovalBorderRightOrange centerText">
	                <span>Is it draining<span class="orangefont"> pus</span> or <span class="purple_bluefont">liquid?</span></span><br>
	            </div>
	            <div align="right"><img src="assets/img/pharm/male/pharm-barry-orange.svg" width="100" alt="Pharmacist"></div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Border right person------------------- -->
	        <p class="centerText">
	            <button data-inline="true" class="corns2_mobile_5_y_link ui-btn ui-btn-l ui-btn-inline ui-shadow ui-corner-all" data-theme="l" (click)="togglePage(15)">Yes</button>
	            <button data-inline="true" class="corns2_mobile_5_n_link ui-btn ui-btn-k ui-btn-inline ui-shadow ui-corner-all" data-theme="k" (click)="togglePage(16)">No</button>
	        </p>
	        <p>&nbsp;</p>
	    </div>
	    <!--end 4 div --> 
	    <div id="corns2_mobile_5_y" *ngIf="page==15">
	        <!--start 5 div -->
	        <div class="maxwidth450">
	            <div class="ovalBorderRightOrange centerText">
	                <span class="redfontLarge">Seek urgent care or call the doctor.</span><br>
	            </div>
	            <div align="right"><img src="assets/img/pharm/male/pharm-barry-orange.svg" width="100" alt="Pharmacist"></div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Border right person------------------- -->
	        <div class="redBorderAll">
	            <p class="redfont redBorder centerText">Here is why:</p>
	            <ul>
	                <li>Looking at an infection</li>
	            </ul>
	        </div>
	        <br>
	        <!---------------------End Seek urgent care------------- -->
	        <p class="centerText"><button data-inline="true" class="corns2_mobile_5_n_link ui-btn ui-btn-inline ui-shadow ui-corner-all" (click)="togglePage(16)">Continue</button></p>
	        <p>&nbsp;</p>
	    </div>
	    <div id="corns2_mobile_5_n" *ngIf="page==16">
	        <div class="maxwidth450">
	            <div class="ovalBorderRightOrange centerText">
	                <span>Is it getting <span class="redfont">very painful?</span></span><br>
	            </div>
	            <div align="right"><img src="assets/img/pharm/male/pharm-barry-orange.svg" width="100" alt="Pharmacist"></div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Border right person------------------- -->
	        <p class="centerText">
	            <button data-inline="true" class="corns2_mobile_6_n_link ui-btn ui-btn-l ui-btn-inline ui-shadow ui-corner-all" data-theme="l" (click)="togglePage(17)">Yes</button>
	            <button data-inline="true" class="corns2_mobile_6_n_link ui-btn ui-btn-k ui-btn-inline ui-shadow ui-corner-all" data-theme="k" (click)="togglePage(18)">No</button>
	        </p>
	        <p>&nbsp;</p>
	    </div>
	    <!--end 5  div --> 
	    <div id="corns2_mobile_6_y" *ngIf="page==17">
	        <!--start 6 div -->
	        <div class="clearboth divider1"></div>
	        <p class="centerText"><button data-inline="true" class="corns2_mobile_6_n_link ui-btn ui-btn-inline ui-shadow ui-corner-all" (click)="togglePage(18)">Continue</button></p>
	        <p>&nbsp;</p>
	    </div>
	    <div id="corns2_mobile_6_n" *ngIf="page==18">
	        <div class="maxwidth450">
	            <div class="ovalBorderRightOrange centerText">
	                <span>Is there an <span class="orangefont">ulcer</span> in the area of the corn or callus?</span><br>
	            </div>
	            <div align="right"><img src="assets/img/pharm/male/pharm-barry-orange.svg" width="100" alt="Pharmacist"></div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Border right person------------------- -->
	        <p class="centerText">
	            <button data-inline="true" class="corns2_mobile_7_y_link ui-btn ui-btn-l ui-btn-inline ui-shadow ui-corner-all" data-theme="l" (click)="togglePage(19)">Yes</button>
	            <button data-inline="true" class="corns2_mobile_7_n_link ui-btn ui-btn-k ui-btn-inline ui-shadow ui-corner-all" data-theme="k" (click)="togglePage(20)">No</button>
	        </p>
	        <p>&nbsp;</p>
	    </div>
	    <!--end 6 div --> 
	    <div id="corns2_mobile_7_y" *ngIf="page==19">
	        <!--start 7 div -->
	        <div class="maxwidth450">
	            <div class="ovalBorderRightOrange centerText">
	                <span class="redfontLarge">Seek urgent care or call the doctor.</span><br>
	            </div>
	            <div align="right"><img src="assets/img/pharm/male/pharm-barry-orange.svg" width="100" alt="Pharmacist"></div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Border right person------------------- -->
	        <div class="redBorderAll">
	            <p class="redfont redBorder centerText">Here is why:</p>
	            <ul>
	                <li>May be looking at an infection.</li>
	                <li>Unhealthy tissue may need to be removed by a health care provider.</li>
	                <li>Treatment with antibiotics may be necessary.</li>
	            </ul>
	        </div>
	        <br>
	        <!---------------------End Seek urgent care------------- -->
	        <p class="centerText"><button data-inline="true" class="corns2_mobile_7_n_link ui-btn ui-btn-inline ui-shadow ui-corner-all" (click)="togglePage(20)">Continue</button></p>
	        <p>&nbsp;</p>
	    </div>
	    <div id="corns2_mobile_7_n" *ngIf="page==20">
	        <div class="maxwidth450">
	            <div class="ovalBorderRightOrange centerText">
	                <span>Are you <span class="bluefont">diabetic?</span></span><br>
	            </div>
	            <div align="right"><img src="assets/img/pharm/male/pharm-barry-orange.svg" width="100" alt="Pharmacist"></div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Border right person------------------- -->
	        <p class="centerText">
	            <button data-inline="true" class="corns2_mobile_8_y_link ui-btn ui-btn-l ui-btn-inline ui-shadow ui-corner-all" data-theme="l" (click)="togglePage(21)">Yes</button>
	            <button data-inline="true" class="corns2_mobile_8_n_link ui-btn ui-btn-k ui-btn-inline ui-shadow ui-corner-all" data-theme="k" (click)="togglePage(22)">No</button>
	        </p>
	        <p>&nbsp;</p>
	    </div>
	    <!--end 7 div --> 
	    <div id="corns2_mobile_8_y" *ngIf="page==21">
	        <!--start 8 div -->
	        <div class="maxwidth450">
	            <div class="ovalBorderRightOrange centerText">
	                <span class="orangefontLarge">Call the doctor.</span><br>
	            </div>
	            <div align="right"><img src="assets/img/pharm/male/pharm-barry-orange.svg" width="100" alt="Pharmacist"></div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Border right person------------------- -->
	        <div class="redBorderAll">
	            <p class="redfont redBorder centerText">Here is why:</p>
	            <ul>
	                <li>Foot care regimen is required.</li>
	                <li>Selfcare can easily damage skin.</li>
	            </ul>
	        </div>
	        <br>
	        <!---------------------End Seek urgent care------------- -->
	        <p class="centerText"><button data-inline="true" class="corns2_mobile_8_n_link ui-btn ui-btn-inline ui-shadow ui-corner-all" (click)="togglePage(22)">Continue</button></p>
	        <p>&nbsp;</p>
	    </div>
	    <div id="corns2_mobile_8_n" *ngIf="page==22">
	        <div class="maxwidth450">
	            <div class="ovalBorderRightOrange centerText">
	                <span>Have you <span class="blue_brightfont">lost sensations</span> in the affected area?</span><br>
	            </div>
	            <div align="right"><img src="assets/img/pharm/male/pharm-barry-orange.svg" width="100" alt="Pharmacist"></div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Border right person------------------- -->
	        <p class="centerText">
	            <button data-inline="true" class="corns2_mobile_9_y_link ui-btn ui-btn-l ui-btn-inline ui-shadow ui-corner-all" data-theme="l" (click)="togglePage(23)">Yes</button>
	            <button data-inline="true" class="corns2_mobile_9_n_link ui-btn ui-btn-k ui-btn-inline ui-shadow ui-corner-all" data-theme="k" (click)="togglePage(24)">No</button>
	        </p>
	        <p>&nbsp;</p>
	    </div>
	    <!--end 8 div --> 
	    <div id="corns2_mobile_9_y" *ngIf="page==23">
	        <!--start 9 div -->
	        <div class="maxwidth450">
	            <div class="ovalBorderRightOrange centerText">
	                <span class="redfontLarge">Seek urgent care or call the doctor.</span><br>
	            </div>
	            <div align="right"><img src="assets/img/pharm/male/pharm-barry-orange.svg" width="100" alt="Pharmacist"></div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Border right person------------------- -->
	        <div class="redBorderAll">
	            <p class="redfont redBorder centerText">Here is why:</p>
	            <ul>
	                <li>Possible peripheral nerve damage.</li>
	            </ul>
	        </div>
	        <br>
	        <!---------------------End Seek urgent care------------- -->
	        <div class="clearboth divider1"></div>
	        <p class="centerText">	<button data-inline="true" class="corns2_mobile_9_n_link ui-btn ui-btn-inline ui-shadow ui-corner-all" (click)="togglePage(24)">Continue</button></p>
	        <p>&nbsp;</p>
	    </div>
	    <div id="corns2_mobile_9_n" *ngIf="page==24">
	        <div class="maxwidth450">
	            <div class="ovalBorderRightOrange centerText">
	                <span>Do you have <span class="pinkfont">poor</span> circulation?</span><br>
	            </div>
	            <div align="right"><img src="assets/img/pharm/male/pharm-barry-orange.svg" width="100" alt="Pharmacist"></div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Border right person------------------- -->
	        <p class="centerText">
	            <button data-inline="true" class="corns2_mobile_10_y_link ui-btn ui-btn-l ui-btn-inline ui-shadow ui-corner-all" data-theme="l" (click)="togglePage(25)">Yes</button>
	            <button data-inline="true" class="corns2_mobile_10_n_link ui-btn ui-btn-k ui-btn-inline ui-shadow ui-corner-all" data-theme="k" (click)="togglePage(26)">No</button>
	        </p>
	        <p>&nbsp;</p>
	    </div>
	    <!--end 9  div --> 
	    <div id="corns2_mobile_10_y" *ngIf="page==25">
	        <!--start 10 div -->
	        <div class="maxwidth450">
	            <div class="ovalBorderRightRed centerText">
	                <span class="redfontLarge">Call the doctor.</span><br>
	            </div>
	            <div align="right"><img src="assets/img/pharm/male/pharm-barry-orange.svg" width="100" alt="Pharmacist"></div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Border right person------------------- -->
	        <div class="redBorderAll">
	            <p class="redfont redBorder centerText">Here is why:</p>
	            <ul>
	                <li>Need further evaluation</li>
	            </ul>
	        </div>
	        <br>
	        <!---------------------End Seek urgent care------------- -->
	        <p class="centerText"><button data-inline="true" class="corns2_mobile_10_n_link ui-btn ui-btn-inline ui-shadow ui-corner-all" (click)="togglePage(26)">Continue</button></p>
	        <p>&nbsp;</p>
	    </div>
	    <div id="corns2_mobile_10_n" *ngIf="page==26">
	        <div class="maxwidth450">
	            <div class="ovalBorderRightOrange centerText">
	                <span class="bluefontLarge firstname">A,</span><br>
	                Let's get an over-the-counter recommendation for this corn or callus.
	            </div>
	            <div align="right"><img src="assets/img/pharm/male/pharm-barry-orange.svg" width="100" alt="Pharmacist"></div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Border right person------------------- -->
	        <p class="purpleBorder">Discuss what to expect and send to the pharmacist.</p>
	        <!--------------------------Banner Link----------------------------- -->
	        <div>
	        </div>
	        <!--------------------------Banner Link----------------------------- -->
	        <input type="hidden" class="ClickValuePage1_25" value="">
	        <input type="hidden" class="ClickValuePage1_50" value="">
	        <input type="hidden" class="ClickValuePage1_100" value="">
	        <input type="hidden" class="ClickValuePage2_25" value="">
	        <input type="hidden" class="ClickValuePage2_50" value="">
	        <input type="hidden" class="ClickValuePage2_100" value="">
	        <input type="hidden" class="ClickValuePage3_25" value="">
	        <input type="hidden" class="ClickValuePage3_50" value="">
	        <input type="hidden" class="ClickValuePage3_100" value="">
	        <input type="hidden" class="totalResult" value="">
	        <div class="clearboth divider1"></div>
	        <p class="centerText">
	            <a href="#" (click)="gotoSubPage(0)" data-role="button" data-theme="j" data-inline="true" class="ui-link ui-btn ui-btn-j ui-btn-inline ui-shadow ui-corner-all" role="button">Find Clinic</a>
	            <a href="#" (click)="gotoSubPage(1)" class="corn_mobile_infographics ui-link ui-btn ui-btn-inline ui-shadow ui-corner-all" data-role="button" data-inline="true" role="button">Continue</a>
	        </p>
	        <p>&nbsp;</p>
	    </div>
	    <!--end 10 div --> 
	    <p>&nbsp;</p>
	</div>
</ion-content>
