$toolbar-background-color: #03a9f4;

page-drug {
	font-size: 16px;
	background-image: url(../assets/img/dosing/blue-balls.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: fixed;
    height: 500px;
    min-height: 760px;
    .ui-input-search input {
	    padding-left: 1.75em !important;
	    width: 100% !important;
	}
	.no-scroll{
    	.scroll-content {
	        overflow-y: hidden;
	    }
    }
    .no-results{
    	padding: 0px !important;
    }
    .no-results p {
	    border: 1px solid #fffee58;
	    font-size: 100% !important;
	    padding: .7em 1em;
	    background-color: #ffff00;
	}
	button:focus{
		background-color: transparent;
	}
	h1{
		text-transform: capitalize;
		font-size: 2.4em;
	    line-height: 1.8;
	    margin-bottom: 50px;
	    margin-top: 30px;
	    text-align: center;
	    font-weight: 700;
	}
	.ui-title{
		padding-top: 0.2em !important;
	}
	.toolbar-title-md{
		font-size: 16px;
	}
	.content-md{
		background-color: transparent;
	}
	.toolbar-background-md, .toolbar-background{
		background: $toolbar-background-color;
	}
	.bar-button-md{
		padding: 0px;
	}
	.divider1 {
	    background-image: url(../assets/img/backgrounds/dividers/div1.png);
	    background-repeat: repeat-x;
	    height: 9px;
	    background-position: left top;
	    margin-top: 5px;
	    margin-bottom: 5px;
	}
}
