<!--  
  Generated template for the AllergiesMobile page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
   -->
<ion-header class="ui-header">

  <ion-navbar>
    <ion-title>
    	<h1 class="ui-title">
      	Constipation
      </h1>
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="showMenu()">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
	</ion-navbar>
  <ion-navbar class="fullWidth robotoLight bgLightBlue" *ngIf="page>=0 && page<40">
    <p *ngIf="page==0">Constipated?</p>
    <p *ngIf="page>0 && page<20">How bad is it?</p>
    <p *ngIf="page>=20 && page<30">What caused it?</p>
    <p *ngIf="page>=30 && page<40">How long?</p>
  </ion-navbar>
</ion-header>

<ion-content class="ui-page-theme-i">
	<div class="ui-content" *ngIf="page==0">
	    <div class="maxwidth450">
	        <div class="ovalBorderRightBlue centerText">
	            <span>You would consider yourself <span class="bluefont">constipated</span> if you have most of the symptoms listed below.</span><br>
	        </div>
	        <div align="right"><img src="assets/img/pharm/male/pharm-joe.svg" width="100"></div>
	    </div>
	    <div class="clearboth divider1"></div>
	    <!-----------------End Border right person------------------- -->
	    <p>&nbsp;</p>
	    <div class="blueBorderAll">
	        <ul>
	            <li>Have a bowel movement of less than 3 times a week.</li>
	            <br>
	            <li>Have hard stools.</li>
	            <br>
	            <li>Have difficulty passing stools.</li>
	            <br>
	            <li>Have pain while passing stools.</li>
	            <br>
	            <li>Unable to pass stool after pushing for more than 10 minutes.</li>
	            <br>
	            <li>Have a sense of incomplete evacuation after stooling.</li>
	            <br>
	        </ul>
	        <hr class="hrblue">
	        <br>
	        <p class="centerText">
	            <br>
	            <img src="assets/img/people/adult/stomach/constipation-lady.svg" width="120" alt="Lady with constipation">
	        </p>
	    </div>
	    <p class="blueBorderAll centerText">Let's take a look at what is going on.</p>
	    <!--------------------------Banner Link----------------------------- -->
	    <div>
	    </div>
	    <!--------------------------Banner Link----------------------------- -->
	    <div class="clearboth divider1"></div>
	    <p class="centerText">
	        <a href="#" data-role="button" data-inline="true" class="ui-link ui-btn ui-btn-inline ui-shadow ui-corner-all" role="button" (click)="togglePage(1)">Continue</a>
	    </p>
	    <p>&nbsp;</p>
	</div>

	<div class="ui-content" *ngIf="page>0 && page<20">
	    <div id="constipation1_mobile_2_n" *ngIf="page==1">
	        <div class="maxwidth450">
	            <div class="ovalBorderRightBlue centerText"> 
	                <span>Did the constipation <span class="bluefont">start suddenly</span> and you also have <span class="purple_bluefont">abdominal pain?</span></span><br>
	            </div>
	            <div align="right">
	                <img src="assets/img/pharm/male/pharm-joe.svg" width="100">
	            </div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Border right person------------------- -->
	        <div class="clearboth divider1"></div>
	        <p class="centerText">
	            <button data-inline="true" class="constipation1_mobile_3_n_link ui-btn ui-btn-l ui-btn-inline ui-shadow ui-corner-all" data-theme="l" (click)="togglePage(2)">Yes</button>
	            <button data-inline="true" class="constipation1_mobile_3_n_link ui-btn ui-btn-k ui-btn-inline ui-shadow ui-corner-all" data-theme="k" (click)="togglePage(3)">No</button>
	        </p>
	        <p>&nbsp;</p>
	    </div>
	    <!--end first question div --> 
	    <!--start 3 div -->   
	    <div id="constipation1_mobile_3_y" *ngIf="page==2">
	        <h3>Yes?</h3>
	        <p>&nbsp;</p>
	        <button data-inline="true" class="constipation1_mobile_3_n_link ui-btn ui-btn-inline ui-shadow ui-corner-all" (click)="togglePage(3)">Continue</button>	
	        <p>&nbsp;</p>
	    </div>
	    <div id="constipation1_mobile_3_n" *ngIf="page==3">
	        <div class="maxwidth450">
	            <div class="ovalBorderRightBlue centerText">
	                <span>Did it start suddenly and you also cannot pass <span class="orangefont">gas </span>or any <span class="orangefont">stool?</span></span><br>
	            </div>
	            <div align="right"><img src="assets/img/pharm/male/pharm-joe.svg" width="100"></div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Border right person------------------- -->
	        <div class="clearboth divider1"></div>
	        <p class="centerText">
	            <button data-inline="true" class="constipation1_mobile_4_y_link ui-btn ui-btn-l ui-btn-inline ui-shadow ui-corner-all" data-theme="l" (click)="togglePage(4)">Yes</button>
	            <button data-inline="true" class="constipation1_mobile_4_n_link ui-btn ui-btn-k ui-btn-inline ui-shadow ui-corner-all" data-theme="k" (click)="togglePage(5)">No</button>
	        </p>
	        <p>&nbsp;</p>
	    </div>
	    <!--end 3 div --> 
	    <div id="constipation1_mobile_4_y" *ngIf="page==4">
	        <!--start 4 div -->
	        <div class="maxwidth450">
	            <div class="ovalBorderRightYellow centerText">
	                <span class="redfontLarge">Seek urgent care or call your doctor.</span><br>
	            </div>
	            <div align="right"><img src="assets/img/pharm/male/pharm-joe.svg" width="100"></div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Border right person------------------- -->
	        <div class="redBorderAll">
	            <p class="redfont redBorder centerText">Here is why:</p>
	            <ul>
	                <li>Looking at something serious.</li>
	                <li>Do not take any laxative until you see a doctor.</li>
	            </ul>
	        </div>
	        <br>
	        <!---------------------End Seek urgent care------------- -->
	        <div class="clearboth divider1"></div>
	        <p class="centerText">
	            <a href="#" (click)="gotoSubPage(0)" data-role="button" data-theme="j" data-inline="true" class="ui-link ui-btn ui-btn-j ui-btn-inline ui-shadow ui-corner-all" role="button">Nearest Clinic</a>
	            <button data-inline="true" class="constipation1_mobile_4_n_link ui-btn ui-btn-inline ui-shadow ui-corner-all" (click)="togglePage(5)">Continue</button>
	        </p>
	        <p>&nbsp;</p>
	    </div>
	    <div id="constipation1_mobile_4_n" *ngIf="page==5">
	        <div class="maxwidth450">
	            <div class="ovalBorderRightBlue centerText">
	                <span>Is there <span class="redfont">blood</span> coming out when you try to empty your <span class="orangefont">bowel</span></span><br>
	            </div>
	            <div class="clearboth"></div>
	            <div class="container_12">
	                <div class="grid_8">
	                    <br>
	                    <div class="bubbleRightBlue redfont">
	                        Or in the stool?
	                    </div>
	                </div>
	                <div class="grid_4">
	                    <img src="assets/img/pharm/male/pharm-joe.svg" alt="Pharmacist" width="80" align="right">
	                </div>
	            </div>
	        </div>
	        <br>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Point Right------------------- -->
	        <div class="clearboth divider1"></div>
	        <p class="centerText">
	            <button data-inline="true" class="constipation1_mobile_5_y_link ui-btn ui-btn-l ui-btn-inline ui-shadow ui-corner-all" data-theme="l" (click)="togglePage(6)">Yes</button>
	            <button data-inline="true" class="constipation1_mobile_5_n_link ui-btn ui-btn-k ui-btn-inline ui-shadow ui-corner-all" data-theme="k" (click)="togglePage(7)">No</button>
	        </p>
	        <p>&nbsp;</p>
	    </div>
	    <!--end 4 div --> 
	    <div id="constipation1_mobile_5_y" *ngIf="page==6">
	        <!--start 5 div -->
	        <div class="maxwidth450">
	            <div class="ovalBorderRightYellow centerText">
	                <span class="redfontLarge">Seek urgent care or call your doctor.</span><br>
	            </div>
	            <div align="right"><img src="assets/img/pharm/male/pharm-joe.svg" width="100"></div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Border right person------------------- -->
	        <div class="redBorderAll">
	            <p class="redfont redBorder centerText">Here is why:</p>
	            <ul>
	                <li>Need to rule out other causes which could be serious. </li>
	                <li>Even if you think it is hemorrhoids, you still need to see your doctor.</li>
	            </ul>
	        </div>
	        <br>
	        <!---------------------End Seek urgent care------------- -->
	        <!------Start Popoup div----- -->   
	        <div style="display: none;" id="constipation1_mobile_5_pop-placeholder">
	            <!-- placeholder for constipation1_mobile_5_pop -->
	        </div>
	        <!------End Popoup div----- -->
	        <div class="clearboth divider1"></div>
	        <p class="centerText">
	            <a href="#" data-role="button" data-rel="popup" data-inline="true" data-theme="m" data-transition="pop" aria-haspopup="true" aria-owns="constipation1_mobile_5_pop" aria-expanded="false" class="ui-link ui-btn ui-btn-m ui-btn-inline ui-shadow ui-corner-all" role="button" (click)="toggleFYIDlg(true)">FYI</a>
	            <a href="#" (click)="gotoSubPage(0)" data-role="button" data-theme="j" data-inline="true" class="ui-link ui-btn ui-btn-j ui-btn-inline ui-shadow ui-corner-all" role="button">Nearest Clinic</a>
	            <button data-inline="true" class="constipation1_mobile_5_n_link ui-btn ui-btn-inline ui-shadow ui-corner-all" (click)="togglePage(7)">Continue</button>
	        </p>
	        <p>&nbsp;</p>
	    </div>
	    <div id="constipation1_mobile_5_n" *ngIf="page==7">
	        <div class="maxwidth450">
	            <div class="ovalBorderRightBlue centerText">
	                <span>With this constipation, are you experiencing <span class="purplefont">nausea</span> and/or <span class="pinkfont">vomiting?</span></span><br>
	            </div>
	            <div class="clearboth"></div>
	            <div class="container_12">
	                <div class="grid_8">
	                    <br>
	                    <div class="bubbleRightBlue">
	                        Feeling <span class="purplefont">bloated?</span>
	                    </div>
	                </div>
	                <div class="grid_4">
	                    <img src="assets/img/pharm/male/pharm-joe.svg" alt="Pharmacist" width="80" align="right">
	                </div>
	            </div>
	        </div>
	        <br>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Point Right------------------- -->
	        <div class="clearboth divider1"></div>
	        <p class="centerText">
	            <button data-inline="true" class="constipation1_mobile_6_y_link ui-btn ui-btn-l ui-btn-inline ui-shadow ui-corner-all" data-theme="l" (click)="togglePage(8)">Yes</button>
	            <button data-inline="true" class="constipation1_mobile_6_n_link ui-btn ui-btn-k ui-btn-inline ui-shadow ui-corner-all" data-theme="k" (click)="togglePage(9)">No</button>
	        </p>
	        <p>&nbsp;</p>
	    </div>
	    <!--end 5  div --> 
	    <div id="constipation1_mobile_6_y" *ngIf="page==8">
	        <!--start 6 div -->
	        <div class="maxwidth450">
	            <div class="ovalBorderRightYellow centerText">
	                <span class="redfontLarge">Seek urgent care or call the doctor.</span><br>
	            </div>
	            <div align="right"><img src="assets/img/pharm/male/pharm-joe.svg" width="100"></div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Border right person------------------- -->
	        <div class="redBorderAll">
	            <p class="redfont redBorder centerText">Here is why:</p>
	            <ul>
	                <li>This may suggest serious obstruction.</li>
	            </ul>
	        </div>
	        <br>
	        <!---------------------End Seek urgent care------------- -->
	        <div class="blueBorderAll">
	            <p class="blueBorder centerText">Require examination and tests by the doctor such as:</p>
	            <ul>
	                <li>Flat and upright abdominal x-rays</li>
	                <li>Water-soluble contrast enema to evaluate for colonic obstruction.</li>
	                <li>Barium x-ray of the small intestine</li>
	                <li>Possibly a CT scan</li>
	                <li>Sigmoidoscopy or</li>
	                <li>Colonoscopy.</li>
	            </ul>
	        </div>
	        <div class="clearboth divider1"></div>
	        <p class="centerText">
	            <a href="#" (click)="gotoSubPage(0)" data-role="button" data-theme="j" data-inline="true" class="ui-link ui-btn ui-btn-j ui-btn-inline ui-shadow ui-corner-all" role="button">Nearest Clinic</a>
	            <button data-inline="true" class="constipation1_mobile_6_n_link ui-btn ui-btn-inline ui-shadow ui-corner-all" (click)="togglePage(9)">Continue</button>
	        </p>
	        <p>&nbsp;</p>
	    </div>
	    <div id="constipation1_mobile_6_n" *ngIf="page==9">
	        <div class="maxwidth450">
	            <div class="ovalBorderRightBlue centerText">
	                <span>Are you having sharp <span class="redfont">stomach pains</span> with this constipation?</span><br>
	            </div>
	            <div class="clearboth"></div>
	            <div class="container_12">
	                <div class="grid_8">
	                    <br>
	                    <div class="bubbleRightBlue">
	                        Or a <span class="grayfont">tense</span> <span class="redfont">stomach?</span>
	                    </div>
	                </div>
	                <div class="grid_4">
	                    <img src="assets/img/pharm/male/pharm-joe.svg" alt="Pharmacist" width="80" align="right">
	                </div>
	            </div>
	        </div>
	        <br>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Point Right------------------- -->
	        <div class="clearboth divider1"></div>
	        <p class="centerText">
	            <button data-inline="true" class="constipation1_mobile_7_y_link ui-btn ui-btn-l ui-btn-inline ui-shadow ui-corner-all" data-theme="l" (click)="togglePage(10)">Yes</button>
	            <button data-inline="true" class="constipation1_mobile_7_n_link ui-btn ui-btn-k ui-btn-inline ui-shadow ui-corner-all" data-theme="k" (click)="togglePage(11)">No</button>
	        </p>
	        <p>&nbsp;</p>
	    </div>
	    <!--end 6 div --> 
	    <div id="constipation1_mobile_7_y" *ngIf="page==10">
	        <!--start 7 div -->
	        <div class="maxwidth450">
	            <div class="ovalBorderRightYellow centerText">
	                <span class="redfontLarge">Seek urgent care or call your doctor.</span><br>
	            </div>
	            <div align="right"><img src="assets/img/pharm/male/pharm-joe.svg" width="100"></div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Border right person------------------- -->
	        <div class="redBorderAll">
	            <p class="redfont redBorder centerText">Here is why:</p>
	            <ul>
	                <li>This may suggest mechanical obstruction.</li>
	            </ul>
	        </div>
	        <br>
	        <!---------------------End Seek urgent care------------- -->
	        <div class="clearboth divider1"></div>
	        <p class="centerText">
	            <a href="#" (click)="gotoSubPage(0)" data-role="button" data-theme="j" data-inline="true" class="ui-link ui-btn ui-btn-j ui-btn-inline ui-shadow ui-corner-all" role="button">Nearest Clinic</a>
	            <button data-inline="true" class="constipation1_mobile_7_n_link ui-btn ui-btn-inline ui-shadow ui-corner-all" (click)="togglePage(11)">Continue</button>
	        </p>
	        <p>&nbsp;</p>
	    </div>
	    <div id="constipation1_mobile_7_n" *ngIf="page==11">
	        <div class="maxwidth450">
	            <div class="ovalBorderRightBlue centerText">
	                <span>Is this constipation <span class="bluefont">alternating</span> with <span class="greenfont">watery diarrhea?</span></span><br>
	            </div>
	            <div align="right"><img src="assets/img/pharm/male/pharm-joe.svg" width="120"></div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Border right person------------------- -->
	        <div class="clearboth divider1"></div>
	        <p class="centerText">
	            <button data-inline="true" class="constipation1_mobile_8_y_link ui-btn ui-btn-l ui-btn-inline ui-shadow ui-corner-all" data-theme="l" (click)="togglePage(12)">Yes</button>
	            <button data-inline="true" class="constipation1_mobile_8_n_link ui-btn ui-btn-k ui-btn-inline ui-shadow ui-corner-all" data-theme="k" (click)="togglePage(13)">No</button>
	        </p>
	        <p>&nbsp;</p>
	    </div>
	    <!--end 7 div --> 
	    <div id="constipation1_mobile_8_y" *ngIf="page==12">
	        <!--start 8 div -->
	        <div class="maxwidth450">
	            <div class="ovalBorderRightYellow centerText">
	                <span class="redfontLarge">Seek urgent care or call your doctor.</span><br>
	            </div>
	            <div align="right"><img src="assets/img/pharm/male/pharm-joe.svg" width="120"></div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Border right person------------------- -->
	        <div class="redBorderAll">
	            <p class="redfont redBorder centerText">Here is why:</p>
	            <ul>
	                <li>You may be looking at fecal impaction here. This is serious.</li>
	                <li>May also be looking at Irritable bowel syndrome</li>
	            </ul>
	        </div>
	        <br>
	        <!---------------------End Seek urgent care------------- -->
	        <div class="greenBorderAll">
	            <p class="greenBorder centerText">Call now if the diarrhea contains:</p>
	            <ul>
	                <li>Watery mucus</li>
	                <li>particles of feces</li>
	                <li>and you have stomach cramps.</li>
	            </ul>
	        </div>
	        <div class="clearboth divider1"></div>
	        <p class="centerText">
	            <a href="#" (click)="gotoSubPage(0)" data-role="button" data-theme="j" data-inline="true" class="ui-link ui-btn ui-btn-j ui-btn-inline ui-shadow ui-corner-all" role="button">Nearest Clinic</a>
	            <button data-inline="true" class="constipation1_mobile_8_n_link ui-btn ui-btn-inline ui-shadow ui-corner-all" (click)="togglePage(13)">Continue</button>
	        </p>
	        <p>&nbsp;</p>
	    </div>
	    <div id="constipation1_mobile_8_n" *ngIf="page==13">
	        <div class="maxwidth450">
	            <div class="ovalBorderRightBlue centerText">
	                <span>What about <span class="orangefont">thin, pencil-like</span> <span class="redfont">stools</span> in addition to feeling constipated?</span><br>
	            </div>
	            <div align="right"><img src="assets/img/pharm/male/pharm-joe.svg" width="120"></div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Border right person------------------- -->
	        <div class="clearboth divider1"></div>
	        <p class="centerText">
	            <button data-inline="true" class="constipation1_mobile_9_y_link ui-btn ui-btn-l ui-btn-inline ui-shadow ui-corner-all" data-theme="l" (click)="togglePage(14)">Yes</button>
	            <button data-inline="true" class="constipation1_mobile_9_n_link ui-btn ui-btn-k ui-btn-inline ui-shadow ui-corner-all" data-theme="k" (click)="togglePage(15)">No</button>
	        </p>
	        <p>&nbsp;</p>
	    </div>
	    <!--end 8 div --> 
	    <div id="constipation1_mobile_9_y" *ngIf="page==14">
	        <!--start 9 div -->
	        <div class="maxwidth450">
	            <div class="ovalBorderRightYellow centerText">
	                <span class="redfontLarge">Seek urgent care or call your doctor.</span><br>
	            </div>
	            <div align="right"><img src="assets/img/pharm/male/pharm-joe.svg" width="120"></div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Border right person------------------- -->
	        <div class="redBorderAll">
	            <p class="redfont redBorder centerText">Here is why:</p>
	            <ul>
	                <li>Possible bowel obstruction</li>
	                <li>Fecal impaction</li>
	            </ul>
	        </div>
	        <br>
	        <!---------------------End Seek urgent care------------- -->
	        <div class="clearboth divider1"></div>
	        <p class="centerText">
	            <a href="#" (click)="gotoSubPage(0)" data-role="button" data-theme="j" data-inline="true" class="ui-link ui-btn ui-btn-j ui-btn-inline ui-shadow ui-corner-all" role="button">Nearest Clinic</a>
	            <button data-inline="true" class="constipation1_mobile_9_n_link ui-btn ui-btn-inline ui-shadow ui-corner-all" (click)="togglePage(15)">Continue</button>
	        </p>
	        <p>&nbsp;</p>
	    </div>
	    <div id="constipation1_mobile_9_n" *ngIf="page==15">
	        <div class="maxwidth450">
	            <div class="ovalBorderRightBlue centerText">
	                <span>Have you <span class="bluefont">lost weight</span> that you didn't want to lose lately</span><br>
	            </div>
	            <div class="clearboth"></div>
	            <div class="container_12">
	                <div class="grid_8">
	                    <br>
	                    <div class="bubbleRightBlue">
	                        in <span class="bluefont">addition</span> to this constipation?
	                    </div>
	                </div>
	                <div class="grid_4">
	                    <img src="assets/img/pharm/male/pharm-joe.svg" alt="Pharmacist" width="80" align="right">
	                </div>
	            </div>
	        </div>
	        <br>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Point Right------------------- -->
	        <div class="clearboth divider1"></div>
	        <p class="centerText">
	            <button data-inline="true" class="constipation1_mobile_10_y_link ui-btn ui-btn-l ui-btn-inline ui-shadow ui-corner-all" data-theme="l" (click)="togglePage(16)">Yes</button>
	            <button data-inline="true" class="constipation1_mobile_10_n_link ui-btn ui-btn-k ui-btn-inline ui-shadow ui-corner-all" data-theme="k" (click)="togglePage(17)">No</button>
	        </p>
	        <p>&nbsp;</p>
	    </div>
	    <!--end 9  div --> 
	    <div id="constipation1_mobile_10_y" *ngIf="page==16">
	        <!--start 10 div -->
	        <div class="maxwidth450">
	            <div class="ovalBorderRightYellow centerText">
	                <span class="redfontLarge">Seek urgent care or call your doctor.</span><br>
	            </div>
	            <div align="right"><img src="assets/img/pharm/male/pharm-joe.svg" width="120"></div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Border right person------------------- -->
	        <div class="redBorderAll">
	            <p class="redfont redBorder centerText">Here is why:</p>
	            <ul>
	                <li>Need complete evaluation.</li>
	            </ul>
	        </div>
	        <br>
	        <!---------------------End Seek urgent care------------- -->
	        <div class="clearboth divider1"></div>
	        <p class="centerText">
	            <a href="#" (click)="gotoSubPage(0)" data-role="button" data-theme="j" data-inline="true" class="ui-link ui-btn ui-btn-j ui-btn-inline ui-shadow ui-corner-all" role="button">Nearest Clinic</a>
	            <button data-inline="true" class="constipation1_mobile_10_n_link ui-btn ui-btn-inline ui-shadow ui-corner-all" (click)="togglePage(17)">Continue</button>
	        </p>
	        <p>&nbsp;</p>
	    </div>
	    <div id="constipation1_mobile_10_n" *ngIf="page==17">
	        <div class="maxwidth450">
	            <div class="ovalBorderRightBlue centerText">
	                <span class="bluefontLarge firstname"> </span><br>
	                Let's find out what may be <span class="orangefont">causing</span> the constipation.
	            </div>
	            <div align="right"><img src="assets/img/pharm/male/pharm-joe.svg" width="120"></div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Border right person------------------- -->
	        <p class="blueBorder"> Eliminating the cause is a good way of getting rid of it and getting the bowels back to regular.</p>
	        <!--------------------------Banner Link----------------------------- -->
	        <div>
	        </div>
	        <!--------------------------Banner Link----------------------------- -->
	        <div class="clearboth divider1"></div>
	        <p class="centerText">
	            <a href="#" data-role="button" data-inline="true" class="ui-link ui-btn ui-btn-inline ui-shadow ui-corner-all" role="button" (click)="togglePage(20)">Continue</a>
	        </p>
	        <p>&nbsp;</p>
	    </div>
	    <!--end 10 div --> 
	    <p>&nbsp;</p>
	</div>

	<div class="ui-content" *ngIf="page>=20 && page<30">
	    <div id="constipation2_mobile_1" *ngIf="page==20">
	        <div class="maxwidth450">
	            <div class="ovalBorderRightBlue centerText">
	                <span>Do you <span class="bluefont">delay</span> going to the bathroom when you have the <span class="redfont">urge</span> to go?</span><br>
	            </div>
	            <div align="right"><img src="assets/img/pharm/male/pharm-joe.svg" width="120"></div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Border right person------------------- -->
	        <div class="clearboth divider1"></div>
	        <p class="centerText">
	            <button data-inline="true" class="constipation2_mobile_2_y_link ui-btn ui-btn-l ui-btn-inline ui-shadow ui-corner-all" data-theme="l" (click)="togglePage(21)">Yes</button>
	            <button data-inline="true" class="constipation2_mobile_2_n_link ui-btn ui-btn-k ui-btn-inline ui-shadow ui-corner-all" data-theme="k" (click)="togglePage(22)">No</button>
	        </p>
	        <p>&nbsp;</p>
	    </div>
	    <div id="constipation2_mobile_2_y" *ngIf="page==21">
	        <div class="maxwidth450">
	            <div class="ovalBorderRightBlue centerText">
	                <span class="bluefontLarge">Yes?</span><br>
	                You will have to stop this. This is a major <span class="bluefont">cause</span> of constipation.
	            </div>
	            <div align="right"><img src="assets/img/pharm/male/pharm-joe.svg" width="120"></div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Border right person------------------- -->
	        <p class="blueBorder">This is one reason <span class="orangefont">travellers</span> always have constipation. Aside from having to sit in one place for a long time leading to  lack of physical activity.</p>
	        <div class="clearboth divider1"></div>
	        <p class="centerText">
	            <button data-inline="true" class="constipation2_mobile_2_n_link ui-btn ui-btn-inline ui-shadow ui-corner-all" (click)="togglePage(22)">Continue</button>
	        </p>
	        <p>&nbsp;</p>
	    </div>
	    <div id="constipation2_mobile_2_n" *ngIf="page==22">
	        <div class="maxwidth450">
	            <div class="ovalBorderRightBlue centerText">
	                <span>What about your <span class="purplefont">diet?</span> Is it <span class="grayfont">low</span> in <span class="purple_redfont">fiber?</span></span><br>
	            </div>
	            <div align="right"><img src="assets/img/pharm/male/pharm-joe.svg" width="120"></div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Border right person------------------- -->
	        <div class="clearboth divider1"></div>
	        <p class="centerText">
	            <button data-inline="true" class="constipation2_mobile_3_y_link ui-btn ui-btn-l ui-btn-inline ui-shadow ui-corner-all" data-theme="l" (click)="togglePage(23)">Yes</button>
	            <button data-inline="true" class="constipation2_mobile_3_n_link ui-btn ui-btn-k ui-btn-inline ui-shadow ui-corner-all" data-theme="k" (click)="togglePage(24)">No</button>
	        </p>
	        <p>&nbsp;</p>
	    </div>
	    <div id="constipation2_mobile_3_y" *ngIf="page==23">
	        <div class="maxwidth450">
	            <div class="ovalBorderRightBlue centerText">
	                <span class="bluefontLarge">Yes?</span><br>
	                Try increasing the <span class="purple_redfont">fiber</span> in your diet.
	            </div>
	            <div align="right"><img src="assets/img/pharm/male/pharm-joe.svg" width="120"></div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Border right person------------------- -->
	        <div class="clearboth divider1"></div>
	        <p class="centerText">
	            <button data-inline="true" class="constipation2_mobile_3_n_link ui-btn ui-btn-inline ui-shadow ui-corner-all" (click)="togglePage(24)">Continue</button>
	        </p>
	        <p>&nbsp;</p>
	    </div>
	    <div id="constipation2_mobile_3_n" *ngIf="page==24">
	        <div class="maxwidth450">
	            <div class="ovalBorderRightBlue centerText">
	                <span>Do you <span class="orangefont">drink</span> enough <span class="bluefont">water?</span></span><br>
	            </div>
	            <div align="right"><img src="assets/img/pharm/male/pharm-joe.svg" width="120"></div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Border right person------------------- -->
	        <div class="clearboth divider1"></div>
	        <p class="centerText">
	            <button data-inline="true" class="constipation2_mobile_4_n_link ui-btn ui-btn-l ui-btn-inline ui-shadow ui-corner-all" data-theme="l" (click)="togglePage(26)">Yes</button>
	            <button data-inline="true" class="constipation2_mobile_4_n_link ui-btn ui-btn-k ui-btn-inline ui-shadow ui-corner-all" data-theme="k" (click)="togglePage(26)">No</button>
	        </p>
	        <p>&nbsp;</p>
	    </div>
	    <div id="constipation2_mobile_4_y" *ngIf="page==25">
	        <p>&nbsp;</p>
	    </div>
	    <div id="constipation2_mobile_4_n" *ngIf="page==26">
	        <div class="maxwidth450">
	            <div class="ovalBorderRightBlue centerText">
	                <span>Are you currently <span class="purplefont">taking</span> any of the groups of <span class="redfont">medications</span> listed below?</span><br>
	            </div>
	            <div align="right"><img src="assets/img/pharm/male/pharm-joe.svg" width="120"></div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Border right person------------------- -->
	        <div class="blueBorderAll">
	            <p class="blueBorder purplefont centerText">Medications that are:</p>
	            <ul>
	                <li>Antihistamines</li>
	                <li>Antispasmodics</li>
	                <li>Antiparkinsonian drugs</li>
	                <li>Ca channel blockers</li>
	                <li>Opioid pain relievers</li>
	                <li>Antipsychotics</li>
	                <li>Iron, aluminum, Calcium, Bismuth?</li>
	            </ul>
	        </div>
	        <div class="clearboth divider1"></div>
	        <p class="centerText">
	            <button data-inline="true" class="constipation2_mobile_5_y_link ui-btn ui-btn-l ui-btn-inline ui-shadow ui-corner-all" data-theme="l" (click)="togglePage(27)">Yes</button>
	            <button data-inline="true" class="constipation2_mobile_5_n_link ui-btn ui-btn-k ui-btn-inline ui-shadow ui-corner-all" data-theme="k" (click)="togglePage(28)">No</button>
	        </p>
	        <p>&nbsp;</p>
	    </div>
	    <div id="constipation2_mobile_5_y" *ngIf="page==27">
	        <div class="maxwidth450">
	            <div class="ovalBorderRightBlue centerText">
	                <span class="bluefontLarge">Yes?</span><br>
	                These can cause constipation. 
	            </div>
	            <div align="right"><img src="assets/img/pharm/male/pharm-joe.svg" width="120"></div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Border right person------------------- -->
	        <p class="blueBorder">If you just started taking the medications, discuss this with your doctor.</p>
	        <p class="blueBorderAll">If you are taking <span class="purple_redfont">iron</span> suplements, switch to the ones that will cause less constipation. The pharmacist may discuss this with you later.</p>
	        <div class="clearboth divider1"></div>
	        <p class="centerText">
	            <button data-inline="true" class="constipation2_mobile_5_n_link ui-btn ui-btn-inline ui-shadow ui-corner-all" (click)="togglePage(28)">Continue</button>
	        </p>
	        <p>&nbsp;</p>
	    </div>
	    <div id="constipation2_mobile_5_n" *ngIf="page==28">
	        <div class="maxwidth450">
	            <div class="ovalBorderRightBlue centerText">
	                <span class="bluefontLarge" id="firstname_constipation2_mobile_5"></span><br>
	                There are other causes of constipation that we did not mention. 
	            </div>
	            <div align="right"><img src="assets/img/pharm/male/pharm-joe.svg" width="120"></div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Border right person------------------- -->
	        <p class="blueBorder centerText">Top among them is <span class="orangefont">stress.</span>
	        </p>
	        <p class="blueBorderAll centerText">Let's continue and see what a pharmacist recommend over the counter to help with the constipation.</p>
	        <!--------------------------Banner Link----------------------------- -->
	        <div>
	        </div>
	        <!--------------------------Banner Link----------------------------- -->	 
	        <div class="clearboth divider1"></div>
	        <p class="centerText">
	            <a href="#" data-role="button" data-inline="true" class="ui-link ui-btn ui-btn-inline ui-shadow ui-corner-all" role="button" (click)="togglePage(30)">Continue</a>	
	        </p>
	        <p>&nbsp;</p>
	    </div>
	    <p>&nbsp;</p>
	</div>

	<div class="ui-content" *ngIf="page>=30 && page<40">
	    <div id="slider_constipation3_mobile_div" *ngIf="page==30">
	        <div class="maxwidth450">
	            <div class="ovalBorderRightBlue centerText">
	                <span>How many <span class="bluefont">days</span> has it been since your <span class="redfont">last </span> bowel movement?</span><br>
	            </div>
	            <div align="right"><img src="assets/img/pharm/male/pharm-joe.svg" width="120"></div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Border right person------------------- -->
	        <br>
	        <div data-role="fieldcontain" class="ui-field-contain">
	            <label for="slider_constipation3_mobile" id="slider_constipation3_mobile-label">I say:</label>
	            <div class="ui-slider">
	            	<ion-item>
						<ion-range min="1" max="10" step="0.1" [(ngModel)]="currentDay" color="sliderPink">
							<ion-label range-left>{{currentDay}}</ion-label>
						</ion-range>
					</ion-item>
	            </div>
	        </div>
	        <br>
	        <div class="clearboth divider1"></div>
	        <div class="centerText">
	        	<div class="ui-btn ui-input-btn ui-corner-all ui-shadow ui-btn-inline">
	        		Here you go
	        		<input type="button" id="get_constipation3_mobile_value" data-inline="true" value="Here you go" (click)="togglePage(31)">
	        	</div>
	        </div>
	    </div>
	    <br>
	    <div class="container_12" id="selected_constipation3_mobile_value_container" *ngIf="page==31">
	        <div class="maxwidth450">
	            <div class="ovalBorderRightBlue centerText">
	                <div id="selected_constipation3_mobile_value">
	                	You said:<span style="background-color:#FFFF99; border:inset; border-color:#FFFF00; padding:5px;">{{currentDay}}</span>day(s)
	                </div>
	            </div>
	            <div align="right"><img src="assets/img/pharm/male/pharm-joe.svg" width="120"></div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Border right person------------------- -->
	    </div>
	    <div id="constipation3_mobile_option1" *ngIf="page==31 && currentDay<=3">
	        <h3>Option1</h3>
	        <p>&nbsp;</p>
	    </div>
	    <div id="constipation3_mobile_option2" *ngIf="page==31 && currentDay<=7 && currentDay>3">
	        <h3>Option2</h3>
	        <p>&nbsp;</p>
	    </div>
	    <div id="constipation3_mobile_option3" *ngIf="page==31 && currentDay<=10 && currentDay>7">
	        <h3>Option3</h3>
	        <p>&nbsp;</p>
	    </div>
	    <!-------------Start Options button------------------ --> 
	    <div id="options_btn_constipation3_mobile" *ngIf="page==31">
	        <!--------------------------Banner Link----------------------------- -->
	        <div>
	        </div>
	        <!--------------------------Banner Link----------------------------- -->
	        <input type="hidden" class="ClickValuePage1_25" value="">
	        <input type="hidden" class="ClickValuePage1_50" value="">
	        <input type="hidden" class="ClickValuePage1_100" value="200">
	        <input type="hidden" class="ClickValuePage2_25" value="">
	        <input type="hidden" class="ClickValuePage2_50" value="">
	        <input type="hidden" class="ClickValuePage2_100" value="">
	        <input type="hidden" class="ClickValuePage3_25" value="">
	        <input type="hidden" class="ClickValuePage3_50" value="">
	        <input type="hidden" class="ClickValuePage3_100" value="">
	        <input type="hidden" class="totalResult" value="">
	        <div class="clearboth divider1"></div>
	        <p class="centerText">
	            <button class="back_constipation3_mobile_value ui-alt-icon ui-btn ui-btn-b ui-icon-back ui-btn-icon-notext ui-btn-inline ui-shadow ui-corner-all" data-inline="true" (click)="goBackDay()">Back</button>
	            <a href="#" data-role="button" data-theme="j" data-inline="true" class="ui-link ui-btn ui-btn-j ui-btn-inline ui-shadow ui-corner-all" role="button" (click)="gotoSubPage(0)">Nearest Clinic</a>
	            <a href="#" class="constipation_mobile_infographics ui-link ui-btn ui-btn-inline ui-shadow ui-corner-all" data-role="button" data-inline="true" role="button" (click)="gotoSubPage(1)">Continue</a>
	        </p>
	    </div>
	    <!--------------End Options Button----------------------- -->
	    <p>&nbsp;</p>
	    <p>&nbsp;</p>
	</div>

	<div class="ui-popup-screen ui-overlay-b in" id="constipation1_mobile_5_pop-screen" *ngIf="FYIDlg.show" (click)="toggleFYIDlg(false)"></div>
	<div class="ui-popup-container pop in ui-popup-active" id="constipation1_mobile_5_pop-popup" *ngIf="FYIDlg.show" [ngStyle]="{'max-width': FYIDlg.maxWidth+'px','top': FYIDlg.top+'px', 'left': FYIDlg.left+'px', 'width': FYIDlg.width+'px'}">
	    <div data-role="popup" id="constipation1_mobile_5_pop" class="ui-content ui-popup ui-body-inherit ui-overlay-shadow ui-corner-all" data-overlay-theme="b" data-position-to="window">
	        <a href="#" data-rel="back" data-role="button" data-icon="delete" data-iconpos="notext" class="ui-btn-right ui-link ui-btn ui-icon-delete ui-btn-icon-notext ui-shadow ui-corner-all" role="button" (click)="toggleFYIDlg(false)">Close</a>
	        <div class="redBorderAll">
	            <p class="redBorder bluefont centerText">Note that:</p>
	            <ol>
	                <li>Stool that is black may mean that the blood is coming from the upper part of the gastrointestinal (GI) tract <span class="grayfontSmall">(esophagus, stomach, and the first part of the small intestine)</span>.</li>
	                <li>Bright red blood or maroon-colored stools  may mean  that the blood is coming from the lower part of the GI tract <span class="grayfontSmall">(large bowel, rectum, or anus).</span></li>
	            </ol>
	        </div>
	        <p class="redBorderAll">Blood will usually look black like tar after it has passed through the intestines because it has been exposed to the body's <span class="bluefont">digestive juices.</span></p>
	    </div>
	</div>
</ion-content>
