<!-- 
  Generated template for the Decongestants page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
 -->
<ion-header class="ui-header">
	<ion-navbar>
    <ion-title>
    	<h1 class="ui-title">
      	Compare
      </h1>
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="showMenu()">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content class="ui-page-theme-a" has-subheader="true">
  <ion-header class="ui-header">
    <ion-navbar class="fullWidth bgLightBlue robotoLight shadowBottom">
      <p>Dry Eyes</p>
    </ion-navbar>
  </ion-header>
	<div class="fullWidth" role="main" #mainBody>
	    <p>&nbsp;</p>
	    <div class="fixed-action-btn" style="bottom: 45px; right: 24px; display: none;" id="arrow_upward">
	        <a class="btn-floating btn-large blue ui-link" href="#" (click)="gotoTop(1000)">
	        <i class="large material-icons">arrow_upward</i>
	        </a>
	    </div>
	    <div class="maxwidth600">
	        <div class="maxwidth450 paddingSides">
	            <div class="ovalBorderRightBlue">
	                <span>Compare <span class="purple_bluefont">Artifical tears</span> and <span class="bluefont">lubricants</span> for<span class="bluefont"> dry eyes</span> using the table below.</span>
	            </div>
	            <div align="right"><img src="assets/img/pharm/female/pharm-trisha.svg" width="100" alt="Pharmacist"> 
	            </div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <br>
	        <!-- ---------------End Border right person------------------- -->
	        <p class="grayfontSmall redBorderAll centerText"><span class="greenfont">Show</span> and <span class="redfont">hide</span> columns with the <span class="bluefont">"Sort"</span>  button. <br>For best results in a mobile device,  <span class="redfont">check (√) one column</span> at a time due to limited screen size.</p>
	        <div class="clearboth divider1"></div>
	        <br>
	    </div>
	    <div class="centerText">
	        <!--  FYI Panel (below) and Search popup -->
	        <a href="#" class="mbsc-ic mbsc-ic-stream-bubble-comment-talk mbsc-ic-font36 linkBlue ui-link" (click)="showCommentCompare()"></a>
	        <a href="#" data-rel="popup" data-transition="pop" class="mbsc-ic mbsc-ic-ion-ios7-search-strong mbsc-ic-font36 linkBlue ui-link" aria-haspopup="true" aria-owns="filterdecongestant_medsTable-pop" aria-expanded="false" (click)="toggleSearchDlg(true)"></a>
	    </div>
	    <br>
	    <hr class="hrpink">
	    <br>
	    <!-- ----Start Popoup div----- -->   
	    <div style="display: none;" id="filterdecongestant_medsTable-pop-placeholder">
	        <!--  placeholder for filterdecongestant_medsTable-pop  -->
	    </div>
	    <!-- ----End Popoup div----- -->
	    <!-- ----Table attribute:  data-filter="true" data-input="#filterdecongestant_medsTable-input"----- -->
	    <!-- -------------Start Table------------------------------------ -->
	    <div style="display: none;" id="decongestant_meds_table-popup-placeholder">
	        <!--  placeholder for decongestant_meds_table-popup  -->
	    </div>
	    <a href="#" class="ui-table-columntoggle-btn ui-btn ui-btn-a ui-corner-all ui-shadow ui-mini" data-rel="popup" (click)="toggleSortDlg(true)">Sort</a>
	    <table data-role="table" id="decongestant_meds_table" data-filter="true" data-input="#filterdecongestant_medsTable-input" data-mode="columntoggle" class="ui-body-d ui-shadow table-stripe ui-responsive my-responsive-class ui-table ui-table-columntoggle" data-column-btn-theme="a" data-column-btn-text="Sort" data-column-popup-theme="a" style="font-size:12px">
	        <thead>
	            <tr class="ui-bar-a">
	            	<th data-colstart="1"></th>
		            <th data-priority="1" data-colstart="2" class="ui-table-priority-3" [ngClass]="{'ui-table-cell-visible': ShowTabs[0]['ui-checkbox-on']}">
		              <div class="centerText">{{ShowTabs[0]['title']}}</div>
		            </th>
		            <th data-priority="1" data-colstart="3" class="ui-table-priority-3" [ngClass]="{'ui-table-cell-visible': ShowTabs[1]['ui-checkbox-on']}">
		              <div class="centerText">{{ShowTabs[1]['title']}}</div>
		            </th>
		            <th data-priority="1" data-colstart="4" class="ui-table-priority-3" [ngClass]="{'ui-table-cell-visible': ShowTabs[2]['ui-checkbox-on']}">
		              <div class="centerText">{{ShowTabs[2]['title']}}</div>
		            </th>
		            <th data-priority="1" data-colstart="5" class="ui-table-priority-4" [ngClass]="{'ui-table-cell-visible': ShowTabs[3]['ui-checkbox-on']}">
		              <div class="centerText">{{ShowTabs[3]['title']}}</div>
		            </th>
		            <th data-priority="1" data-colstart="6" class="ui-table-priority-5" [ngClass]="{'ui-table-cell-visible': ShowTabs[4]['ui-checkbox-on']}">
		              <div class="centerText">{{ShowTabs[4]['title']}}</div>
		            </th>
		            <th data-priority="1" data-colstart="7" class="ui-table-priority-5" [ngClass]="{'ui-table-cell-visible': ShowTabs[5]['ui-checkbox-on']}">
		              <div class="centerText">{{ShowTabs[5]['title']}}</div>
		            </th>
		            <th data-priority="1" data-colstart="8" class="ui-table-priority-6" [ngClass]="{'ui-table-cell-visible': ShowTabs[6]['ui-checkbox-on']}">
		              <div class="centerText">{{ShowTabs[6]['title']}}</div>
		            </th>
		            <th data-priority="1" data-colstart="9" class="ui-table-priority-6" [ngClass]="{'ui-table-cell-visible': ShowTabs[7]['ui-checkbox-on']}">
		              <div class="centerText">{{ShowTabs[7]['title']}}</div>
		            </th>
		            <th data-priority="1" data-colstart="10" class="ui-table-priority-6" [ngClass]="{'ui-table-cell-visible': ShowTabs[8]['ui-checkbox-on']}">
		              <div class="centerText">{{ShowTabs[8]['title']}}</div>
		            </th>
		            <th data-priority="1" data-colstart="11" class="ui-table-priority-6" [ngClass]="{'ui-table-cell-visible': ShowTabs[9]['ui-checkbox-on']}">
		              <div class="centerText">{{ShowTabs[9]['title']}}</div>
		            </th>
	            </tr>
	        </thead>
	        <tbody>
	            <tr *ngFor="let eachData of TableTempData">
		            <th style="font-size:14px"><div [innerHTML]="sanitizer.bypassSecurityTrustHtml(eachData['drug_name'])"></div></th>
		            <td style="font-size:14px" [ngClass]="{'ui-table-cell-hidden': ShowTabs[0]['ui-checkbox-off']}"><div [innerHTML]="sanitizer.bypassSecurityTrustHtml(eachData['ingredients'])"></div></td>
		            <td style="font-size:12px" [ngClass]="{'ui-table-cell-hidden': ShowTabs[1]['ui-checkbox-off']}"><div [innerHTML]="sanitizer.bypassSecurityTrustHtml(eachData['description'])"></div></td>
		            <td [ngClass]="{'ui-table-cell-hidden': ShowTabs[2]['ui-checkbox-off']}"><div [innerHTML]="sanitizer.bypassSecurityTrustHtml(eachData['onset'])"></div></td>
		            <td [ngClass]="{'ui-table-cell-hidden': ShowTabs[3]['ui-checkbox-off']}"><div [innerHTML]="sanitizer.bypassSecurityTrustHtml(eachData['duration'])"></div></td>
		            <td [ngClass]="{'ui-table-cell-hidden': ShowTabs[4]['ui-checkbox-off']}"><div [innerHTML]="sanitizer.bypassSecurityTrustHtml(eachData['pros'])"></div></td>
		            <td [ngClass]="{'ui-table-cell-hidden': ShowTabs[5]['ui-checkbox-off']}"><div [innerHTML]="sanitizer.bypassSecurityTrustHtml(eachData['cons'])"></div></td>
		            <td [ngClass]="{'ui-table-cell-hidden': ShowTabs[6]['ui-checkbox-off']}"><div [innerHTML]="sanitizer.bypassSecurityTrustHtml(eachData['comments'])"></div></td>
		            <td [ngClass]="{'ui-table-cell-hidden': ShowTabs[7]['ui-checkbox-off']}">
		              <div class="grayfont">
		                Did this medication help you? <br><br><div [innerHTML]="sanitizer.bypassSecurityTrustHtml(eachData['user_vote'])"></div>
		                What about you?                       
		              </div>
		            </td>
		            <td [ngClass]="{'ui-table-cell-hidden': ShowTabs[8]['ui-checkbox-off']}"><div [innerHTML]="sanitizer.bypassSecurityTrustHtml(eachData['cost'])"></div></td>
		            <td [ngClass]="{'ui-table-cell-hidden': ShowTabs[9]['ui-checkbox-off']}"><div [innerHTML]="sanitizer.bypassSecurityTrustHtml(eachData['brand_names'])"></div></td>
		          </tr>
	        </tbody>
	    </table>
	    <!-- ---------------------------End Table------------------------------------ -->
	    <p>&nbsp;</p>
	    <p>&nbsp;</p>
	</div>
	<div class="ui-popup-screen ui-overlay-b in" id="filterallergy_medsTable-pop-screen" *ngIf="SearchDlg.show" (click)="toggleSearchDlg(false)" [ngStyle]="{'height': MyContent.height+'px','width': MyContent.width+'px'}"></div>
	<div class="ui-popup-container pop in ui-popup-active" id="filterallergy_medsTable-pop-popup" *ngIf="SearchDlg.show" [ngStyle]="{'max-width': SearchDlg.maxWidth+'px','top': SearchDlg.top+'px', 'left': SearchDlg.left+'px', 'width': SearchDlg.width+'px'}">
	<div data-role="popup" id="filterallergy_medsTable-pop" class="ui-content ui-popup ui-body-inherit ui-overlay-shadow ui-corner-all" data-overlay-theme="b" data-position-to="window">
	  <a href="#" data-rel="back" data-role="button" data-icon="check" data-iconpos="notext" class="ui-btn-right ui-link ui-btn ui-icon-check ui-btn-icon-notext ui-shadow ui-corner-all" role="button" (click)="toggleSearchDlg(false)">Close</a>
	  <form>
	    <div class="ui-input-search ui-body-inherit ui-corner-all ui-shadow-inset ui-input-has-clear">
	      <input id="filterallergy_medsTable-input" type="text" data-type="search" name="search" data-clear-btn="false" placeholder="Find decongestant" [(ngModel)]="searchText" (input)="filterItems($event)" />
	      <a href="#" tabindex="-1" aria-hidden="true" class="ui-input-clear ui-btn ui-icon-delete ui-btn-icon-notext ui-corner-all" title="Clear text" *ngIf="searchText.length>0" (click)="clearSearch()">Clear text</a>
	    </div>
	  </form>
	</div>
	</div>
	<div class="ui-popup-screen ui-overlay-inherit" id="allergy_meds_table-popup-screen" *ngIf="SortDlg.show" (click)="toggleSortDlg(false)" [ngStyle]="{'height': MyContent.height+'px','width': MyContent.width+'px'}"></div>
	<div class="ui-popup-container ui-popup-active" id="allergy_meds_table-popup-popup" *ngIf="SortDlg.show" [ngStyle]="{'max-width': SortDlg.maxWidth+'px','top': SortDlg.top+'px', 'left': SortDlg.left+'px'}">
	<div class="ui-table-columntoggle-popup ui-popup ui-body-inherit ui-overlay-shadow ui-corner-all" id="allergy_meds_table-popup">
	  <fieldset class="ui-controlgroup ui-controlgroup-vertical ui-corner-all">
	    <div class="ui-controlgroup-controls ">
	      <div class="ui-checkbox" *ngFor="let tabs of ShowTabs" (click)="toggleSort(tabs)">
	        <label class="ui-btn ui-corner-all ui-btn-a ui-btn-icon-left" [ngClass]="{'ui-checkbox-on': tabs['ui-checkbox-on'], 'ui-checkbox-off': tabs['ui-checkbox-off']}">{{tabs.title}}</label>
	        <input type="checkbox" checked="">
	      </div>
	    </div>
	  </fieldset>
	</div>
	</div>
</ion-content>
