<!--  
  Generated template for the Dosing page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
  -->
<ion-header class="ui-header">

  <ion-navbar>
    <ion-title>
    	<h1 class="ui-title">
      	&nbsp;
      </h1>
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="showMenu()">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
	</ion-navbar>
  <ion-navbar class="fullWidth roboto bgPink" *ngIf="currentPage==0">
    <p class="boxSpinnerRed"></p>
    <p class="font14 fontBold">Medication Dosing</p>
  </ion-navbar>
  <ion-navbar class="fullWidth robotoLight bgPink" *ngIf="currentPage==1 && isLoggedIn == false">
  	<div class="floatright"> 
	    <a href="#" class="linkGrayLight font12 absoluteRight ui-link" data-inline="true" (click)="gotoLogin()">Login</a>  
	</div>
	<p class="font14">Which medication?</p>
  </ion-navbar>
  <ion-navbar class="fullWidth robotoLight bgPink" *ngIf="currentPage==1 && isLoggedIn == true">
  	<div class="spinner floatright"></div>
	<div class="floatright savedDose">
	   <a href="#" class="linkGrayBorderLightThin font12 absoluteRight ui-link" data-inline="true" (click)="gotoSavedDose()">Saved Doses</a>  
	</div>
	<p>Medication?</p>
  </ion-navbar>
</ion-header>

<ion-content padding class="ui-page-theme-i">
	<div class="fullWidth mainPage" *ngIf="currentPage==0">
		<p>&nbsp;</p>
		<div class="opacity5">
		  <div class="maxwidth450">
		    <div class="ovalBorderRightPurple_red">
		      <span class="redfontLarge">Hello,</span><br>
		      Need the <span class="redfont">dose</span> for a child's over-the-counter medication?
		    </div>
		    <div align="right"><img src="assets/img/pharm/female/pharm-selena-red.svg" alt="lady pharmacist called Amanda" width="100"></div>
		    <br>
		    <div class="clearboth divider1"></div>
		  </div>
		  <h3 class="redBorderAll centerText graygrayfont">All you need is the <span class="orangefont">weight</span> of the child.</h3>
		  <br>
		  <p class="redBorderAll">Our pharmacists have put together a simple, weight based dosing system to make sure your child is getting the correct dose of an over-the-counter (OTC) medication. </p>
		  <br>
		</div>
		<p class="centerText">
			<a href="#" class="linkRedBorder ui-link" (click)="transitPage(1)">Let's get started</a>
		</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
	</div>
	<div class="fullWidth mainPage transparentButton" *ngIf="currentPage==1">
		<div class="opacity1">
		    <div class="opacity7">
		        <div class="maxwidth450">
		            <div class="ovalBorderRightPurple_red">
		                <span>Which <span class="purple_redfont">over-the-counter</span> <span class="purplefont">medication</span> would you like a dose for?</span><br>
		            </div>
		            <div class="clearboth"></div>
		            <div align="right">
		                <img src="assets/img/pharm/female/pharm-selena-red.svg" alt="pharmacist Amanda" width="100">
		            </div>
		        </div>
		        <br>
		        <div class="clearboth divider1"></div>
		        <br>
		        <!-- ---------------End Point Right------------------- -->
		    </div>
		    <p>&nbsp;</p>
		    <div data-role="collapsible" data-collapsed="true" data-collapsed-icon="arrow-r" data-expanded-icon="arrow-d" data-corners="false" class="ui-nodisc-icon ui-collapsible ui-collapsible-inset ui-collapsible-themed-content" [ngClass]="{'ui-collapsible-collapsed': pages[0]}">
		        <h3 class="ui-collapsible-heading ui-collapsible-heading-collapsed">
		        	<a href="#" class="ui-collapsible-heading-toggle ui-btn ui-icon-arrow-r ui-btn-icon-left ui-btn-inherit" [ngClass]="{'ui-icon-arrow-r': pages[0], 'ui-icon-arrow-d': !pages[0]}" (click)="togglePage(0)">
		        		<span class="redfont">MOST POPULAR</span>
		        		<span class="ui-collapsible-heading-status"> click to expand contents</span>
		        	</a>
		        </h3>
		        <div class="ui-collapsible-content ui-body-inherit" aria-hidden="true" [ngClass]="{'ui-collapsible-content-collapsed': pages[0]}">
		            <br>
		            <ul data-role="listview" class="ui-listview">
		                <li class="ui-first-child">
		                    <a href="#" class="ui-btn ui-btn-icon-right ui-icon-carat-r" (click)="gotoSubPage(14)">
		                        <h3 class="redfont">Acetaminophen</h3>
		                        <p><span class="redfontSmall">Tylenol®, Pediacare®</span> | Store Brands</p>
		                    </a>
		                </li>
		                <li>
		                    <a href="#" class="ui-btn ui-btn-icon-right ui-icon-carat-r" (click)="gotoSubPage(15)">
		                        <h3 class="orangefont">Ibuprofen</h3>
		                        <p><span class="orangefontSmall">Motrin®</span> | <span class="bluefontSmall">Advil®</span> | Store Brands</p>
		                    </a>
		                </li>
		                <li class="ui-last-child">
		                    <a href="#" class="ui-btn ui-btn-icon-right ui-icon-carat-r" (click)="gotoSubPage(0)">
		                        <h3 class="purple_redfont">Diphenhydramine</h3>
		                        <p><span class="purple_redfontSmall">Benadryl®</span> | Store Brands</p>
		                    </a>
		                </li>
		            </ul>
		            <p>&nbsp;</p>
		        </div>
		    </div>
		    <hr class="pink">
		    <div data-role="collapsible" data-collapsed="true" data-collapsed-icon="arrow-r" data-expanded-icon="arrow-d" data-corners="false" class="ui-nodisc-icon ui-collapsible ui-collapsible-inset ui-collapsible-themed-content" [ngClass]="{'ui-collapsible-collapsed': pages[1]}">
		        <h3 class="ui-collapsible-heading ui-collapsible-heading-collapsed">
		        	<a href="#" class="ui-collapsible-heading-toggle ui-btn ui-btn-icon-left ui-btn-inherit" [ngClass]="{'ui-icon-arrow-r': pages[1], 'ui-icon-arrow-d': !pages[1]}" (click)="togglePage(1)"><span class="greenfont">Allergy Relief</span><span class="ui-collapsible-heading-status"> click to expand contents</span></a>
		        </h3>
		        <div class="ui-collapsible-content ui-body-inherit" aria-hidden="true" [ngClass]="{'ui-collapsible-content-collapsed': pages[1]}">
		            <br>
		            <ul data-role="listview" class="ui-listview">
		                <li class="ui-first-child">
		                    <a href="#" class="ui-btn ui-btn-icon-right ui-icon-carat-r" (click)="gotoSubPage(0)">
		                        <h4 class="redfont">Diphenhydramine</h4>
		                        <p><span class="redfontSmall">Benadryl®</span> | Store Brands</p>
		                    </a>
		                </li>
		                <li>
		                    <a href="#" class="ui-btn ui-btn-icon-right ui-icon-carat-r" (click)="gotoSubPage(1)">
		                        <h4 class="bluefont">Loratadine</h4>
		                        <p><span class="bluefontSmall">Claritin®</span> | Store Brands</p>
		                    </a>
		                </li>
		                <li>
		                    <a href="#" class="ui-btn ui-btn-icon-right ui-icon-carat-r" (click)="gotoSubPage(2)">
		                        <h3 class="greenfont">Cetirizine</h3>
		                        <p><span class="greenfontSmall">Zyrtec®</span> | Store Brands</p>
		                    </a>
		                </li>
		                <li class="ui-last-child">
		                    <a href="#" class="ui-btn ui-btn-icon-right ui-icon-carat-r" (click)="gotoSubPage(3)">
		                        <h3 class="purple_redfont">Fexofenadine</h3>
		                        <p><span class="purple_redfontSmall">Allergra®</span> | Store Brands</p>
		                    </a>
		                </li>
		            </ul>
		            <p>&nbsp;</p>
		        </div>
		    </div>
		    <hr class="pink">
		    <div data-role="collapsible" data-collapsed="true" data-collapsed-icon="arrow-r" data-expanded-icon="arrow-d" data-corners="false" class="ui-nodisc-icon ui-collapsible ui-collapsible-inset ui-collapsible-themed-content" [ngClass]="{'ui-collapsible-collapsed': pages[2]}">
		        <h3 class="ui-collapsible-heading ui-collapsible-heading-collapsed">
		        	<a href="#" class="ui-collapsible-heading-toggle ui-btn ui-btn-icon-left ui-btn-inherit" [ngClass]="{'ui-icon-arrow-r': pages[2], 'ui-icon-arrow-d': !pages[2]}" (click)="togglePage(2)"><span class="bluefont">Antacid | Antigas</span><span class="ui-collapsible-heading-status"> click to expand contents</span></a>
		        </h3>
		        <div class="ui-collapsible-content ui-body-inherit" aria-hidden="true" [ngClass]="{'ui-collapsible-content-collapsed': pages[2]}">
		            <br>
		            <ul data-role="listview" class="ui-listview">
		                <li class="ui-first-child">
		                    <a href="#" class="ui-btn ui-btn-icon-right ui-icon-carat-r" (click)="gotoSubPage(4)">
		                        <h3 class="redfont">Tums®</h3>
		                        <p><span class="redfontSmall">Brand®</span> | Store Brands</p>
		                    </a>
		                </li>
		                <li>
		                    <a href="#" class="ui-btn ui-btn-icon-right ui-icon-carat-r" (click)="gotoSubPage(5)">
		                        <h3 class="bluefont">Maalox®</h3>
		                        <p><span class="redfontSmall">Brand®</span> | Store Brands</p>
		                    </a>
		                </li>
		                <!--  <li>
		                    <a href="mylanta/mylanta.html">
		                    <h3 class="greenfont">Mylanta</h3>
		                     <p><span class="redfontSmall">Brand&reg;</span> | Store Brands</p>
		                    </a>
		                    </li> -->
		                <li>
		                    <a href="#" class="ui-btn ui-btn-icon-right ui-icon-carat-r" (click)="gotoSubPage(11)">
		                        <h3 class="pinkfont">Children's Pepto®</h3>
		                        <p><span class="redfontSmall">Brand®</span> | Store Brands</p>
		                    </a>
		                </li>
		                <li class="ui-last-child">
		                    <a href="#" class="ui-btn ui-btn-icon-right ui-icon-carat-r" (click)="gotoSubPage(6)">
		                        <h3 class="greenfont">Infants's Mylicon®</h3>
		                        <p><span class="redfontSmall">Brand®</span> | Store Brands</p>
		                    </a>
		                </li>
		            </ul>
		            <p>&nbsp;</p>
		        </div>
		    </div>
		    <hr class="pink">
		    <div data-role="collapsible" data-collapsed="true" data-collapsed-icon="arrow-r" data-expanded-icon="arrow-d" data-corners="false" class="ui-nodisc-icon ui-collapsible ui-collapsible-inset ui-collapsible-themed-content" [ngClass]="{'ui-collapsible-collapsed': pages[3]}">
		        <h3 class="ui-collapsible-heading ui-collapsible-heading-collapsed">
		        	<a href="#" class="ui-collapsible-heading-toggle ui-btn ui-btn-icon-left ui-btn-inherit" [ngClass]="{'ui-icon-arrow-r': pages[3], 'ui-icon-arrow-d': !pages[3]}" (click)="togglePage(3)"><span class="purplefont">Cold |</span> <span class="pinkfont">Flu |</span> <span class="orangefont">Cough</span><span class="ui-collapsible-heading-status"> click to expand contents</span></a>
		        </h3>
		        <div class="ui-collapsible-content ui-body-inherit" aria-hidden="true" [ngClass]="{'ui-collapsible-content-collapsed': pages[3]}">
		            <br>
		            <ul data-role="listview" class="ui-listview">
		                <li class="ui-first-child">
		                    <a href="#" class="ui-btn ui-btn-icon-right ui-icon-carat-r" (click)="gotoSubPage(7)">
		                        <h3 class="redfont">Children's Sudafed®</h3>
		                        <p><span class="redfontSmall">Brand®</span> | Store Brands</p>
		                    </a>
		                </li>
		                <li>
		                    <a href="#" class="ui-btn ui-btn-icon-right ui-icon-carat-r" (click)="gotoSubPage(9)">
		                        <h3 class="purplefont">Children's Dimetapp®</h3>
		                        <p><span class="purplefontSmall">Brand®</span> | Store Brands</p>
		                    </a>
		                </li>
		                <li>
		                    <a href="#" class="ui-btn ui-btn-icon-right ui-icon-carat-r" (click)="gotoSubPage(8)">
		                        <h3 class="orangefont">Children's Pediacare®</h3>
		                        <p><span class="orangefontSmall">Brand®</span> | Store Brands</p>
		                    </a>
		                </li>
		                <li>
		                    <a href="#" class="ui-btn ui-btn-icon-right ui-icon-carat-r" (click)="gotoSubPage(10)">
		                        <h3 class="bluefont">Children's Triaminic®</h3>
		                        <p><span class="bluefontSmall">Brand®</span> | Store Brands</p>
		                    </a>
		                </li>
		                <li>
		                    <a href="#" class="ui-btn ui-btn-icon-right ui-icon-carat-r" (click)="gotoSubPage(12)">
		                        <h3 class="orangefont">Children's Mucinex®</h3>
		                        <p><span class="orangefontSmall">Brand®</span> | Store Brands</p>
		                    </a>
		                </li>
		                <li>
		                    <a href="#" class="ui-btn ui-btn-icon-right ui-icon-carat-r" (click)="gotoSubPage(13)">
		                        <h3 class="purplefont">Little Remedies®</h3>
		                        <p><span class="purplefontSmall">Brand®</span> | Store Brands</p>
		                    </a>
		                </li>
		                <li class="ui-last-child">
		                    <a href="#" class="ui-btn ui-btn-icon-right ui-icon-carat-r" (click)="gotoSubPage(21)">
		                        <h3 class="greenfont">Children's Robitussin®</h3>
		                        <p><span class="greenfontSmall">Brand®</span> | Store Brands</p>
		                    </a>
		                </li>
		            </ul>
		            <p>&nbsp;</p>
		        </div>
		    </div>
		    <hr class="pink">
		    <div data-role="collapsible" data-collapsed="true" data-collapsed-icon="arrow-r" data-expanded-icon="arrow-d" data-corners="false" class="ui-nodisc-icon ui-collapsible ui-collapsible-inset ui-collapsible-themed-content" [ngClass]="{'ui-collapsible-collapsed': pages[4]}">
		        <h3 class="ui-collapsible-heading ui-collapsible-heading-collapsed">
		        	<a href="#" class="ui-collapsible-heading-toggle ui-btn ui-btn-icon-left ui-btn-inherit" [ngClass]="{'ui-icon-arrow-r': pages[4], 'ui-icon-arrow-d': !pages[4]}" (click)="togglePage(4)"><span class="redfont">Fever Reducers</span><span class="ui-collapsible-heading-status"> click to expand contents</span></a>
		        </h3>
		        <div class="ui-collapsible-content ui-body-inherit" aria-hidden="true" [ngClass]="{'ui-collapsible-content-collapsed': pages[4]}">
		            <br>
		            <ul data-role="listview" class="ui-listview">
		                <li class="ui-first-child">
		                    <a href="#" class="ui-btn ui-btn-icon-right ui-icon-carat-r" (click)="gotoSubPage(14)">
		                        <h3 class="redfont">Acetaminophen</h3>
		                        <p><span class="redfontSmall">Tylenol®</span> | Store Brands</p>
		                    </a>
		                </li>
		                <li class="ui-last-child">
		                    <a href="#" class="ui-btn ui-btn-icon-right ui-icon-carat-r" (click)="gotoSubPage(15)">
		                        <h3 class="orangefont">Ibuprofen</h3>
		                        <p><span class="orangefontSmall">Motrin®</span> | <span class="bluefontSmall">Advil®</span> | Store Brands</p>
		                    </a>
		                </li>
		            </ul>
		            <p>&nbsp;</p>
		        </div>
		    </div>
		    <hr class="pink">
		    <div data-role="collapsible" data-collapsed="true" data-collapsed-icon="arrow-r" data-expanded-icon="arrow-d" data-corners="false" class="ui-nodisc-icon ui-collapsible ui-collapsible-inset ui-collapsible-themed-content" [ngClass]="{'ui-collapsible-collapsed': pages[5]}">
		        <h3 class="ui-collapsible-heading ui-collapsible-heading-collapsed">
		        	<a href="#" class="ui-collapsible-heading-toggle ui-btn ui-btn-icon-left ui-btn-inherit" [ngClass]="{'ui-icon-arrow-r': pages[5], 'ui-icon-arrow-d': !pages[5]}" (click)="togglePage(5)"><span class="purple_redfont">Laxatives |</span><span class="greenfont"> Anti-diarrhea</span><span class="ui-collapsible-heading-status"> click to expand contents</span></a>
		        </h3>
		        <div class="ui-collapsible-content ui-body-inherit" aria-hidden="true" [ngClass]="{'ui-collapsible-content-collapsed': pages[5]}">
		            <br>
		            <ul data-role="listview" class="ui-listview">
		                <li class="ui-first-child">
		                    <a href="#" class="ui-btn ui-btn-icon-right ui-icon-carat-r" (click)="gotoSubPage(16)">
		                        <h3 class="purple_redfont">Miralax®</h3>
		                        <p><span class="redfontSmall">Brand®</span> | Store Brands<br>Strength</p>
		                        <p class="ui-li-aside"><img src="assets/img/dosing/others/miralax.png" height="60" alt="miralax"></p>
		                    </a>
		                </li>
		                <li>
		                    <a href="#" class="ui-btn ui-btn-icon-right ui-icon-carat-r" (click)="gotoSubPage(17)">
		                        <h3 class="bluefont">Pedia.Lax®</h3>
		                        <p><span class="redfontSmall">Brand®</span> | Store Brands<br></p>
		                        <p class="ui-li-aside"><img src="assets/img/dosing/others/pedialax.png" height="60" alt="pedialax"></p>
		                    </a>
		                </li>
		                <li>
		                    <a href="#" class="ui-btn ui-btn-icon-right ui-icon-carat-r" (click)="gotoSubPage(18)">
		                        <h3 class="greenfont">Fletcher's Laxative®</h3>
		                        <p class="grayfontSmallSmall"><span class="redfontSmall">Brand®</span> | Store Brands<br>Senna pod concentrate:	167 mg/teaspoon</p>
		                        <p class="ui-li-aside"><img src="assets/img/dosing/others/fletchers.png" height="60" alt="Fletcher's castoria"></p>
		                    </a>
		                </li>
		                <li>
		                    <a href="#" class="ui-btn ui-btn-icon-right ui-icon-carat-r" (click)="gotoSubPage(19)">
		                        <h3 class="purplefont">Imodium A-D®</h3>
		                        <p class="grayfontSmallSmall"><span class="redfontSmall">Brand®</span> | Store Brands<br>Loperamide 1 mg / 7.5 ml</p>
		                        <p class="ui-li-aside"><img src="assets/img/dosing/others/imodium.png" height="60" alt="imodium"></p>
		                    </a>
		                </li>
		                <li class="ui-last-child">
		                    <a href="#" class="ui-btn ui-btn-icon-right ui-icon-carat-r" (click)="gotoSubPage(20)">
		                        <h3 class="bluefont">Milk of Magnesia</h3>
		                        <p class="grayfontSmallSmall"><span class="redfontSmall">Brand®</span> | Store Brands<br>Magnesium hydroxide 1200 mg / 15 ml</p>
		                        <p class="ui-li-aside"><img src="assets/img/dosing/others/milk-magnesia.png" height="60" alt="Milk of magnesia"></p>
		                    </a>
		                </li>
		            </ul>
		            <p>&nbsp;</p>
		        </div>
		    </div>
		    <hr class="pink">
		    <div data-role="collapsible" data-collapsed="true" data-collapsed-icon="arrow-r" data-expanded-icon="arrow-d" data-corners="false" class="ui-nodisc-icon ui-collapsible ui-collapsible-inset ui-collapsible-themed-content" [ngClass]="{'ui-collapsible-collapsed': pages[6]}">
		        <h3 class="ui-collapsible-heading ui-collapsible-heading-collapsed">
		        	<a href="#" class="ui-collapsible-heading-toggle ui-btn ui-btn-icon-left ui-btn-inherit" [ngClass]="{'ui-icon-arrow-r': pages[6], 'ui-icon-arrow-d': !pages[6]}" (click)="togglePage(6)"><span class="orangefont">Pain Relievers</span><span class="ui-collapsible-heading-status"> click to expand contents</span></a>
		        </h3>
		        <div class="ui-collapsible-content ui-body-inherit" aria-hidden="true" [ngClass]="{'ui-collapsible-content-collapsed': pages[6]}">
		            <br>
		            <ul data-role="listview" class="ui-listview">
		                <li class="ui-first-child">
		                    <a href="#" class="ui-btn ui-btn-icon-right ui-icon-carat-r" (click)="gotoSubPage(14)">
		                        <h3 class="redfont">Acetaminophen</h3>
		                        <p><span class="redfontSmall">Tylenol®</span> | Store Brands</p>
		                    </a>
		                </li>
		                <li class="ui-last-child">
		                    <a href="#" class="ui-btn ui-btn-icon-right ui-icon-carat-r" (click)="gotoSubPage(15)">
		                        <h3 class="orangefont">Ibuprofen</h3>
		                        <p><span class="orangefontSmall">Motrin®</span> | <span class="bluefontSmall">Advil®</span> | Store Brands</p>
		                    </a>
		                </li>
		            </ul>
		            <p>&nbsp;</p>
		        </div>
		    </div>
		    <hr class="pink">
		    <p>&nbsp;</p>
		    <p>&nbsp;</p>
		    <p>&nbsp;</p>
		</div>
	</div>
</ion-content>

