$toolbar-background-color: #673AB7;

page-children-clinic {
	font-size: 16px;

	h1{
		text-transform: capitalize;
		font-size: 2.4em;
	    line-height: 1.8;
	    margin-bottom: 50px;
	    margin-top: 30px;
	    text-align: center;
	    font-weight: 700;
	}
	.toolbar-title-md{
		font-size: 16px;
	}
	.content-md{
		background-color: transparent;
	}
	.ui-title{
		font-size: 1em;
	    min-height: 1.1em;
	    text-align: center;
	    display: block;
	    margin: 0 30%;
	    padding: .7em 0;
	    text-overflow: ellipsis;
	    overflow: hidden;
	    white-space: nowrap;
	    outline: 0!important;
	}
	.toolbar-background-md{
		background: $toolbar-background-color;
	}
	.bar-button-md{
		padding: 0px;
	}

	.fullWidth {
	    width: 100%;
	    margin: 0px auto;
	    border-width: 0;
	    overflow: visible;
	    overflow-x: hidden;
	}
	.bgGray {
	    color: #000000 !important;
	    opacity: 0.54;
	    padding: 0 0 0 1em;
	    background-color: #e0e0e0;
	}
	.bgPink {
	    background-color: #E91E63;
	    padding: 0 0 0 1em;
	    text-transform: capitalize;
	}
	.bgBold{
		font-weight: bold;
	}
	.bgCyan {
	    background-color: #00BCD4;
	    padding: 0 0 0 1em;
	    text-transform: capitalize;
	}
	.bgDeepOrange {
	    background-color: #FF5722;
	    padding: 0 0 0 1em;
	    text-transform: capitalize;
	}
	.bgDeepPurple{
		background-color: #673AB7;
	    padding: 0 0 0 1em;
	    text-transform: capitalize;
	}
	.floatright {
	    float: right;
	    margin-left: 3px 0 3px 8px;
	}
	.spinner-purple {
	    width: 50px;
	    height: 50px;
	    background-color: #D1C4E9;
	    margin-right: 50px;
	    border-radius: 100%;
	    -webkit-animation: scaleout 1.0s infinite ease-in-out;
	    animation: scaleout 1.0s infinite ease-in-out;
	}
	.robotoLight {
	    font-family: Roboto-Light;
	    font-size: 120% !important;
	    font-weight: 400;
	    color: #ffffff;
	    letter-spacing: 1px;
	}
	.roboto {
	    font-family: Roboto-Regular;
	    font-size: 120% !important;
	    color: #ffffff;
	    letter-spacing: 2px;
	}
	.boxSpinnerRed {
	    background-color: #E91E63;
	    opacity: 0.75;
	    width: 10px;
	    height: 10px;
	    position: absolute;
	    right: 5%;
	    top: 50%;
	    /* margin: -5px auto 0 auto; */
	    -webkit-border-radius: 0px;
	    border-radius: 0px;
	    border: 5px solid #E91E63;
	    -webkit-box-shadow: 10px 0px #FF9100, 10px 0px #FF9100;
	    box-shadow: 10px 0px #FF9100, 10px 0px #FF9100;
	    -webkit-animation: shadowSpinRed 1s ease-in-out infinite;
	    animation: shadowSpinRed 1s ease-in-out infinite;
	}
	.ui-content {
	    border-width: 0;
	    overflow: visible;
	    overflow-x: hidden;
	    padding: 1em;
	}
	.pediatric_doctor_content{
		background-image: url(../assets/img/backgrounds/nearest/pediatric_doctor_bg.jpg);
    	background-repeat: no-repeat;
	    background-position: bottom;
	    background-attachment: fixed;
	    height: 600px;
	    padding: 0px;
	}
	.opacity5 {
		background-color: rgba(255,255,255,0.5);
		padding: 1em;
	}
	.opacity7 {
		background-color: rgba(255,255,255,0.7);
		padding: 0px 16px;
	}
	.maxwidth450 {
	    max-width: 450px;
	    margin: 5px auto;
	    overflow: visible;
	}
	.ovalBorderRightPurple {
	    position: relative;
	    padding: 45px 35px;
	    margin: 1em auto 60px;
	    border: 2px solid #C9ABFF;
	    text-align: center;
	    color: #333;
	    background: #fff;
	    -webkit-border-top-left-radius: 240px 140px;
	    -webkit-border-top-right-radius: 240px 140px;
	    -webkit-border-bottom-right-radius: 240px 140px;
	    -webkit-border-bottom-left-radius: 240px 140px;
	    -moz-border-radius: 240px / 140px;
	    border-radius: 240px / 140px;
	    -webkit-box-shadow: 5px 5px 5px #ddd;
	    -moz-box-shadow: 5px 5px 5px #ddd;
	    box-shadow: 5px 5px 5px #ddd;
	}
	.ovalBorderRightPurple:before {
	    content: "";
	    position: absolute;
	    z-index: 2;
	    bottom: -33px;
	    right: 41%;
	    width: 50px;
	    height: 30px;
	    border-style: solid;
	    border-width: 0 0 2px 3px;
	    border-color: #C9ABFF;
	    margin-right: -20px;
	    background: transparent;
	    -webkit-border-bottom-left-radius: 80px 50px;
	    -moz-border-radius-bottom-left: 80px 50px;
	    border-bottom-left-radius: 80px 50px;
	    display: block;
	}
	.ovalBorderRightPurple:after {
	    content: "";
	    position: absolute;
	    z-index: 2;
	    bottom: -33px;
	    right: 41%;
	    width: 20px;
	    height: 31px;
	    border-style: solid;
	    border-width: 0 0 2px 2px;
	    border-color: #C9ABFF;
	    margin-right: -20px;
	    background: transparent;
	    -webkit-border-bottom-left-radius: 40px 70px;
	    -moz-border-radius-bottom-left: 40px 70px;
	    border-bottom-left-radius: 40px 70px;
	    display: block;
	}
	.ovalBorderRightPurple > :first-child:after {
	    content: "";
	    position: absolute;
	    z-index: 1;
	    bottom: -10px;
	    right: 41%;
	    width: 30px;
	    height: 15px;
	    background: #fff;
	}
	.bgLightBlue {
	    background-color: #03a9f4;
	    padding: 0 0 0 1em;
	    text-transform: capitalize;
	}
	.redfont {
		/*font-weight: bold;*/
		color: #F00 !important;
	}
	.redfontSmall {
		color: #F00 !important;
		font-size: 80%;

	}

	.redfontLarge {
		/*font-weight: bold;*/
		color: #F00;
		font-size: 130%;
	}

	.redfontItalicSmall {
		color: #F00 !important;
		font-size: 80%;
		font-style: italic;

	}
	.greenfont {
		/*font-weight: bold;*/
		color: #090 !important;
	}
	.greenfontSmall {
		color: #090 !important;
		font-size: 80%;

	}

	.greenfontLarge {
		/*font-weight: bold;*/
		color: #090;
		font-size: 130%;
	}

	.grayfont {
		/*font-weight: bold;*/
		color: #666 !important;
	}
	.grayfontSmall {
		color: #555 !important;
		font-size: 80%;
		
	}
	.grayfontSmallSmall {
		color: #666 !important;
		font-size: 60%;
		
	}
	.graygrayfont {
		/*font-weight: bold;*/
		color: #9e9e9e !important;
	}
	.graygrayfontSmall {
		color: #9e9e9e !important;
		font-size: 80%;
		
	}
	.graygrayfontSmallSmall {
		color: #9e9e9e !important;
		font-size: 60%;
		
	}
	.graygrayfontLarge {
		/*font-weight: bold;*/
		color: #9e9e9e;
		font-size: 130%;
	}
	.grayfontItalic {
		color: #555 !important;
		/*font-weight: bold;*/
		font-style: italic;
	}
	.grayfontItalicSmall {
		color: #555 !important;
		font-size: 80%;
		font-style: italic;	
		/*font-weight: bold;*/
	}


	.grayLightfontSmall {
		color:#eee !important;
		text-transform:none;
		font-size: 80%;
		
	}
	.grayLightfontSmallSmall {
		color: #eee !important;
		text-transform:none;
		font-size: 60%;
		
	}

	.purplefont {
		/*font-weight: bold;*/
		color: #63F !important;
	}
	.purplefontSmall {
		color: #63F !important;
		font-size: 80%;

	}

	.purplefontLarge {
		/*font-weight: bold;*/
		color: #63F;
		font-size: 130%;
	}

	.purple_bluefont {
		/*font-weight: bold;*/
		color: #9999ff;
	}
	.purple_bluefontSmall {
		color: #9999ff !important;
		font-size: 80%;

	}
	.purple_bluefontLarge {
		/*font-weight: bold;*/
		color: #9999ff;
		font-size: 130%;
	}

	.purple_redfont {
		/*font-weight: bold;*/
		color: #E91E63 !important;
	}
	.purple_redfontSmall {
		color: #E91E63 !important;
		font-size: 80%;

	}
	.purple_redfontLarge {
		/*font-weight: bold;*/
		color: #E91E63;
		font-size: 130%;
	}
	.bluefont {
		/*font-weight: bold;*/
		color: #0093fc !important;
	}
	.bluefontSmall {
		color: #0093fc !important;
		font-size: 80%;

	}

	.bluefontLarge {
		/*font-weight: bold;*/
		color: #0093fc;
		font-size: 130%;
	}

	.blue_brightfont {
		color: #00cccc;
	}

	.blue_brightfontLarge {
		/*font-weight: bold;*/
		color: #00cccc;
		font-size: 130%;
	}
	.cyanfont {
		/*font-weight: bold;*/
		color: #00acc1 !important;
	}
	.cyanfontSmall {
		color: #00acc1 !important;
		font-size: 80%;

	}

	.cyanfontLarge {
		/*font-weight: bold;*/
		color: #00acc1;
		font-size: 130%;
	}
	.pinkfont {
		color: #FF86FF !important;
	}
	.pinkfontSmall {
		color: #FF86FF;
		font-size: 80%;
	}
	.pinkfontLarge {
		color: #FF86FF !important;
		font-size: 130%;
	}

	.orangefont {
		/*font-weight: bold;*/
		color: #F60 !important;
	}
	.orangefontSmall {
		color: #F60 !important;
		font-size: 80%;

	}
	.orangefontLarge {
		/*font-weight: bold;*/
		color: #F60;
		font-size: 130%;
	}

	.yellowfont {
		/*font-weight: bold;*/
		color: #FC0 !important;
	}
	.yellowfontSmall {
		color: #FC3 !important;
		font-size: 80%;
		
	}
	.yellowfontLarge {
		font-weight: bold;
		color: #FC0;
		font-size: 130%;
	}
	.lineBlue {
		border-bottom-width: 1px;
		border-bottom-style: dotted;
		border-bottom-color: #0093fc !important;
	}
	.lineRedPurple {
		border-bottom-width: 1px;
		border-bottom-style: dotted;
		border-bottom-color: #E91E63;

	}
	.lineRed {
		border-bottom-width: 1px;
		border-bottom-style: dotted;
		border-bottom-color: #f5001d;
	}
	.lineOrange {
		border-bottom-width: 1px;
		border-bottom-style: dotted;
		border-bottom-color: #F60 !important;
	}
	.linePurple {
		border-bottom-width: 1px;
		border-bottom-style: dotted;
		border-bottom-color: #63F !important;
	}
	.lineGreen {
		border-bottom-width: 1px;
		border-bottom-style: dotted;
		border-bottom-color: #090 !important;
	}
	.lineYellow {
		border-bottom-width: 1px;
		border-bottom-style: dotted;
		border-bottom-color: #ffe100 !important;
	}

	.lineBlueThick {
		border-bottom-width: 2px;
		border-bottom-style: dotted;
		border-bottom-color: #0093fc !important;
	}
	.lineRedPurpleThick {
		border-bottom-width: 2px;
		border-bottom-style: dotted;
		border-bottom-color: #E91E63;

	}
	.lineRedThick {
		border-bottom-width: 2px;
		border-bottom-style: dotted;
		border-bottom-color: #f5001d;
	}
	.lineOrangeThick {
		border-bottom-width: 2px;
		border-bottom-style: dotted;
		border-bottom-color: #F60 !important;
	}
	.linePurpleThick {
		border-bottom-width: 2px;
		border-bottom-style: dotted;
		border-bottom-color: #63F !important;
	}
	.lineGreenThick {
		border-bottom-width: 2px;
		border-bottom-style: dotted;
		border-bottom-color: #090 !important;
	}
	.lineYellowThick {
		border-bottom-width: 2px;
		border-bottom-style: dotted;
		border-bottom-color: #ffe100 !important;
	}
	.divider1 {
	    background-image: url(../assets/img/backgrounds/dividers/div1.png);
	    background-repeat: repeat-x;
	    height: 9px;
	    background-position: left top;
	    margin-top: 5px;
	    margin-bottom: 5px;
	}
	.clearboth {
	    clear: both;
	    margin-top: 5px;
	    display: block;
	}
	.redBorderAll {
	    max-width: 720px;
	    margin: 0 auto;
	    /* border: 1px dotted #FF0000; */
	    padding: 8px;
	}
	.graygrayfont {
	    /* font-weight: bold; */
	    color: #9e9e9e !important;
	}
	.centerText {
	    text-align: center;
	}
	.redBorderAll {
	    max-width: 720px;
	    margin: 0 auto;
	    /* border: 1px dotted #FF0000; */
	    padding: 8px;
	}
	a.linkRedBorder:link, a.linkRedBorder:visited {
	    border: 1px solid #F44336;
	    font-weight: bold;
	    text-decoration: none;
	    color: #F44336 !important;
	    letter-spacing: 2px;
	    padding: 12px;
	    margin: 5px;
	    background: none;
	}

	.ui-input-has-clear {
	    padding-right: 2.375em;
	}
	.ui-input-has-clear, .ui-input-search {
	    position: relative;
	}
	.ui-input-text, .ui-input-search {
	    margin: .5em 0;
	    border-width: 1px;
	    border-style: solid;
	}
	.ui-shadow-inset {
	    -webkit-box-shadow: inset 0 1px 0px /*{global-box-shadow-size}*/ rgba(0,0,0,0.2) /*{global-box-shadow-color}*/;
	    -moz-box-shadow: inset 0 1px 0px /*{global-box-shadow-size}*/ rgba(0,0,0,0.2) /*{global-box-shadow-color}*/;
	    box-shadow: inset 0 1px 0px /*{global-box-shadow-size}*/ rgba(0,0,0,0.2) /*{global-box-shadow-color}*/;
	}
	.ui-shadow-inset {
	    box-shadow: none;
	}
	.ui-body-inherit{
		background-color: #ffffff /*{a-body-background-color}*/;
	    border-color: transparent !important /*{a-body-border}*/;
	    color: #333333 /*{a-body-color}*/;
	    text-shadow: 0 /*{a-body-shadow-x}*/ 0 /*{a-body-shadow-y}*/ 0 /*{a-body-shadow-radius}*/ #f3f3f3 /*{a-body-shadow-color}*/;
	}
	.ui-input-search:after {
	    position: absolute;
	    left: .3125em;
	    top: 50%;
	    margin-top: -7px;
	    content: "";
	    background-position: center center;
	    background-repeat: no-repeat;
	    width: 14px;
	    height: 14px;
	    filter: Alpha(Opacity=50);
	    opacity: .5;
		background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22iso-8859-1%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%2214px%22%20height%3D%2214px%22%20viewBox%3D%220%200%2014%2014%22%20style%3D%22enable-background%3Anew%200%200%2014%2014%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpath%20d%3D%22M10.171%2C8.766c0.617-0.888%2C0.979-1.964%2C0.979-3.126c0-3.037-2.463-5.5-5.5-5.5s-5.5%2C2.463-5.5%2C5.5s2.463%2C5.5%2C5.5%2C5.5%20c1.152%2C0%2C2.223-0.355%2C3.104-0.962l3.684%2C3.683l1.414-1.414L10.171%2C8.766z%20M5.649%2C9.14c-1.933%2C0-3.5-1.567-3.5-3.5%20c0-1.933%2C1.567-3.5%2C3.5-3.5c1.933%2C0%2C3.5%2C1.567%2C3.5%2C3.5C9.149%2C7.572%2C7.582%2C9.14%2C5.649%2C9.14z%22%2F%3E%3C%2Fsvg%3E");
	}

	.ui-input-has-clear input {
	    padding-right: 0;
	    -webkit-border-top-right-radius: 0;
	    border-top-right-radius: 0;
	    -webkit-border-bottom-right-radius: 0;
	    border-bottom-right-radius: 0;
	}
	.ui-input-text input, .ui-input-search input {
	    margin: 0;
	    min-height: 2.2em;
	    text-align: left;
	    border: 0;
	    background: transparent none;
	    -webkit-appearance: none;
	    -webkit-border-radius: inherit;
	    border-radius: inherit;
	}
	.ui-input-text input, .ui-input-search input, textarea.ui-input-text {
	    padding: .4em;
	    line-height: 1.4em;
	    display: block;
	    width: 100%;
	    -webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    box-sizing: border-box;
	    outline: 0;
	}
	.ui-input-search input {
	    padding-left: 1.75em;
	}

	.ui-input-search.ui-input-has-clear .ui-btn.ui-input-clear, 
	.ui-input-text.ui-input-has-clear .ui-btn.ui-input-clear {
	    position: absolute;
	    right: 0;
	    top: 50%;
	    margin: -14px .3125em 0;
	    border: 0;
	    background-color: transparent;
	}
	.ui-input-search .ui-btn{
		background-color: #ffffff /*{a-bup-background-color}*/;
	    border-color: #03a9f4 /*{a-bup-border}*/;
	    color: #03a9f4 /*{a-bup-color}*/;
	    text-shadow: 0 /*{a-bup-shadow-x}*/ 0 /*{a-bup-shadow-y}*/ 0 /*{a-bup-shadow-radius}*/ #f3f3f3 /*{a-bup-shadow-color}*/;
	}
	.ui-input-clear-hidden{
		display: none;
	}
	hr.hrpurple {
		margin-top: 0px;
	    border: 0;
	    height: 1px;
	    background-color: rgba(103,58,183,1.0);
	    background-image: -webkit-linear-gradient(left, rgba(103,58,183,0), rgba(103,58,183,1.0), rgba(103,58,183,0));
	    background-image: -moz-linear-gradient(left, rgba(103,58,183,0), rgba(103,58,183,1.0), rgba(103,58,183,0));
	    background-image: -ms-linear-gradient(left, rgba(103,58,183,0), rgba(103,58,183,1.0), rgba(103,58,183,0));
	    background-image: -o-linear-gradient(left, rgba(103,58,183,0), rgba(103,58,183,1.0), rgba(103,58,183,0));
	}
	.buttonAmber{
		border-color: transparent;
	    font-weight: bold;
	    color: #FFC107 !important;
	    letter-spacing: 2px;
	    padding: 12px;
	    margin: 5px;
	    background: none;
	}
	.buttonBlue {
	    border-color: transparent;
	    font-weight: bold;
	    color: #03A9F4 !important;
	    letter-spacing: 2px;
	    padding: 12px;
	    margin: 5px;
	    background: none;
	}
	a.linkGrayBorder:link, a.linkGrayBorder:visited {
	    border: 1px solid #BDBDBD;
	    font-weight: bold;
	    text-decoration: none;
	    color: #BDBDBD !important;
	    letter-spacing: 2px;
	    padding: 12px;
	    margin: 5px;
	    background: none;
	}
	.ui-shadow {
	    -webkit-box-shadow: 0 1px 0px /*{global-box-shadow-size}*/ rgba(0,0,0,0.2) /*{global-box-shadow-color}*/;
	    -moz-box-shadow: 0 1px 0px /*{global-box-shadow-size}*/ rgba(0,0,0,0.2) /*{global-box-shadow-color}*/;
	    box-shadow: 0 1px 0px /*{global-box-shadow-size}*/ rgba(0,0,0,0.2) /*{global-box-shadow-color}*/;
	}
	.ui-listview, .ui-listview>li {
	    margin: 0;
	    padding: 0;
	    list-style: none;
	}
	.ui-content .ui-listview-inset, .ui-panel-inner>.ui-listview-inset {
	    margin: 1em 0;
	}
	.ui-listview>li {
	    display: block;
	    position: relative;
	    overflow: visible;
	}
	.ui-btn:active {
	    background: rgba(255,255,255,0.1);
	    border-color: transparent;
	    color: #000000;
	    text-shadow: 0;
	}
	.ui-listview>li.ui-first-child, .ui-listview>li.ui-first-child>a.ui-btn {
	    -webkit-border-top-right-radius: inherit;
	    border-top-right-radius: inherit;
	    -webkit-border-top-left-radius: inherit;
	    border-top-left-radius: inherit;
	}
	.ui-listview>.ui-li-has-icon>.ui-btn, .ui-listview>.ui-li-static.ui-li-has-icon {
	    min-height: 1.25em;
	    padding-left: 2.5em;
	}
	.ui-btn, 
	.ui-btn:visited {
	    background: rgba(255,255,255,0.1);
	    border-color: transparent;
	    color: #000000;
	}
	.ui-btn:hover {
	    background: rgba(255,255,255,0.1);
	    border-color: transparent;
	    color: #000000;
	    text-shadow: 0;
	}
	.ui-btn:active {
	    background: rgba(255,255,255,0.1);
	    border-color: transparent;
	    color: #000000;
	    text-shadow: 0;
	}
	.ui-listview>.ui-li-has-icon>img:first-child, 
	.ui-listview>.ui-li-has-icon>.ui-btn>img:first-child {
	    position: absolute;
	    left: .625em;
	    top: .9em;
	    max-height: 1em;
	    max-width: 1em;
	}
	.ui-icon-carat-r:after{
		background-image:url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22iso-8859-1%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%228px%22%20height%3D%2212px%22%20viewBox%3D%220%200%208%2012%22%20style%3D%22enable-background%3Anew%200%200%208%2012%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpolygon%20fill%3D%22%23f46102%22%20points%3D%222%2C0%200%2C2%204%2C6%200%2C10%202%2C12%208%2C6%20%22%2F%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3C%2Fsvg%3E')
	}
	.ui-icon-arrow-d:after{
		background-image:url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22iso-8859-1%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%2214px%22%20height%3D%2214px%22%20viewBox%3D%220%200%2014%2014%22%20style%3D%22enable-background%3Anew%200%200%2014%2014%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpolygon%20fill%3D%22%23fd3040%22%20points%3D%229%2C7%209%2C0%205%2C0%205%2C7%200%2C7%207%2C14%2014%2C7%20%22%2F%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3C%2Fsvg%3E')
	}
	.ui-btn-icon-right:after {
	    right: .5625em;
	}
	.ui-btn-icon-notext:after, .ui-btn-icon-left:after, .ui-btn-icon-right:after {
	    top: 50%;
	    margin-top: -11px;
	}
	.ui-btn-icon-left:after, .ui-btn-icon-right:after, 
	.ui-btn-icon-top:after, .ui-btn-icon-bottom:after, 
	.ui-btn-icon-notext:after {
	    content: "";
	    position: absolute;
	    display: block;
	    width: 22px;
	    height: 22px;
	}
	.ui-btn-icon-left:after, .ui-btn-icon-right:after, 
	.ui-btn-icon-top:after, .ui-btn-icon-bottom:after, 
	.ui-btn-icon-notext:after {
	    background-color: transparent /*{global-icon-color}*/;
	    background-position: center center;
	    background-repeat: no-repeat;
	    -webkit-border-radius: 1em;
	    border-radius: 1em;
	}
	.ui-btn {
	    font-size: 16px;
	    margin: .5em 0;
	    padding: .7em 1em;
	    display: block;
	    position: relative;
	    text-align: center;
	    text-overflow: ellipsis;
	    overflow: hidden;
	    white-space: nowrap;
	    cursor: pointer;
	    -webkit-user-select: none;
	    -moz-user-select: none;
	    -ms-user-select: none;
	    user-select: none;
		text-decoration: none !important;
		font-family: Roboto-Medium;
	}
	.ui-listview>.ui-li-static, 
	.ui-listview>.ui-li-divider, 
	.ui-listview>li>a.ui-btn {
	    margin: 0;
	    display: block;
	    position: relative;
	    text-align: left;
	    text-overflow: ellipsis;
	    overflow: hidden;
	    white-space: nowrap;
	}
	.ui-listview-inset>.ui-li-static, 
	.ui-listview-inset>.ui-li-divider, 
	.ui-listview-inset>li>a.ui-btn {
	    border-right-width: 1px;
	    border-left-width: 1px;
	}
	.ui-listview>.ui-li-static, 
	.ui-listview>.ui-li-divider, 
	.ui-listview>li>a.ui-btn {
	    border-width: 1px 0 0;
	    border-style: solid;
	}
	.ui-listview>li h3 {
		font-size: 1em;
	    font-weight: 700;
	    display: block;
	    margin: .45em 0;
	    text-overflow: ellipsis;
	    overflow: hidden;
	    white-space: nowrap;
	}
	.ui-listview>li p {
	    font-size: .75em;
	    font-weight: 400;
	    display: block;
	    margin: .6em 0;
	    text-overflow: ellipsis;
	    overflow: hidden;
	    white-space: nowrap;
	}
}
