// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.ui-header.header::after,
.ui-header.header-md::after,
.ui-header.header-ios::after{
	height: 0px;
}
.ui-title{
	color: #FFF !important;
	width: 100% !important;
	margin: 0 auto !important;
	padding-bottom: 0px !important;
}
ion-title p{
	width: 100% !important;
	margin: 0 auto !important;
}
hr.hrblue{
	height: 1px !important;
}
ion-navbar button{
	color: #FFF !important;
}
ion-header{
	border: 0px none !important;
}
.item.item-block .item-inner,
.item-md.item-block .item-inner, 
.item-ios.item-block .item-inner{
	border-bottom: 0px none;
	text-align: center;
}
.interface-items .row {
	margin: 0;
}
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(http://fonts.gstatic.com/s/materialicons/v21/2fcrYFNaTjcS6g4U3t-Y5RV6cRhDpPC5P4GCEJpqGoc.woff) format('woff');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}