$toolbar-background-color: #03a9f4;

page-adult-take-mobile-list {
	font-size: 16px;
	background-image: url(../assets/img/dosing/blue-balls.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: fixed;
    height: 620px;

	.toolbar-background-md, .toolbar-background{
		background: $toolbar-background-color;
	}
	.bar-button-md{
		padding: 0px;
	}
	.item-md.item-block .item-inner{
		border-bottom: 0px none;
	}
	ion-slide h2{
		font-weight: bold;
		font-size: 16px;
	}

	ion-slides{
		height: 220px;
	}
	.slide-zoom {
	    height: 100%;
	}
	.swiper-slide{
		height: 200px !important;
	}
	.slide-image {
	    max-height: 50%;
	    max-width: 60%;
	    margin: 18px 0;
	}
	.content-md{
		background-color: transparent;
	}
}
#ion-diagnostics-toast{
	background: transparent;
}