<!--  
  Generated template for the AllergiesMobile page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
   -->
<ion-header class="ui-header">

  <ion-navbar>
    <ion-title>
    	<h1 class="ui-title">
      	Dandruff
      </h1>
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="showMenu()">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
	</ion-navbar>
  <ion-navbar class="fullWidth robotoLight bgPink" *ngIf="page>=0 && page<30">
    <p *ngIf="page==0">White flakes?</p>
    <p *ngIf="page>=1 && page<30">Need a doctor?</p>
    <p *ngIf="page>=30 && page<40">How bad is it?</p>
  </ion-navbar>
</ion-header>

<ion-content class="ui-page-theme-a">
	<div class="ui-content" *ngIf="page==0">
	    <div class="maxwidth450">
	        <div class="ovalBorderRightBlue">
	            <span class="purple_bluefont">Shedding</span><br>
	            of the scalp and areas of hair follicles can cause dandruff.
	        </div>
	        <div align="right"><img src="assets/img/pharm/male/pharm-peter.svg" width="100" alt="Pharmacist"></div>
	    </div>
	    <div class="clearboth divider1"></div>
	    <!-- ---------------End Border right person------------------- -->
	    <p class="blueBorder">These areas also include eyebrows, moustache and even on the face.  Shedding would produce white flakes on the head, neck, face and shoulders. </p>
	    <p class="centerText">
	        <img src="assets/img/people/adult/head/dandruff-lady.svg" width="150" alt="lady with dandruff symptoms">
	    </p>
	    <p class="blueBorderAll">Let's see what you can do about it and have a pharmacist recommend the best over-the-counter means to take care of it.</p>
	    <!--------------------------Banner Link----------------------------- -->
	    <div>
	    </div>
	    <!--------------------------Banner Link----------------------------- -->
	    <div class="clearboth divider1"></div>
	    <p class="centerText"> 
	    	<a href="#" data-role="button" data-inline="true" class="ui-link ui-btn ui-btn-inline ui-shadow ui-corner-all" role="button" (click)="togglePage(1)">Continue</a>
	    </p>
	    <p>&nbsp;</p>
	</div>

	<div class="ui-content" *ngIf="page>=1 && page<30">
	    <div id="dandruff1_mobile_1" *ngIf="page==1">
	        <div class="maxwidth450">
	            <div class="ovalBorderRightBlue">
	                <span class="bluefontLarge">First.</span><br>
	                Rule out cases of dandruff that may require a visit to the doctor.
	            </div>
	            <div align="right"><img src="assets/img/pharm/male/pharm-peter.svg" width="100" alt="Pharmacist"></div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Border left person------------------- -->
	        <p class="blueBorder centerText">Or even find out if this is dandruff in the first place.</p>
	        <div class="clearboth divider1"></div>
	        <p class="centerText"><button data-inline="true" class="dandruff1_mobile_2_n_link ui-btn ui-btn-inline ui-shadow ui-corner-all" (click)="togglePage(2)">Continue</button></p>
	        <p>&nbsp;</p>
	    </div>
	    <!--End Intro -->
	    <div id="dandruff1_mobile_2_n" *ngIf="page==2">
	        <div class="maxwidth450">
	            <div class="ovalBorderRightBlue centerText">
	                <span>Is your <span class="bluefont">scalp</span> <span class="purple_bluefont">painful?</span></span><br>
	            </div>
	            <div align="right"><img src="assets/img/pharm/male/pharm-peter.svg" width="100" alt="Pharmacist"></div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Border right person------------------- -->
	        <div class="clearboth divider1"></div>
	        <p class="centerText">
	            <button data-inline="true" class="dandruff1_mobile_3_n_link ui-btn ui-btn-l ui-btn-inline ui-shadow ui-corner-all" data-theme="l" (click)="togglePage(3)">Yes</button>
	            <button data-inline="true" class="dandruff1_mobile_3_n_link ui-btn ui-btn-k ui-btn-inline ui-shadow ui-corner-all" data-theme="k" (click)="togglePage(4)">No</button>
	        </p>
	        <p>&nbsp;</p>
	    </div>
	    <!--end first question div --> 
	    <!--start 3 div -->   
	    <div id="dandruff1_mobile_3_y" *ngIf="page==3">
	        <h3>Yes?</h3>
	        <p>&nbsp;</p>
	        <button data-inline="true" class="dandruff1_mobile_3_n_link ui-btn ui-btn-inline ui-shadow ui-corner-all" (click)="togglePage(4)">Continue</button>	
	        <p>&nbsp;</p>
	    </div>
	    <div id="dandruff1_mobile_3_n" *ngIf="page==4">
	        <div class="maxwidth450">
	            <div class="ovalBorderRightBlue centerText">
	                <span>Is the scalp very <span class="redfont">red?</span></span><br>
	            </div>
	            <div align="right"><img src="assets/img/pharm/male/pharm-peter.svg" width="100" alt="Pharmacist"></div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Border right person------------------- -->
	        <p class="centerText">
	            <button data-inline="true" class="dandruff1_mobile_4_y_link ui-btn ui-btn-l ui-btn-inline ui-shadow ui-corner-all" data-theme="l" (click)="togglePage(5)">Yes</button>
	            <button data-inline="true" class="dandruff1_mobile_4_n_link ui-btn ui-btn-k ui-btn-inline ui-shadow ui-corner-all" data-theme="k" (click)="togglePage(6)">No</button>
	        </p>
	        <p>&nbsp;</p>
	    </div>
	    <!--end 3 div --> 
	    <div id="dandruff1_mobile_4_y" *ngIf="page==5">
	        <!--start 4 div -->
	        <div class="centerText">
	            <div class="maxwidth450">
	                <div class="ovalLeftOrange">
	                    <span class="redfont">Very red?</span><br>
	                    You may have to see a doctor on this one.
	                </div>
	                <img src="assets/img/pharm/male/pharm-peter.svg" alt="Pharmacist" width="80">
	                <div class="clearboth"></div>
	            </div>
	        </div>
	        <p class="orangeBorder centerText">Let's Continue and see what you can decide on.</p>
	        <div class="clearboth divider1"></div>
	        <p class="centerText"><button data-inline="true" class="dandruff1_mobile_4_n_link ui-btn ui-btn-inline ui-shadow ui-corner-all" (click)="togglePage(6)">Continue</button></p>
	        <p>&nbsp;</p>
	    </div>
	    <div id="dandruff1_mobile_4_n" *ngIf="page==6">
	        <div class="maxwidth450">
	            <div class="ovalBorderRightBlue centerText">
	                <span>Does the affected area(s) drain <span class="orangefont">fluid</span> or <span class="purple_redfont">pus?</span></span><br>
	            </div>
	            <div align="right"><img src="assets/img/pharm/male/pharm-peter.svg" width="100" alt="Pharmacist"></div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Border right person------------------- -->
	        <p class="centerText">
	            <button data-inline="true" class="dandruff1_mobile_5_y_link ui-btn ui-btn-l ui-btn-inline ui-shadow ui-corner-all" data-theme="l" (click)="togglePage(7)">Yes</button>
	            <button data-inline="true" class="dandruff1_mobile_5_n_link ui-btn ui-btn-k ui-btn-inline ui-shadow ui-corner-all" data-theme="k" (click)="togglePage(8)">No</button>
	        </p>
	        <p>&nbsp;</p>
	    </div>
	    <!--end 4 div --> 
	    <div id="dandruff1_mobile_5_y" *ngIf="page==7">
	        <!--start 5 div -->
	        <div class="maxwidth450">
	            <div class="ovalBorderRightYellow">
	                <span class="redfontLarge">Seek urgent care or call the doctor.</span><br>
	            </div>
	            <div align="right"><img class="redBorderWhite shadowInset" src="assets/img/pharm/male/pharm-peter.svg" width="100" alt="Pharmacist"></div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Border right person------------------- -->
	        <div class="redBorderAll">
	            <p class="redfont redBorder centerText">Here is why:</p>
	            <ul>
	                <li>Looking at an infection.</li>
	            </ul>
	        </div>
	        <br>
	        <!---------------------End Seek urgent care------------- -->
	        <div class="clearboth divider1"></div>
	        <p class="centerText"> 
	            <a href="#" data-role="button" data-theme="j" data-inline="true" class="ui-link ui-btn ui-btn-j ui-btn-inline ui-shadow ui-corner-all" role="button" (click)="gotoSubPage(0)">Urgent Care</a>
	            <button data-inline="true" class="dandruff1_mobile_5_n_link ui-btn ui-btn-inline ui-shadow ui-corner-all" (click)="togglePage(8)">Continue</button>
	        </p>
	        <p>&nbsp;</p>
	    </div>
	    <div id="dandruff1_mobile_5_n" *ngIf="page==8">
	        <div class="maxwidth450">
	            <div class="ovalBorderRightBlue centerText">
	                <span>Are the affected areas on the scalp forming <span class="bluefont">crusts?</span></span><br>
	            </div>
	            <div align="right"><img src="assets/img/pharm/male/pharm-peter.svg" width="100" alt="Pharmacist"></div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Border right person------------------- -->
	        <p class="centerText">
	            <button data-inline="true" class="dandruff1_mobile_6_y_link ui-btn ui-btn-l ui-btn-inline ui-shadow ui-corner-all" data-theme="l" (click)="togglePage(9)">Yes</button>
	            <button data-inline="true" class="dandruff1_mobile_6_n_link ui-btn ui-btn-k ui-btn-inline ui-shadow ui-corner-all" data-theme="k" (click)="togglePage(10)">No</button>
	        </p>
	        <p>&nbsp;</p>
	    </div>
	    <!--end 5  div --> 
	    <div id="dandruff1_mobile_6_y" *ngIf="page==9">
	        <!--start 6 div -->
	        <div class="maxwidth450">
	            <div class="ovalBorderRightYellow shadowRight centerText">
	                <span class="redfontLarge">Seek urgent care or call the doctor.</span><br>
	            </div>
	            <div align="right"><img src="assets/img/pharm/male/pharm-peter.svg" width="100" alt="Pharmacist"></div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Border right person------------------- -->
	        <div class="redBorderAll">
	            <p class="redfont redBorder centerText">Here is why:</p>
	            <ul>
	                <li>Looking at an infection or serious inflammation.</li>
	                <li>Would need antibiotic or steroidal lotion or solution</li>
	            </ul>
	        </div>
	        <br>
	        <!---------------------End Seek urgent care------------- -->
	        <div class="clearboth divider1"></div>
	        <p class="centerText"><a href="#" data-role="button" data-theme="j" data-inline="true" class="ui-link ui-btn ui-btn-j ui-btn-inline ui-shadow ui-corner-all" role="button" (click)="gotoSubPage(0)">Urgent Care</a>
	            <button data-inline="true" class="dandruff1_mobile_6_n_link ui-btn ui-btn-inline ui-shadow ui-corner-all" (click)="togglePage(10)">Continue</button>	
	        </p>
	        <p>&nbsp;</p>
	    </div>
	    <div id="dandruff1_mobile_6_n" *ngIf="page==10">
	        <div class="maxwidth450">
	            <div class="ovalBorderRightBlue centerText">
	                <span>Are you <span class="purple_bluefont">losing</span> <span class="bluefont">hair</span> in many areas of the <span class="purple_bluefont">scalp?</span></span><br>
	            </div>
	            <div align="right"><img src="assets/img/pharm/male/pharm-peter.svg" width="100" alt="Pharmacist"></div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Border right person------------------- -->
	        <p class="centerText">
	            <button data-inline="true" class="dandruff1_mobile_7_y_link ui-btn ui-btn-l ui-btn-inline ui-shadow ui-corner-all" data-theme="l" (click)="togglePage(11)">Yes</button>
	            <button data-inline="true" class="dandruff1_mobile_7_n_link ui-btn ui-btn-k ui-btn-inline ui-shadow ui-corner-all" data-theme="k" (click)="togglePage(12)">No</button>
	        </p>
	        <p>&nbsp;</p>
	    </div>
	    <!--end 6 div --> 
	    <div id="dandruff1_mobile_7_y" *ngIf="page==11">
	        <!--start 7 div -->
	        <div class="maxwidth450">
	            <div class="ovalBorderRightYellow shadowRight centerText">
	                <span class="redfontLarge">Seek urgent care or call the doctor.</span><br>
	            </div>
	            <div align="right"><img src="assets/img/pharm/male/pharm-peter.svg" width="100" alt="Pharmacist"></div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Border right person------------------- -->
	        <div class="redBorderAll">
	            <p class="redfont redBorder centerText">Here is why:</p>
	            <ul>
	                <li>Dandruff does not cause hair loss</li>
	            </ul>
	        </div>
	        <br>
	        <!---------------------End Seek urgent care------------- -->
	        <div class="clearboth divider1"></div>
	        <p class="centerText"><a href="#" data-role="button" data-theme="j" data-inline="true" class="ui-link ui-btn ui-btn-j ui-btn-inline ui-shadow ui-corner-all" role="button" (click)="gotoSubPage(0)">Urgent Care</a>
	            <button data-inline="true" class="dandruff1_mobile_7_n_link ui-btn ui-btn-inline ui-shadow ui-corner-all" (click)="togglePage(12)">Continue</button>
	        </p>
	        <p>&nbsp;</p>
	    </div>
	    <div id="dandruff1_mobile_7_n" *ngIf="page==12">
	        <div class="maxwidth450">
	            <div class="ovalBorderRightBlue centerText">
	                <span>Are you experiencing <span class="yellowfont">yellow</span> to <span class="redfont">red </span>scaling areas along the hairline?</span><br>
	            </div>
	            <div align="right"><img src="assets/img/pharm/male/pharm-peter.svg" width="100" alt="Pharmacist"></div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Border right person------------------- -->
	        <p class="centerText">
	            <button data-inline="true" class="dandruff1_mobile_8_n_link ui-btn ui-btn-l ui-btn-inline ui-shadow ui-corner-all" data-theme="l" (click)="togglePage(13)">Yes</button>
	            <button data-inline="true" class="dandruff1_mobile_8_n_link ui-btn ui-btn-k ui-btn-inline ui-shadow ui-corner-all" data-theme="k" (click)="togglePage(14)">No</button>
	        </p>
	        <p>&nbsp;</p>
	    </div>
	    <!--end 7 div --> 
	    <div id="dandruff1_mobile_8_y" *ngIf="page==13">
	        <!--start 8 div -->
	        <h3>Yes?</h3>
	        <button data-inline="true" class="dandruff1_mobile_8_n_link ui-btn ui-btn-inline ui-shadow ui-corner-all" (click)="togglePage(14)">Continue</button>
	        <p>&nbsp;</p>
	    </div>
	    <div id="dandruff1_mobile_8_n" *ngIf="page==14">
	        <div class="maxwidth450">
	            <div class="ovalBorderRightBlue centerText">
	                <span>What about behind or in the <span class="purple_redfont">ear?</span></span><br>
	            </div>
	            <div align="right"><img src="assets/img/pharm/male/pharm-peter.svg" width="100" alt="Pharmacist"></div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Border right person------------------- -->
	        <p class="centerText">
	            <button data-inline="true" class="dandruff1_mobile_9_y_link ui-btn ui-btn-l ui-btn-inline ui-shadow ui-corner-all" data-theme="l" (click)="togglePage(15)">Yes</button>
	            <button data-inline="true" class="dandruff1_mobile_9_n_link ui-btn ui-btn-k ui-btn-inline ui-shadow ui-corner-all" data-theme="k" (click)="togglePage(16)">No</button>
	        </p>
	        <p>&nbsp;</p>
	    </div>
	    <!--end 8 div --> 
	    <div id="dandruff1_mobile_9_y" *ngIf="page==15">
	        <!--start 9 div -->
	        <div class="maxwidth450">
	            <div class="ovalBorderRightYellow shadowRight centerText">
	                <span class="redfontLarge">Seek urgent care or call the doctor.</span><br>
	            </div>
	            <div align="right"><img src="assets/img/pharm/male/pharm-peter.svg" width="100" alt="Pharmacist"></div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Border right person------------------- -->
	        <div class="redBorderAll">
	            <p class="redfont redBorder centerText">Here is why:</p>
	            <ul>
	                <li>Nothing over the counter is going to take care of this.</li>
	                <li>Looking at a fungal infection</li>
	            </ul>
	        </div>
	        <br>
	        <!---------------------End Seek urgent care------------- -->
	        <div class="clearboth divider1"></div>
	        <p class="centerText"><a href="#" data-role="button" data-theme="j" data-inline="true" class="ui-link ui-btn ui-btn-j ui-btn-inline ui-shadow ui-corner-all" role="button" (click)="gotoSubPage(0)">Urgent Care</a>
	            <button data-inline="true" class="dandruff1_mobile_9_n_link ui-btn ui-btn-inline ui-shadow ui-corner-all" (click)="togglePage(16)">Continue</button>
	        </p>
	        <p>&nbsp;</p>
	    </div>
	    <div id="dandruff1_mobile_9_n" *ngIf="page==16">
	        <div class="maxwidth450">
	            <div class="ovalBorderRightBlue centerText">
	                <span>Any such thing on the <span class="bluefont">eyebrows?</span></span><br>
	            </div>
	            <div class="clearboth"></div>
	            <div class="container_12">
	                <div class="grid_8">
	                    <br>
	                    <div class="bubbleRightBlue">
	                        Or <span class="bluefont">bridge of the nose?</span>
	                    </div>
	                </div>
	                <div class="grid_4">
	                    <img src="assets/img/pharm/male/pharm-peter.svg" width="80" align="right">
	                </div>
	            </div>
	        </div>
	        <br>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Point Right------------------- -->
	        <p class="centerText">
	            <button data-inline="true" class="dandruff1_mobile_10_y_link ui-btn ui-btn-l ui-btn-inline ui-shadow ui-corner-all" data-theme="l" (click)="togglePage(17)">Yes</button>
	            <button data-inline="true" class="dandruff1_mobile_10_n_link ui-btn ui-btn-k ui-btn-inline ui-shadow ui-corner-all" data-theme="k" (click)="togglePage(18)">No</button>
	        </p>
	        <p>&nbsp;</p>
	    </div>
	    <!--end 9  div --> 
	    <div id="dandruff1_mobile_10_y" *ngIf="page==17">
	        <!--start 10 div -->
	        <div class="maxwidth450">
	            <div class="ovalBorderRightYellow shadowRight centerText">
	                <span class="redfontLarge">Seek urgent care or call the doctor.</span><br>
	            </div>
	            <div align="right"><img src="assets/img/pharm/male/pharm-peter.svg" width="100" alt="Pharmacist"></div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Border right person------------------- -->
	        <div class="redBorderAll">
	            <p class="redfont redBorder centerText">Here is why:</p>
	            <ul>
	                <li>Hard to treat this with over-the-counter medications</li>
	            </ul>
	        </div>
	        <br>
	        <!---------------------End Seek urgent care------------- -->
	        <div class="clearboth divider1"></div>
	        <p class="centerText"><a href="#" data-role="button" data-theme="j" data-inline="true" class="ui-link ui-btn ui-btn-j ui-btn-inline ui-shadow ui-corner-all" role="button" (click)="gotoSubPage(0)">Urgent Care</a>
	            <button data-inline="true" class="dandruff1_mobile_10_n_link ui-btn ui-btn-inline ui-shadow ui-corner-all" (click)="togglePage(18)">Continue</button>
	        </p>
	        <p>&nbsp;</p>
	    </div>
	    <div id="dandruff1_mobile_10_n" *ngIf="page==18">
	        <div class="maxwidth450">
	            <div class="ovalBorderRightBlue centerText">
	                <span>What about <span class="yellowfont">yellow</span> to <span class="redfont">red</span> scaling areas on the <span class="grayfont">upper chest area?</span></span><br>
	            </div>
	            <div align="right"><img src="assets/img/pharm/male/pharm-peter.svg" width="100" alt="Pharmacist"></div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Border right person------------------- -->
	        <p class="centerText">
	            <button data-inline="true" class="dandruff1_mobile_11_y_link ui-btn ui-btn-l ui-btn-inline ui-shadow ui-corner-all" data-theme="l" (click)="togglePage(19)">Yes</button>
	            <button data-inline="true" class="dandruff1_mobile_11_n_link ui-btn ui-btn-k ui-btn-inline ui-shadow ui-corner-all" data-theme="k" (click)="togglePage(20)">No</button>
	        </p>
	        <p>&nbsp;</p>
	    </div>
	    <!--end 10 div --> 
	    <div id="dandruff1_mobile_11_y" *ngIf="page==19">
	        <!--start 11 div -->
	        <div class="maxwidth450">
	            <div class="ovalBorderRightYellow shadowRight centerText">
	                <span class="redfontLarge">Seek urgent care or call the doctor.</span><br>
	            </div>
	            <div align="right"><img src="assets/img/pharm/male/pharm-peter.svg" width="100" alt="Pharmacist"></div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Border right person------------------- -->
	        <div class="redBorderAll">
	            <p class="redfont redBorder centerText">Here is why:</p>
	            <ul>
	                <li>Severe case of dandruff.</li>
	                <li>Over-the-counter medications won't cut this.</li>
	            </ul>
	        </div>
	        <br>
	        <!---------------------End Seek urgent care------------- -->
	        <div class="clearboth divider1"></div>
	        <p class="centerText"><a href="#" data-role="button" data-theme="j" data-inline="true" class="ui-link ui-btn ui-btn-j ui-btn-inline ui-shadow ui-corner-all" role="button" (click)="gotoSubPage(0)">Urgent Care</a>
	            <button data-inline="true" class="dandruff1_mobile_11_n_link ui-btn ui-btn-inline ui-shadow ui-corner-all" (click)="togglePage(20)">Continue</button>
	        </p>
	        <p>&nbsp;</p>
	    </div>
	    <div id="dandruff1_mobile_11_n" *ngIf="page==20">
	        <div class="maxwidth450">
	            <div class="ovalBorderRightBlue centerText">
	                <span class="purplefont firstname"> </span><br>
	                We tried to rule out seeing a doctor right away.
	            </div>
	            <div align="right"><img src="assets/img/pharm/male/pharm-peter.svg" width="100" alt="Pharmacist"></div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Border right person------------------- -->
	        <p class="blueBorder">Continue and see what a pharmacist recommend over-the-counter to take care of this dandruff if you are looking at one.</p>
	        <!--------------------------Banner Link----------------------------- -->
	        <div>
	        </div>
	        <!--------------------------Banner Link----------------------------- -->
	        <div class="clearboth divider1"></div>
	        <p class="centerText"><a href="#" data-role="button" data-inline="true" class="ui-link ui-btn ui-btn-inline ui-shadow ui-corner-all" role="button" (click)="togglePage(30)">Continue</a></p>
	        <p>&nbsp;</p>
	    </div>
	    <!--end 11 div -->  
	    <p>&nbsp;</p>
	</div>

	<div class="ui-content" *ngIf="page>=30 && page<40">
	    <div id="slider_dandruff2_mobile_div" *ngIf="page==30">
	        <div class="maxwidth450">
	            <div class="ovalBorderRightBlue centerText">
	                <span>On a <span class="purple_bluefont">scale of 1 to 10,</span> what are you looking at?</span><br>
	            </div>
	            <div align="right"><img src="assets/img/pharm/male/pharm-peter.svg" width="100" alt="Pharmacist"></div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Border right person------------------- -->
	        <div data-role="fieldcontain" class="ui-field-contain">
	            <label for="slider_dandruff2_mobile" id="slider_dandruff2_mobile-label">I say a:</label>
	            <div class="ui-slider">
	            	<ion-item>
						<ion-range min="1" max="10" step="1" [(ngModel)]="currentStatus" color="sliderPink">
							<ion-label range-left>{{currentStatus}}</ion-label>
						</ion-range>
					</ion-item>
	            </div>
	        </div>
	        <br>
	        <div class="clearboth divider1"></div>
	        <div class="centerText">
	        	<div class="ui-btn ui-input-btn ui-corner-all ui-shadow ui-btn-inline">Here you  go<input type="button" id="get_dandruff2_mobile_value" data-inline="true" value="Here you  go" (click)="togglePage(31)"></div>
	        </div>
	    </div>
	    <br>
	    <div id="selected_dandruff2_mobile_value_container" *ngIf="page==31">
	        <div class="maxwidth450">
	            <div class="ovalBorderRightBlue centerText">
	                <span class="bluefont firstname"> </span><br><br>
	                <div id="selected_dandruff2_mobile_value">
	                	You said: <span style="background-color:#FFFF99; border:inset; border-color:#FFFF00; padding:5px;">{{currentStatus}}</span>
	                </div>
	            </div>
	            <div align="right"><img src="assets/img/pharm/male/pharm-peter.svg" width="100" alt="Pharmacist"></div>
	        </div>
	    </div>
	    <div class="clearboth divider1"></div>
	    <!-----------------End Border right person------------------- -->
	    <div id="dandruff2_mobile_option1" *ngIf="page==31 && currentStatus<=4">
	        <h3 class="orangeBorder orangefont centerText">Not too bad</h3>
	        <p>Discuss and send to pharmacist infographics</p>
	    </div>
	    <div id="dandruff2_mobile_option2" *ngIf="page==31 && currentStatus<=7 && currentStatus>4">
	        <h3 class="blueBorder purple_redfont centerText">Getting bad.</h3>
	        <p>Discuss average cases and send to pharmacist infographics</p>
	    </div>
	    <div id="dandruff2_mobile_option3" *ngIf="page==31 && currentStatus<=10 && currentStatus>7">
	        <h3 class="redBorder redfont centerText">This bad?</h3>
	        <p>discuss and send to pharmacist infographics</p>
	        <p>Recommend dermatologist</p>
	    </div>
	    <!-------------Start Options button------------------ --> 
	    <div id="options_btn_dandruff2_mobile" *ngIf="page==31">
	        <!--------------------------Banner Link----------------------------- -->
	        <div>
	        </div>
	        <!--------------------------Banner Link----------------------------- -->
	        <input type="hidden" class="ClickValuePage1_25" value="">
	        <input type="hidden" class="ClickValuePage1_50" value="">
	        <input type="hidden" class="ClickValuePage1_100" value="">
	        <input type="hidden" class="ClickValuePage2_25" value="">
	        <input type="hidden" class="ClickValuePage2_50" value="">
	        <input type="hidden" class="ClickValuePage2_100" value="">
	        <input type="hidden" class="ClickValuePage3_25" value="">
	        <input type="hidden" class="ClickValuePage3_50" value="">
	        <input type="hidden" class="ClickValuePage3_100" value="">
	        <div class="ui-input-text ui-body-inherit ui-corner-all ui-shadow-inset"><input type="text" class="totalResult" value=""></div>
	        <div class="clearboth divider1"></div>
	        <p class="centerText">
	            <button class="back_dandruff2_mobile_value ui-alt-icon ui-btn ui-btn-b ui-icon-back ui-btn-icon-notext ui-btn-inline ui-shadow ui-corner-all" data-inline="true" (click)="goBackStatus()">Back</button>
	            <a href="#" data-role="button" data-theme="j" data-inline="true" class="ui-link ui-btn ui-btn-j ui-btn-inline ui-shadow ui-corner-all" role="button" (click)="gotoSubPage(0)">Nearest Clinic</a>
	            <a href="#" data-role="button" data-inline="true" class="ui-link ui-btn ui-btn-inline ui-shadow ui-corner-all" role="button" (click)="gotoSubPage(1)">Continue</a>
	        </p>
	    </div>
	    <!--------------End Options Button----------------------- -->
	    <p>&nbsp;</p>
	    <p>&nbsp;</p>
	</div>
</ion-content>
