<!--  
  Generated template for the AllergiesMobile page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
   -->
<ion-header class="ui-header">

  <ion-navbar>
    <ion-title>
    	<h1 class="ui-title">
      	Nail fungus
      </h1>
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="showMenu()">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
	</ion-navbar>
  <ion-navbar class="fullWidth robotoLight bgOrange">
    <p *ngIf="page==0">Nail fungus?</p>
    <p *ngIf="page>0 && page<20">Is it nail fungus?</p>
    <p *ngIf="page>=20 && page<40">Need a doctor?</p>
    <p *ngIf="page==40">A,</p>
    <p *ngIf="page==41">Reoccurrence</p>
    <p *ngIf="page==42">First time</p>
  </ion-navbar>
</ion-header>
<ion-content class="ui-page-theme-e">
	<div class="ui-content" *ngIf="page==0">
	    <div class="maxwidth450">
	        <div class="ovalBorderRightYellow centerText">
	            <span><span class="orangefont">Nail fungus</span> may start as a tiny white or orange spot on the nail.</span><br>
	        </div>
	        <div align="right"><img src="assets/img/pharm/female/pharm-carly-orange.svg" width="100" alt="Pharmacist"></div>
	    </div>
	    <div class="clearboth divider1"></div>
	    <br>
	    <!-----------------End Border right person------------------- -->
	    <div class="orangeBorder centerText">
	        <p>Now, let's see what can be done about it.</p>
	        <hr class="hrorange">
	        <br>
	        <p class="centerText">
	            <br>
	            <img src="assets/img/people/adult/leg/nailfungus-leg.svg" width="200" alt="person with a nail fungus">
	        </p>
	    </div>
	    <!--------------------------Banner Link----------------------------- -->
	    <div>
	    </div>
	    <!--------------------------Banner Link----------------------------- -->
	    <div class="clearboth divider1"></div>
	    <p class="centerText"> <a href="#" data-role="button" data-inline="true" class="ui-link ui-btn ui-btn-inline ui-shadow ui-corner-all" role="button" (click)="togglePage(1)">Continue</a></p>
	    <p>&nbsp;</p>
	</div>

	<div class="ui-content" *ngIf="page>0 && page<20">
	    <div id="nailfungus1_mobile_1" *ngIf="page==1">
	        <div class="maxwidth450">
	            <div class="ovalBorderRightOrange">
	                <span class="orangefontLarge firstname">A,</span><br>
	                To start with, are you looking at a nail fungus infection in the first place?
	            </div>
	            <div align="right"><img src="assets/img/pharm/female/pharm-carly-orange.svg" width="100" alt="Pharmacist"></div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Border left person------------------- -->
	        <p class="purpleRedBorder centerText">You don't want to assume  a nail fungus infection when it could be something serious.</p>
	        <div class="clearboth divider1"></div>
	        <p class="centerText"> <button data-inline="true" class="nailfungus1_mobile_2_n_link ui-btn ui-btn-inline ui-shadow ui-corner-all" (click)="togglePage(2)">Continue</button></p>
	        <p>&nbsp;</p>
	    </div>
	    <!--End Intro -->
	    <div id="nailfungus1_mobile_2_n" *ngIf="page==2">
	        <div class="maxwidth450">
	            <div class="ovalBorderRightOrange centerText">
	                <span>The nail is getting <span class="orangefont">discolored.</span> Is this why you suspect nail fungus?</span><br>
	            </div>
	            <div align="right"><img src="assets/img/pharm/female/pharm-carly-orange.svg" width="100" alt="Pharmacist"></div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Border right person------------------- -->
	        <p class="centerText">
	            <button data-inline="true" class="nailfungus1_mobile_3_n_link ui-btn ui-btn-l ui-btn-inline ui-shadow ui-corner-all" data-theme="l" (click)="togglePage(3)">Yes</button>
	            <button data-inline="true" class="nailfungus1_mobile_3_n_link ui-btn ui-btn-k ui-btn-inline ui-shadow ui-corner-all" data-theme="k" (click)="togglePage(4)">No</button>
	        </p>
	        <p>&nbsp;</p>
	    </div>
	    <!--end first question div --> 
	    <!--start 3 div -->   
	    <div id="nailfungus1_mobile_3_y" *ngIf="page==3">
	        <h3>Yes?</h3>
	        <p>&nbsp;</p>
	        <button data-inline="true" class="nailfungus1_mobile_3_n_link ui-btn ui-btn-inline ui-shadow ui-corner-all" (click)="togglePage(4)">Continue</button>	
	        <p>&nbsp;</p>
	    </div>
	    <div id="nailfungus1_mobile_3_n" *ngIf="page==4">
	        <div class="maxwidth450">
	            <div class="ovalBorderRightOrange centerText">
	                <span>Is the nail surface losing its <span class="orangefont">luster</span> or <span class="purple_bluefont">shine?</span></span><br>
	            </div>
	            <div align="right"><img src="assets/img/pharm/female/pharm-carly-orange.svg" width="100" alt="Pharmacist"></div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Border right person------------------- -->
	        <p class="centerText">
	            <button data-inline="true" class="nailfungus1_mobile_4_n_link ui-btn ui-btn-l ui-btn-inline ui-shadow ui-corner-all" data-theme="l" (click)="togglePage(5)">Yes</button>
	            <button data-inline="true" class="nailfungus1_mobile_4_n_link ui-btn ui-btn-k ui-btn-inline ui-shadow ui-corner-all" data-theme="k" (click)="togglePage(6)">No</button>
	        </p>
	        <p>&nbsp;</p>
	    </div>
	    <!--end 3 div --> 
	    <div id="nailfungus1_mobile_4_y" *ngIf="page==5">
	        <!--start 4 div -->
	        <h3>Yes?</h3>
	        <button data-inline="true" class="nailfungus1_mobile_4_n_link ui-btn ui-btn-inline ui-shadow ui-corner-all" (click)="togglePage(6)">Continue</button>	
	        <p>&nbsp;</p>
	    </div>
	    <div id="nailfungus1_mobile_4_n" *ngIf="page==6">
	        <div class="maxwidth450">
	            <div class="ovalBorderRightOrange centerText">
	                <span>Are there white or orange lines on the <span class="pinkfont">side of the nail?</span></span><br>
	            </div>
	            <div align="right"><img src="assets/img/pharm/female/pharm-carly-orange.svg" width="100" alt="Pharmacist"></div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Border right person------------------- -->
	        <p class="centerText">
	            <button data-inline="true" class="nailfungus1_mobile_5_y_link ui-btn ui-btn-l ui-btn-inline ui-shadow ui-corner-all" data-theme="l" (click)="togglePage(7)">Yes</button>
	            <button data-inline="true" class="nailfungus1_mobile_5_n_link ui-btn ui-btn-k ui-btn-inline ui-shadow ui-corner-all" data-theme="k" (click)="togglePage(8)">No</button>
	        </p>
	        <p>&nbsp;</p>
	    </div>
	    <!--end 4 div --> 
	    <div id="nailfungus1_mobile_5_y" *ngIf="page==7">
	        <!--start 5 div -->
	        <div class="maxwidth450">
	            <div class="ovalBorderRightOrange centerText">
	                <span class="redfontLarge">Yes?</span><br>
	                Start suspecting <span class="orangefont">nail fungus</span> <span class="grayfont">infection.</span>
	            </div>
	            <div align="right"><img src="assets/img/pharm/female/pharm-carly-orange.svg" width="100" alt="Pharmacist"></div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Border right person------------------- -->
	        <div class="redBorderAll">
	            <p class="redBorder centerText">Suspect nail fungus if:</p>
	            <ul>
	                <li>Nail is getting discolored</li>
	                <li>Nail is losing luster or shine on the surface</li>
	                <li><span class="pinkfontSmall">Side of the nail</span> has white or orange lines</li>
	            </ul>
	        </div>
	        <div class="clearboth divider1"></div>
	        <p class="centerText">	<button data-inline="true" class="nailfungus1_mobile_5_n_link ui-btn ui-btn-inline ui-shadow ui-corner-all" (click)="togglePage(8)">Continue</button></p>
	        <p>&nbsp;</p>
	    </div>
	    <div id="nailfungus1_mobile_5_n" *ngIf="page==8">
	        <div class="maxwidth450">
	            <div class="ovalBorderRightOrange centerText">
	                <span>Is the nail turning <span class="bluefont">brittle?</span></span><br>
	            </div>
	            <div align="right"><img src="assets/img/pharm/female/pharm-carly-orange.svg" width="100" alt="Pharmacist"></div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Border right person------------------- -->
	        <p class="centerText">
	            <button data-inline="true" class="nailfungus1_mobile_6_y_link ui-btn ui-btn-l ui-btn-inline ui-shadow ui-corner-all" data-theme="l" (click)="togglePage(9)">Yes</button>
	            <button data-inline="true" class="nailfungus1_mobile_6_n_link ui-btn ui-btn-k ui-btn-inline ui-shadow ui-corner-all" data-theme="k" (click)="togglePage(10)">No</button>
	        </p>
	        <p>&nbsp;</p>
	    </div>
	    <!--end 5  div --> 
	    <div id="nailfungus1_mobile_6_y" *ngIf="page==9">
	        <!--start 6 div -->
	        <div class="maxwidth450">
	            <div class="ovalBorderRightOrange centerText">
	                <span class="orangefontLarge">Yes?</span><br>
	                Suspecting <span class="orangefont">nail fungus</span> infection.
	            </div>
	            <div align="right"><img src="assets/img/pharm/female/pharm-carly-orange.svg" width="100" alt="Pharmacist"></div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Border right person------------------- -->
	        <div class="blueBorderAll">
	            <p class="blueBorder centerText">Suspect nail fungus if:</p>
	            <ul>
	                <li>Nail is getting discolored</li>
	                <li>Nail is losing luster or shine on the surface</li>
	                <li>Side of the nail has white or orange lines</li>
	                <li class="bluefont">Nail is turning brittle</li>
	            </ul>
	        </div>
	        <div class="clearboth divider1"></div>
	        <p class="centerText"><button data-inline="true" class="nailfungus1_mobile_6_n_link ui-btn ui-btn-inline ui-shadow ui-corner-all" (click)="togglePage(10)">Continue</button>	</p>
	        <p>&nbsp;</p>
	    </div>
	    <div id="nailfungus1_mobile_6_n" *ngIf="page==10">
	        <div class="maxwidth450">
	            <div class="ovalBorderRightOrange centerText">
	                <span>Are the outside edges of the nail <span class="purple_redfont">crumbling?</span></span><br>
	            </div>
	            <div align="right"><img src="assets/img/pharm/female/pharm-carly-orange.svg" width="100" alt="Pharmacist"></div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Border right person------------------- -->
	        <p class="centerText">
	            <button data-inline="true" class="nailfungus1_mobile_7_y_link ui-btn ui-btn-l ui-btn-inline ui-shadow ui-corner-all" data-theme="l" (click)="togglePage(11)">Yes</button>
	            <button data-inline="true" class="nailfungus1_mobile_7_n_link ui-btn ui-btn-k ui-btn-inline ui-shadow ui-corner-all" data-theme="k" (click)="togglePage(12)">No</button>
	        </p>
	        <p>&nbsp;</p>
	    </div>
	    <!--end 6 div --> 
	    <div id="nailfungus1_mobile_7_y" *ngIf="page==11">
	        <!--start 7 div -->
	        <div class="maxwidth450">
	            <div class="ovalBorderRightOrange">
	                <span class="orangefontLarge">Yes?</span><br>
	                May be looking at a nail fungus <span class="redfont">infection.</span>
	            </div>
	            <div align="right"><img src="assets/img/pharm/female/pharm-carly-orange.svg" width="100" alt="Pharmacist"></div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Border right person------------------- -->
	        <div class="orangeBorderAll">
	            <p class="orangeBorder centerText">Symptoms include:</p>
	            <ul>
	                <li>Nail  getting discolored</li>
	                <li>Nail  losing luster or shine on the surface</li>
	                <li>Side of the nail having white or orange lines</li>
	                <li>Nail  turning brittle</li>
	                <li>Outside edges of the nail  <span class="bluefont">crumbling.</span></li>
	            </ul>
	        </div>
	        <div class="clearboth divider1"></div>
	        <p class="centerText">	<button data-inline="true" class="nailfungus1_mobile_7_n_link ui-btn ui-btn-inline ui-shadow ui-corner-all" (click)="togglePage(12)">Continue</button></p>
	        <p>&nbsp;</p>
	    </div>
	    <div id="nailfungus1_mobile_7_n" *ngIf="page==12">
	        <div class="maxwidth450">
	            <div class="ovalBorderRightOrange centerText">
	                <span>Is <span class="bluefont">debris</span> <span class="purple_bluefont">trapped</span> under the nail?</span><br>
	            </div>
	            <div align="right"><img src="assets/img/pharm/female/pharm-carly-orange.svg" width="100" alt="Pharmacist"></div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Border right person------------------- -->
	        <p class="centerText">
	            <button data-inline="true" class="nailfungus1_mobile_8_y_link ui-btn ui-btn-l ui-btn-inline ui-shadow ui-corner-all" data-theme="l" (click)="togglePage(13)">Yes</button>
	            <button data-inline="true" class="nailfungus1_mobile_8_n_link ui-btn ui-btn-k ui-btn-inline ui-shadow ui-corner-all" data-theme="k" (click)="togglePage(14)">No</button>
	        </p>
	        <p>&nbsp;</p>
	    </div>
	    <!--end 7 div --> 
	    <div id="nailfungus1_mobile_8_y" *ngIf="page==13">
	        <!--start 8 div -->
	        <div class="maxwidth450">
	            <div class="ovalBorderRightOrange centerText">
	                <span class="orangefontLarge">Yes?</span><br>
	                Looking at a <span class="orangefont">nail fungus</span> infection most likely.
	            </div>
	            <div align="right"><img src="assets/img/pharm/female/pharm-carly-orange.svg" width="100" alt="Pharmacist"></div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Border right person------------------- -->
	        <div class="orangeBorderAll">
	            <p class="orangeBorder centerText">Symptoms include:</p>
	            <ul>
	                <li>Nail getting discolored</li>
	                <li>Nail  losing luster or shine on the surface</li>
	                <li>Side of the nail having white or orange lines</li>
	                <li>Nail  turning brittle</li>
	                <li>Outside edges of the nail  crumbling</li>
	                <li>Debris <span class="orangefontSmall">trapped</span> under the nail</li>
	            </ul>
	        </div>
	        <p class="centerText"><button data-inline="true" class="nailfungus1_mobile_8_n_link ui-btn ui-btn-inline ui-shadow ui-corner-all" (click)="togglePage(14)">Continue</button></p>
	        <p>&nbsp;</p>
	    </div>
	    <div id="nailfungus1_mobile_8_n" *ngIf="page==14">
	        <div class="maxwidth450">
	            <div class="ovalBorderRightOrange centerText">
	                <span>Is the nail getting <span class="orangefont">thicker?</span></span><br>
	            </div>
	            <div align="right"><img src="assets/img/pharm/female/pharm-carly-orange.svg" width="100" alt="Pharmacist"></div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Border right person------------------- -->
	        <p class="centerText">
	            <button data-inline="true" class="nailfungus1_mobile_9_n_link ui-btn ui-btn-l ui-btn-inline ui-shadow ui-corner-all" data-theme="l" (click)="togglePage(15)">Yes</button>
	            <button data-inline="true" class="nailfungus1_mobile_9_n_link ui-btn ui-btn-k ui-btn-inline ui-shadow ui-corner-all" data-theme="k" (click)="togglePage(16)">No</button>
	        </p>
	        <p>&nbsp;</p>
	    </div>
	    <!--end 8 div --> 
	    <div id="nailfungus1_mobile_9_y" *ngIf="page==15">
	        <!--start 9 div -->
	        <h3>Yes?</h3>
	        <button data-inline="true" class="nailfungus1_mobile_9_n_link ui-btn ui-btn-inline ui-shadow ui-corner-all" (click)="togglePage(16)">Continue</button>
	        <p>&nbsp;</p>
	    </div>
	    <div id="nailfungus1_mobile_9_n" *ngIf="page==16">
	        <div class="maxwidth450">
	            <div class="ovalBorderRightOrange centerText">
	                <span>Is the <span class="purple_redfont">shape</span> getting <span class="bluefont">distorted?</span></span><br>
	            </div>
	            <div align="right"><img src="assets/img/pharm/female/pharm-carly-orange.svg" width="100" alt="Pharmacist"></div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Border right person------------------- -->
	        <p class="centerText">
	            <button data-inline="true" class="nailfungus1_mobile_10_y_link ui-btn ui-btn-l ui-btn-inline ui-shadow ui-corner-all" data-theme="l" (click)="togglePage(17)">Yes</button>
	            <button data-inline="true" class="nailfungus1_mobile_10_n_link ui-btn ui-btn-k ui-btn-inline ui-shadow ui-corner-all" data-theme="k" (click)="togglePage(18)">No</button>
	        </p>
	        <p>&nbsp;</p>
	    </div>
	    <!--end 9  div --> 
	    <div id="nailfungus1_mobile_10_y" *ngIf="page==17">
	        <!--start 10 div -->
	        <div class="maxwidth450">
	            <div class="ovalBorderRightOrange centerText">
	                <span class="redfontLarge">Yes?</span><br>
	                More than likely looking at a <span class="orangefont">nail fungus</span> infection.
	            </div>
	            <div align="right"><img src="assets/img/pharm/female/pharm-carly-orange.svg" width="100" alt="Pharmacist"></div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Border right person------------------- -->
	        <div class="redBorderAll">
	            <p class="redBorder centerText">Suspect nail fungus infection if:</p>
	            <ul>
	                <li>Nail is getting discolored</li>
	                <li>Nail is losing luster or shine on the surface</li>
	                <li>Side of the nail has white or orange lines</li>
	                <li>Nail is turning brittle</li>
	                <li>Outside edges of the nail is crumbling</li>
	                <li>Debris is trapped under the nail</li>
	                <li>Nail is getting <span class="orangefontSmall">thicker</span></li>
	                <li>Shape is getting <span class="bluefontSmall">distorted.</span></li>
	            </ul>
	        </div>
	        <p class="centerText"><button data-inline="true" class="nailfungus1_mobile_10_n_link ui-btn ui-btn-inline ui-shadow ui-corner-all" (click)="togglePage(18)">Continue</button></p>
	        <p>&nbsp;</p>
	    </div>
	    <div id="nailfungus1_mobile_10_n" *ngIf="page==18">
	        <div class="maxwidth450">
	            <div class="ovalBorderRightOrange centerText">
	                <span class="orangefontLarge firstname">A,</span><br>
	                Those were the main signs of a <span class="redfont">nail fungus</span> infection.
	            </div>
	            <div align="right"><img src="assets/img/pharm/female/pharm-carly-orange.svg" width="100" alt="Pharmacist"></div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Border right person------------------- -->
	        <p class="redBorder">If you think you are looking at a nail fungus infection, let's find out if you need to see a doctor for this and how soon.</p>
	        <!--------------------------Banner Link----------------------------- -->
	        <div>
	        </div>
	        <!--------------------------Banner Link----------------------------- -->
	        <div class="clearboth divider1"></div>
	        <p class="centerText"> <a href="#" data-role="button" data-inline="true" class="ui-link ui-btn ui-btn-inline ui-shadow ui-corner-all" role="button" (click)="togglePage(20)">Continue</a></p>
	        <p>&nbsp;</p>
	    </div>
	    <!--end 10 div --> 
	    <p>&nbsp;</p>
	</div>

	<div class="ui-content" *ngIf="page>=20 && page<40">
	    <div id="nailfungus2_mobile_2_n" *ngIf="page==20">
	        <div class="maxwidth450">
	            <div class="ovalBorderRightOrange centerText">
	                <span>Are the <span class="bluefont">tissues</span> surrounding the affected nail <span class="redfont">red?</span></span><br>
	            </div>
	            <div align="right"><img src="assets/img/pharm/female/pharm-carly-orange.svg" width="100" alt="Pharmacist"></div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Border right person------------------- -->
	        <p class="centerText">
	            <button data-inline="true" class="nailfungus2_mobile_3_n_link ui-btn ui-btn-l ui-btn-inline ui-shadow ui-corner-all" data-theme="l" (click)="togglePage(21)">Yes</button>
	            <button data-inline="true" class="nailfungus2_mobile_3_n_link ui-btn ui-btn-k ui-btn-inline ui-shadow ui-corner-all" data-theme="k" (click)="togglePage(22)">No</button>
	        </p>
	        <p>&nbsp;</p>
	    </div>
	    <!--end first question div --> 
	    <!--start 3 div -->   
	    <div id="nailfungus2_mobile_3_y" *ngIf="page==21">
	        <h3>Yes?</h3>
	        <p>&nbsp;</p>
	        <button data-inline="true" class="nailfungus2_mobile_3_n_link ui-btn ui-btn-inline ui-shadow ui-corner-all" (click)="togglePage(22)">Continue</button>	
	        <p>&nbsp;</p>
	    </div>
	    <div id="nailfungus2_mobile_3_n" *ngIf="page==22">
	        <div class="maxwidth450">
	            <div class="ovalBorderRightOrange centerText">
	                <span class="purple_redfont">Are they swollen?</span><br>
	            </div>
	            <div align="right"><img src="assets/img/pharm/female/pharm-carly-orange.svg" width="100" alt="Pharmacist"></div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Border right person------------------- -->
	        <p class="centerText">
	            <button data-inline="true" class="nailfungus2_mobile_4_y_link ui-btn ui-btn-l ui-btn-inline ui-shadow ui-corner-all" data-theme="l" (click)="togglePage(23)">Yes</button>
	            <button data-inline="true" class="nailfungus2_mobile_4_n_link ui-btn ui-btn-k ui-btn-inline ui-shadow ui-corner-all" data-theme="k" (click)="togglePage(24)">No</button>
	        </p>
	        <p>&nbsp;</p>
	    </div>
	    <!--end 3 div --> 
	    <div id="nailfungus2_mobile_4_y" *ngIf="page==23">
	        <!--start 4 div -->
	        <div class="maxwidth450">
	            <div class="ovalBorderRightYellow centerText">
	                <span class="redfontLarge">Seek urgent care or call the doctor.</span><br>
	            </div>
	            <div align="right"><img src="assets/img/pharm/female/pharm-carly-orange.svg" width="100" alt="Pharmacist"></div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Border right person------------------- -->
	        <div class="redBorderAll">
	            <p class="redfont redBorder centerText">Here is why:</p>
	            <ul>
	                <li>Looking at a serious infection</li>
	            </ul>
	        </div>
	        <br>
	        <!---------------------End Seek urgent care------------- -->
	        <div class="clearboth divider1"></div>
	        <p class="centerText"><button data-inline="true" class="nailfungus2_mobile_4_n_link ui-btn ui-btn-inline ui-shadow ui-corner-all" (click)="togglePage(24)">Continue</button>	</p>
	        <p>&nbsp;</p>
	    </div>
	    <div id="nailfungus2_mobile_4_n" *ngIf="page==24">
	        <div class="maxwidth450">
	            <div class="ovalBorderRightOrange centerText">
	                <span>Are the tissues <span class="grayfont">filled</span> with <span class="orangefont">pus?</span></span><br>
	            </div>
	            <div align="right"><img src="assets/img/pharm/female/pharm-carly-orange.svg" width="100" alt="Pharmacist"></div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Border right person------------------- -->
	        <p class="centerText">
	            <button data-inline="true" class="nailfungus2_mobile_5_y_link ui-btn ui-btn-l ui-btn-inline ui-shadow ui-corner-all" data-theme="l" (click)="togglePage(25)">Yes</button>
	            <button data-inline="true" class="nailfungus2_mobile_5_n_link ui-btn ui-btn-k ui-btn-inline ui-shadow ui-corner-all" data-theme="k" (click)="togglePage(26)">No</button>
	        </p>
	        <p>&nbsp;</p>
	    </div>
	    <!--end 4 div --> 
	    <div id="nailfungus2_mobile_5_y" *ngIf="page==25">
	        <!--start 5 div -->
	        <div class="maxwidth450">
	            <div class="ovalBorderRightOrange centerText">
	                <span class="redfontLarge">Seek urgent care or call the doctor.</span><br>
	            </div>
	            <div align="right"><img src="assets/img/pharm/female/pharm-carly-orange.svg" width="100" alt="Pharmacist"></div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Border right person------------------- -->
	        <div class="redBorderAll">
	            <p class="redfont redBorder centerText">Here is why:</p>
	            <ul>
	                <li>Looking at infection</li>
	            </ul>
	        </div>
	        <br>
	        <!---------------------End Seek urgent care------------- -->
	        <div class="clearboth divider1"></div>
	        <p class="centerText">	<button data-inline="true" class="nailfungus2_mobile_5_n_link ui-btn ui-btn-inline ui-shadow ui-corner-all" (click)="togglePage(26)">Continue</button></p>
	        <p>&nbsp;</p>
	    </div>
	    <div id="nailfungus2_mobile_5_n" *ngIf="page==26">
	        <div class="maxwidth450">
	            <div class="ovalBorderRightOrange centerText">
	                <span>Any <span class="redfont">red</span> <span class="purple_redfont">streaks</span> along the skin area?</span><br>
	            </div>
	            <div align="right"><img src="assets/img/pharm/female/pharm-carly-orange.svg" width="100" alt="Pharmacist"></div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Border right person------------------- -->
	        <p class="centerText">
	            <button data-inline="true" class="nailfungus2_mobile_6_y_link ui-btn ui-btn-l ui-btn-inline ui-shadow ui-corner-all" data-theme="l" (click)="togglePage(27)">Yes</button>
	            <button data-inline="true" class="nailfungus2_mobile_6_n_link ui-btn ui-btn-k ui-btn-inline ui-shadow ui-corner-all" data-theme="k" (click)="togglePage(28)">No</button>
	        </p>
	        <p>&nbsp;</p>
	    </div>
	    <!--end 5  div --> 
	    <div id="nailfungus2_mobile_6_y" *ngIf="page==27">
	        <!--start 6 div -->
	        <div class="maxwidth450">
	            <div class="ovalBorderRightOrange centerText">
	                <span class="redfontLarge">Seek urgent care or call the doctor.</span><br>
	            </div>
	            <div align="right"><img src="assets/img/pharm/female/pharm-carly-orange.svg" width="100" alt="Pharmacist"></div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Border right person------------------- -->
	        <div class="redBorderAll">
	            <p class="redfont redBorder centerText">Here is why:</p>
	            <ul>
	                <li>May be looking at bacteria infection also.</li>
	            </ul>
	        </div>
	        <br>
	        <!---------------------End Seek urgent care------------- -->
	        <div class="clearboth divider1"></div>
	        <p class="centerText"><button data-inline="true" class="nailfungus2_mobile_6_n_link ui-btn ui-btn-inline ui-shadow ui-corner-all" (click)="togglePage(28)">Continue</button>	</p>
	        <p>&nbsp;</p>
	    </div>
	    <div id="nailfungus2_mobile_6_n" *ngIf="page==28">
	        <div class="maxwidth450">
	            <div class="ovalBorderRightOrange centerText">
	                <span>Is the nail <span class="bluefont">loosening</span> or <span class="pinkfont">lifting up</span> from the skin?</span><br>
	            </div>
	            <div align="right"><img src="assets/img/pharm/female/pharm-carly-orange.svg" width="100" alt="Pharmacist"></div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Border right person------------------- -->
	        <p class="centerText">
	            <button data-inline="true" class="nailfungus2_mobile_7_y_link ui-btn ui-btn-l ui-btn-inline ui-shadow ui-corner-all" data-theme="l" (click)="togglePage(29)">Yes</button>
	            <button data-inline="true" class="nailfungus2_mobile_7_n_link ui-btn ui-btn-k ui-btn-inline ui-shadow ui-corner-all" data-theme="k" (click)="togglePage(30)">No</button>
	        </p>
	        <p>&nbsp;</p>
	    </div>
	    <!--end 6 div --> 
	    <div id="nailfungus2_mobile_7_y" *ngIf="page==29">
	        <!--start 7 div -->
	        <div class="maxwidth450">
	            <div class="ovalBorderRightOrange centerText">
	                <span class="redfontLarge">Seek urgent care or call the doctor.</span><br>
	            </div>
	            <div align="right"><img src="assets/img/pharm/female/pharm-carly-orange.svg" width="100" alt="Pharmacist"></div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Border right person------------------- -->
	        <div class="redBorderAll">
	            <p class="redfont redBorder centerText">Here is why:</p>
	            <ul>
	                <li>Over-the-counter creams and ointments generally do not help treat this condition.</li>
	                <br>
	                <li>Prescription anti-fungal medicines taken by mouth may help clear the fungus.<br>You will need to take the medicine for about 2 to 3 months for toenails; a shorter time for fingernails.</li>
	                <br>
	                <li>In some cases, the health care provider may remove the nail. Nails grow slowly. Even if treatment is successful, a new, clearer nail may take up to a year to grow in.</li>
	            </ul>
	        </div>
	        <br>
	        <!---------------------End Seek urgent care------------- -->
	        <div class="clearboth divider1"></div>
	        <p class="centerText"><button data-inline="true" class="nailfungus2_mobile_7_n_link ui-btn ui-btn-inline ui-shadow ui-corner-all" (click)="togglePage(30)">Continue</button></p>
	        <p>&nbsp;</p>
	    </div>
	    <div id="nailfungus2_mobile_7_n" *ngIf="page==30">
	        <div class="maxwidth450">
	            <div class="ovalBorderRightOrange centerText">
	                <span class="bluefont">Are you diabetic?</span><br>
	            </div>
	            <div align="right"><img src="assets/img/pharm/female/pharm-carly-orange.svg" width="100" alt="Pharmacist"></div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Border right person------------------- -->
	        <p class="centerText">
	            <button data-inline="true" class="nailfungus2_mobile_8_y_link ui-btn ui-btn-l ui-btn-inline ui-shadow ui-corner-all" data-theme="l" (click)="togglePage(31)">Yes</button>
	            <button data-inline="true" class="nailfungus2_mobile_8_n_link ui-btn ui-btn-k ui-btn-inline ui-shadow ui-corner-all" data-theme="k" (click)="togglePage(32)">No</button>
	        </p>
	        <p>&nbsp;</p>
	    </div>
	    <!--end 7 div --> 
	    <div id="nailfungus2_mobile_8_y" *ngIf="page==31">
	        <!--start 8 div -->
	        <div class="maxwidth450">
	            <div class="ovalBorderRightOrange centerText">
	                <span class="redfontLarge">Call the doctor.</span><br>
	            </div>
	            <div align="right"><img src="assets/img/pharm/female/pharm-carly-orange.svg" width="100" alt="Pharmacist"></div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Border right person------------------- -->
	        <div class="redBorderAll">
	            <p class="redfont redBorder centerText">Here is why:</p>
	            <ul>
	                <li>Self care is not adviced.</li>
	            </ul>
	        </div>
	        <br>
	        <!---------------------End Seek urgent care------------- -->
	        <p class="centerText"><button data-inline="true" class="nailfungus2_mobile_8_n_link ui-btn ui-btn-inline ui-shadow ui-corner-all" (click)="togglePage(32)">Continue</button></p>
	        <p>&nbsp;</p>
	    </div>
	    <div id="nailfungus2_mobile_8_n" *ngIf="page==32">
	        <div class="maxwidth450">
	            <div class="ovalBorderRightOrange centerText">
	                <span class="orangefontLarge firstname">A,</span><br>
	                Those were some of the <span class="bluefont">reasons </span> to see a doctor.
	            </div>
	            <div class="clearboth"></div>
	            <div class="container_12">
	                <div class="grid_8">
	                    <br>
	                    <div class="bubbleRightOrange">
	                        Just one more <span class="redfont">question.</span>
	                    </div>
	                </div>
	                <div class="grid_4">
	                    <img src="assets/img/pharm/female/pharm-carly-orange.svg" alt="Pharmacist" width="80" align="right">
	                </div>
	            </div>
	        </div>
	        <br>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Point Right------------------- -->
	        <!--------------------------Banner Link----------------------------- -->
	        <div>
	        </div>
	        <!--------------------------Banner Link----------------------------- -->
	        <p class="centerText">
	            <a href="#" data-role="button" data-inline="true" class="ui-link ui-btn ui-btn-inline ui-shadow ui-corner-all" role="button" (click)="togglePage(40)">Continue</a>
	        </p>
	        <p>&nbsp;</p>
	    </div>
	    <!--end 8 div --> 
	    <p>&nbsp;</p>
	</div>

	<div class="ui-content" *ngIf="page==40">
	    <div class="maxwidth450">
	        <div class="ovalBorderRightOrange centerText">
	            <span>Is this a <span class="orangefont">reoccurrence</span> or <span class="purple_redfont">first time</span> nail fungal infection?</span><br>
	        </div>
	        <div align="right"><img src="assets/img/pharm/female/pharm-carly-orange.svg" width="100" alt="Pharmacist"></div>
	    </div>
	    <div class="clearboth divider1"></div>
	    <br>
	    <!-----------------End Border right person------------------- -->
	    <p class="centerText">
	        <a href="#" data-role="button" data-inline="true" data-theme="f" class="ui-link ui-btn ui-btn-f ui-btn-inline ui-shadow ui-corner-all" role="button" (click)="togglePage(41)">Reoccurrence</a>
	        <a href="#" data-role="button" data-inline="true" data-theme="g" class="ui-link ui-btn ui-btn-g ui-btn-inline ui-shadow ui-corner-all" role="button" (click)="togglePage(42)">First time</a>
	    </p>
	    <p>&nbsp;</p>
	</div>

	<div class="ui-content" *ngIf="page==41">
	    <div class="maxwidth450">
	        <div class="ovalBorderRightYellow centerText">
	            <span class="redfontLarge">Seek urgent care or call the doctor.</span><br>
	        </div>
	        <div align="right"><img src="assets/img/pharm/female/pharm-carly-orange.svg" width="100" alt="Pharmacist"></div>
	    </div>
	    <div class="clearboth divider1"></div>
	    <!-----------------End Border right person------------------- -->
	    <div class="redBorderAll">
	        <p class="redfont redBorder centerText">Here is why:</p>
	        <ul>
	            <li>Nail fungus are hard to treat.</li>
	            <br>
	            <li>You will need prescription oral antifungal medications and stay with it all the way.</li>
	            <br>
	            <li>About 50% of people with nail fungal infection get successful treatment first time around with preescription antifungal.</li>
	            <br>
	            <li>In some cases, the health care provider may remove the nail. Nails grow slowly. </li>
	            <br>
	            <li>Even if treatment is successful, a new, clearer nail may take up to a year to grow in.</li>
	        </ul>
	    </div>
	    <br>
	    <!---------------------End Seek urgent care------------- -->
	    <p class="redBorder centerText">Would you like to see what a pharmacist recommend for nail fungus infection that is available over-the-counter anyway or see the nearest clinic to you?</p>
	    <!--------------------------Banner Link----------------------------- -->
	    <div>
	    </div>
	    <!--------------------------Banner Link----------------------------- -->
	    <div class="clearboth divider1"></div>
	    <p class="centerText">
	        <a href="#" (click)="gotoSubPage(0)" data-role="button" data-theme="e" data-inline="true" class="ui-link ui-btn ui-btn-e ui-btn-inline ui-shadow ui-corner-all" role="button">Podiatrist</a>
	        <a href="#" (click)="gotoSubPage(1)" data-role="button" data-theme="l" data-inline="true" class="ui-link ui-btn ui-btn-l ui-btn-inline ui-shadow ui-corner-all" role="button">Continue</a>
	    </p>
	    <p>&nbsp;</p>
	</div>

	<div class="ui-content" *ngIf="page==42">
	    <div class="maxwidth450">
	        <div class="ovalBorderRightOrange centerText">
	            <span>If it is pretty bad, seeing a healthcare provider will be your best option.</span><br>
	        </div>
	        <div align="right"><img src="assets/img/pharm/female/pharm-carly-orange.svg" width="100" alt="Pharmacist"></div>
	    </div>
	    <div class="clearboth divider1"></div>
	    <!-----------------End Border right person------------------- -->
	    <div class="redBorderAll">
	        <p class="redfont redBorder centerText">Here is why:</p>
	        <ul>
	            <li>The over-the-counter nail fungus medications are not usually successful and will take a long time to work.</li>
	            <br>
	            <li>The time and effort required to treat the nail fungus over-the-counter is going to be far more expensive for you than seeing a doctor.</li>
	        </ul>
	    </div>
	    <br>
	    <!---------------------End Seek urgent care------------- -->
	    <div class="purpleRedBorder">
	        <p>If it is just starting, you may be able to nip it in the bud.</p>
	        <p>In this case, we will send you to a pharmacist for recommendation on what is available to use over-the-counter.</p>
	    </div>
	    <p class="purpleRedBorderAll centerText">Would you like to do this or visit the nearest clinic for evaluation and treatment?</p>
	    <!--------------------------Banner Link----------------------------- -->
	    <div>
	    </div>
	    <!--------------------------Banner Link----------------------------- -->
	    <input type="hidden" class="ClickValuePage1_25" value="">
	    <input type="hidden" class="ClickValuePage1_50" value="">
	    <input type="hidden" class="ClickValuePage1_100" value="">
	    <input type="hidden" class="ClickValuePage2_25" value="">
	    <input type="hidden" class="ClickValuePage2_50" value="">
	    <input type="hidden" class="ClickValuePage2_100" value="">
	    <input type="hidden" class="ClickValuePage3_25" value="">
	    <input type="hidden" class="ClickValuePage3_50" value="">
	    <input type="hidden" class="ClickValuePage3_100" value="">
	    <input type="hidden" class="totalResult" value="">
	    <div class="clearboth divider1"></div>
	    <p class="centerText">
	        <a href="#" (click)="gotoSubPage(0)" data-role="button" data-theme="e" data-inline="true" class="ui-link ui-btn ui-btn-e ui-btn-inline ui-shadow ui-corner-all" role="button">Podiatrist</a>
	        <a href="#" (click)="gotoSubPage(1)" class="nail_fungus_mobile_infographics ui-link ui-btn ui-btn-inline ui-shadow ui-corner-all" data-role="button" data-inline="true" role="button">Continue</a>
	    </p>
	    <p>&nbsp;</p>
	</div>
</ion-content>
