<!--
    Generated template for the SelfCare page.
    
    See http://ionicframework.com/docs/v2/components/#navigation for more info on
    Ionic pages and navigation.
    -->
<ion-header class="ui-header">
    <ion-navbar>
        <ion-title>
            <h1 class="ui-title">
                Introduction
            </h1>
        </ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="showMenu()">
                <ion-icon name="menu"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
    <ion-navbar>
        <p class="fullWidth robotoLight bgLightBlue" *ngIf="pmode==0">Hello,</p>
        <p class="fullWidth robotoLight bgLightBlue" *ngIf="pmode==1">Who is this for?</p>
    </ion-navbar>
</ion-header>
<ion-content class="ui-page-theme-a" [ngClass]="{'back1': pmode==0, 'back2': pmode==1, 'no-scroll': noscroll}">
    <div class="ui-content intro-page" *ngIf="pmode==0">
        <div class="opacity8">
            <div class="opacityNone">
                <div class="maxwidth450">
                    <div class="ovalBorderRightBlue centerText">
                        <span>A <span class="bluefont">pharmacist</span> will recommend an over-the-counter (OTC) medication for your symptom using interactive articles.</span>
                    </div>
                    <div class="container_12">
                        <div class="grid_8">
                            <br>
                            <div class="bubbleRightBlue">
                                First we will rule out any <span class="redfont">emergency</span> situation.
                            </div>
                        </div>
                        <div class="grid_4">
                            <img src="assets/img/pharm/male/pharm-john.svg" width="100" alt="Pharmacist John" align="right" />
                        </div>
                    </div>
                </div>
                <br />
                <div class="clearboth divider1"></div>
            </div>
            <p class="blueBorderAll">Then you will choose from a list of <span class="bluefont">common</span> symptoms you will need advice on.</p>
            <p class="blueBorderAll">Next we will determine if it is something you can take care of with over-the-counter (OTC) means or if you must see a healthcare provider for evaluation.</p>
            <p class="blueBorderAll">If you can take care of it with OTC measures,  a pharmacist's interactive article will guide you towards getting the best over-the-counter relief.</p>
            <p class="blueBorderAll">Else, the article will advice you to talk to a healthcare provider and tell you why.</p>
        </div>
        <div class="centerText">
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p><a href="#" data-role="button" class="ui-btn ui-btn-j ui-shadow ui-btn-inline" id="intro_firstname_link" data-inline="true" data-theme="j" (click)="transitPage(1)">Let's get Started</a></p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
        </div>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
    </div>
    <div lang="en" class="mbsc-mobi-blue mbsc-mobiscroll dw-top  mbsc-wdg" *ngIf="page==1&&pmode==0">
        <div class="dw-persp slidedown in">
            <div class="dwo" (click)="transitPage(0)"></div>
            <div role="dialog" tabindex="-1" class="dw dw-ltr">
                <div class="dwwr">
                    <div aria-live="assertive" class="dw-aria dw-hidden"></div>
                    <div class="dwcc mbsc-wdg-c mbsc-w-p">
                        <div id="intro_firstname" style="" class="mbsc-comp">
                            <div class="maxwidth300">
                                <div class="container_12">
                                    <div class="grid_8">
                                        <br>
                                        <div class="bubbleRightBlue">
                                            <span class="bluefont">OK. What can we call you?</span>
                                        </div>
                                    </div>
                                    <div class="grid_4">
                                        <img src="assets/img/pharm/male/pharm-john-port.svg" width="80" alt="Pharmacist John portrait" align="right">
                                    </div>
                                </div>
                                <p>&nbsp;</p>
                                <form data-enhance="false" class="md-form mbsc-comp mbsc-form mbsc-mobi-blue mbsc-mobiscroll mbsc-ltr" mbsc-enhance="" id="mobiscroll1492698110595">
                                    <div class="mbsc-input">
                                        <span class="mbsc-input-wrap">
                                            <input id="firstname_input" type="text" name="firstname-input" placeholder="First Name Please" required="" autofocus="" value="" class="mbsc-control mbsc-control-ev" [(ngModel)]="dsearch">
                                        </span>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="dwbc">
                        <div class="dwbw ">
                            <div tabindex="0" role="button" class="dwb0 dwb-e dwb" (click)="hereGo()">Here You Go</div>
                        </div>
                        <div class="dwbw ">
                            <div tabindex="0" role="button" class="dwb1 dwb-e dwb" (click)="showWhy()">Why?</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="fullWidth main-page slidedown in" role="main" *ngIf="pmode==1">
        <div class="opacityNone">
            <p>&nbsp;</p>
            <div class="maxwidth450 paddingSides">
                <div class="ovalBorderRightBlue centerText">
                    <span class="bluefontLarge firstname">Hello {{dsearch}}!</span><br>
                    Is this for a <span class="orangefont">child</span> <span class="orangefontSmall">(under 12yrs)</span> or an <span class="redfont">adult?</span>
                </div>
                <div class="clearboth"></div>
                <div class="container_12">
                    <div class="grid_8">
                        <br>
                        <div class="bubbleRightBlue">
                            Tap on <span class="orangefont">who</span> this is for below and let's continue.
                        </div>
                    </div>
                    <div class="grid_4">
                        <img src="assets/img/pharm/male/pharm-john.svg" width="100" align="right" alt="pharmacist John">
                    </div>
                </div>
            </div>
            <br>
            <div class="clearboth divider1"></div>
        </div>
        <div>
            <p>&nbsp;</p>
            <p class="centerText">
                <img src="assets/img/backgrounds/treatment/family-intro.png" alt="Who is this for?" width="300" usemap="#Map">
                <map name="Map">
                    <area shape="rect" coords="0,0,110,292" href="#" alt="Adult" target="_top" (click)="gotoPage(0)">
                    <area shape="rect" coords="120,92,184,291" href="#" alt="Child" target="_top" (click)="gotoPage(1)">
                    <area shape="rect" coords="192,7,296,292" href="#" alt="Adult" target="_top" (click)="gotoPage(0)">
                </map>
            </p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
        </div>
    </div>
</ion-content>