$toolbar-background-color: #03a9f4;

page-self-care {
	font-size: 16px;
    .back1{
    	background-image: url('../assets/img/illustration/male-model.jpg');
	    background-repeat: no-repeat;
	    background-position: bottom;
	    background-attachment: fixed;
    }
    .back2{
    	background-image: url(../assets/img/dosing/blue-balls.jpg);
	    background-repeat: no-repeat;
	    background-position: bottom;
	    background-attachment: fixed;
    }
    .no-scroll{
    	.scroll-content {
	        overflow-y: hidden;
	    }
    }
    .mbsc-mobi-blue.mbsc-mobiscroll.mbsc-wdg{
		position: fixed;
	    top: 0px;
	    width: 100%;
	    height: 100%;
		z-index: 9999;
    }
    .mbsc-mobi-blue.mbsc-mobiscroll .dwo{
    	position: static;
    	top: 112px;
    }
    .mbsc-mobi-blue.mbsc-mobiscroll .dw.dw-ltr{
    	position: fixed;
    	top: 112px;
    }
	h1{
		text-transform: capitalize;
		font-size: 2.4em;
	    line-height: 1.8;
	    margin-bottom: 50px;
	    margin-top: 30px;
	    text-align: center;
	    font-weight: 700;
	}
	.toolbar-title-md{
		font-size: 16px;
	}
	.toolbar-background-md, .toolbar-background{
		background: $toolbar-background-color;
	}
	.content-md{
		background-color: transparent;
	}
	.bar-button-md{
		padding: 0px;
	}
	.divider1 {
	    background-image: url(../assets/img/backgrounds/dividers/div1.png);
	    background-repeat: repeat-x;
	    height: 9px;
	    background-position: left top;
	    margin-top: 5px;
	    margin-bottom: 5px;
	}
}
