
$toolbar-background-color: #E91E63;
page-comment-compare-pink {
	font-size: 16px;
	background-color: #FFF;

	.toolbar-background, .toolbar-background-md, .toolbar-background-ios {
	  background: $toolbar-background-color;
	}
	.bar-button-md{
		padding: 0px;
	}
	.item-md.item-block .item-inner{
		border-bottom: 0px none;
	}
	ion-slide h2{
		font-weight: bold;
		font-size: 16px;
	}

	ion-slides{
		height: 220px;
	}
	.slide-zoom {
	    height: 100%;
	}
	.swiper-slide{
		height: 200px !important;
	}
	.slide-image {
	    max-height: 50%;
	    max-width: 60%;
	    margin: 18px 0;
	}
	.content-md{
		background-color: transparent;
	}
	.fontBold{
		font-weight: bold;
	}
	.mini-navbar{
		min-height: 26px;
	    height: 36px;
	    padding: 12px 4px 0px;
	}
	.ui-header .ui-title{
		padding: 0px;
		margin: 0px;
	}
	h3{
		font-size: 1.8em;
		font-weight: bold;
	}
}
#ion-diagnostics-toast{
	background: transparent;
}