<!--  
  Generated template for the AllergiesMobile page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
  -->
<ion-header class="ui-header">

  <ion-navbar>
    <ion-title>
    	<h1 class="ui-title">
      	Hemorrhoids
      </h1>
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="showMenu()">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
	</ion-navbar>
  <ion-navbar class="fullWidth robotoLight bgLightBlue">
    <p *ngIf="page==0">Hemorrhoids?</p>
    <p *ngIf="page>0 && page<10">How bad is it?</p>
    <p *ngIf="page>=10 && page<20">External</p>
    <p *ngIf="page>=20 && page<30">Internal</p>
  </ion-navbar>
</ion-header>
<ion-content class="ui-page-theme-a">
	<div class="ui-content" *ngIf="page==0">
	    <div class="maxwidth450">
	        <div class="ovalBorderRightBlue centerText">
	            <span>Increased <span class="purple_bluefont">pressure</span> in the veins of the anal area can cause this.</span><br>
	        </div>
	        <div align="right"><img src="assets/img/pharm/male/pharm-joe.svg" width="100" alt="Pharmacist"></div>
	    </div>
	    <div class="clearboth divider1"></div>
	    <br>
	    <!-----------------End Border right person------------------- -->
	    <!------Start Popoup div----- -->   
	    <div style="display: none;" id="hemorrhoid_mobile_pop-placeholder">
	        <!-- placeholder for hemorrhoid_mobile_pop -->
	    </div>
	    <!------End Popoup div----- -->
	    <div class="blueBorder centerText">
	        <p>This pressure cause the veins to swell leading to hemorrhoids.</p>
	        <hr class="hrblue">
	        <br>
	        <p class="centerText">
	            <br>
	            <img src="assets/img/people/adult/pelvic/hemorrhoid-lady.svg" width="130" alt="Lady holding her buttocks">
	        </p>
	    </div>
	    <p align="center" class="blueBorderAll">Let's see how we can help with this. You will answer a few questions first. </p>
	    <!--------------------------Banner Link----------------------------- -->
	    <div>
	    </div>
	    <!--------------------------Banner Link----------------------------- -->
	    <div class="clearboth divider1"></div>
	    <p class="centerText">
	        <a href="#" data-role="button" data-rel="popup" data-inline="true" data-theme="e" data-transition="pop" aria-haspopup="true" aria-owns="hemorrhoid_mobile_pop" aria-expanded="false" class="ui-link ui-btn ui-btn-e ui-btn-inline ui-shadow ui-corner-all" role="button" (click)="toggleFYIDlg(true)">FYI</a> 
	        <a href="#" data-role="button" data-inline="true" class="ui-link ui-btn ui-btn-inline ui-shadow ui-corner-all" role="button" (click)="togglePage(1)">Continue</a>
	    </p>
	    <p>&nbsp;</p>
	</div>

	<div class="ui-content" *ngIf="page>0 && page<10">
	    <div id="hemorrhoid1_mobile_1" *ngIf="page==1">
	        <div class="maxwidth450">
	            <div class="ovalBorderRightBlue centerText">
	                <span>Is there <span class="redfont">bright red</span><span class="purple_redfont"> blood</span> in the stool?</span><br>
	            </div>
	            <div class="clearboth"></div>
	            <div class="container_12">
	                <div class="grid_8">
	                    <br>
	                    <div class="bubbleRightBlue purple_redfont">
	                        Toilet bowl or tissue?
	                    </div>
	                </div>
	                <div class="grid_4">
	                    <img src="assets/img/pharm/male/pharm-joe.svg" alt="Pharmacist" width="80" align="right">
	                </div>
	            </div>
	        </div>
	        <br>
	        <div class="clearboth"></div>
	        <!-----------------End Point Right------------------- -->
	        <div class="clearboth divider1"></div>
	        <p class="centerText">
	            <button data-inline="true" class="hemorrhoid1_mobile_2_y_link ui-btn ui-btn-l ui-btn-inline ui-shadow ui-corner-all" data-theme="l" (click)="togglePage(2)">Yes</button>
	            <button data-inline="true" class="hemorrhoid1_mobile_2_n_link ui-btn ui-btn-k ui-btn-inline ui-shadow ui-corner-all" data-theme="k" (click)="togglePage(3)">No</button>
	        </p>
	        <p>&nbsp;</p>
	    </div>
	    <div id="hemorrhoid1_mobile_2_y" *ngIf="page==2">
	        <div class="maxwidth450">
	            <div class="ovalBorderRightYellow centerText">
	                <span class="redfontLarge">Seek urgent care or call the doctor.</span><br>
	            </div>
	            <div align="right"><img src="assets/img/pharm/male/pharm-joe.svg" width="100" alt="Pharmacist"></div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Border right person------------------- -->
	        <div class="redBorderAll">
	            <p class="redfont redBorder centerText">Here is why:</p>
	            <ul>
	                <li>The <span class="grayfont">American Gastroenterological Association</span> position on this is that all patients who report rectal <span class="redfont">bleeding</span> should undergo <span class="grayfont">sigmoidoscopy.</span></li>
	                <br>
	                <li>Rectal bleeding is not specific to hemorrhoid, so the doctor will have to rule out other things that might cause  bleeding such as anal fissure, fistula, abscess, or even colorectal cancer.</li>
	            </ul>
	        </div>
	        <br>
	        <!---------------------End Seek urgent care------------- -->
	        <div class="redBorderAll">
	            <p class="redBorder redfont centerText">Call 911 if you are ...</p>
		            <ol>
	                <li>Bleeding and</li>
	                <li>feel dizzy</li>
	                <li>Lightheaded or</li>
	                <li>faint.</li>
	            </ol>
	        </div>
	        <p class="redBorder">If you've had hemorrhoid before and would like to continue, then let's move forward.</p>
	        <div class="clearboth divider1"></div>
	        <p class="centerText"> <button data-inline="true" class="hemorrhoid1_mobile_2_n_link ui-btn ui-btn-inline ui-shadow ui-corner-all" (click)="togglePage(3)">Continue</button>	</p>
	        <p>&nbsp;</p>
	    </div>
	    <div id="hemorrhoid1_mobile_2_n" *ngIf="page==3">
	        <div class="maxwidth450">
	            <div class="ovalBorderRightBlue centerText">
	                <span>Is this hemorrhoid <span class="purple_redfont">Internal?</span></span><br>
	                <span class="grayfontSmall">(just inside the anus)</span>
	            </div>
	            <div class="clearboth"></div>
	            <div class="container_12">
	                <div class="grid_8">
	                    <br>
	                    <div class="bubbleRightBlue">
	                        OR &nbsp;<span class="redfont">External?</span><br> <span class="grayfontSmall">(at the opening of the anus and may be hanging outside)</span>
	                    </div>
	                </div>
	                <div class="grid_4">
	                    <img src="assets/img/pharm/male/pharm-joe.svg" alt="Pharmacist" width="80" align="right">
	                </div>
	            </div>
	        </div>
	        <br>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Point Right------------------- -->
	        <!--------------------------Banner Link----------------------------- -->
	        <div>
	        </div>
	        <!--------------------------Banner Link----------------------------- -->
	        <div class="clearboth divider1"></div>
	        <p class="centerText">
	            <a href="#" data-role="button" data-inline="true" class="purple_redfont ui-link ui-btn ui-btn-inline ui-shadow ui-corner-all" role="button" (click)="togglePage(20)">Internal</a>
	            <a href="#" data-role="button" data-inline="true" data-theme="i" class="ui-link ui-btn ui-btn-i ui-btn-inline ui-shadow ui-corner-all" role="button" (click)="togglePage(10)">External</a>
	        </p>
	        <p>&nbsp;</p>
	    </div>
	    <p>&nbsp;</p>
	</div>

	<div class="ui-content" *ngIf="page>=10 && page<20">
	    <div id="hemorrhoid2_mobile_1" *ngIf="page==10">
	        <div class="maxwidth450">
	            <div class="ovalBorderRightBlue centerText">
	                <span>This is usually  symptomless unless the <span class="bluefont">swollen vein</span> gets blocked by a <span class="purple_redfont">blood clot.</span><br>
	                </span>
	            </div>
	            <div align="right"><img src="assets/img/pharm/male/pharm-joe.svg" width="100" alt="Pharmacist"></div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Border right person------------------- -->
	        <p class="blueBorder centerText">When this happen, you will feel severe pain. Let's see if this is the situation you are looking at.</p>
	        <div class="clearboth divider1"></div>
	        <p class="centerText"><button data-inline="true" class="hemorrhoid2_mobile_2_n_link ui-btn ui-btn-inline ui-shadow ui-corner-all" (click)="togglePage(11)">Continue</button></p>
	        <p>&nbsp;</p>
	    </div>
	    <!--End Intro -->
	    <div id="hemorrhoid2_mobile_2_n" *ngIf="page==11">
	        <div class="maxwidth450">
	            <div class="ovalBorderRightBlue centerText">
	                <span>Is the hemorrhoid <span class="purple_redfont">tender?</span></span><br>
	            </div>
	            <div align="right"><img src="assets/img/pharm/male/pharm-joe.svg" width="100" alt="Pharmacist"></div>
	        </div>
	        <!-----------------End Border right person------------------- -->  
	        <div class="clearboth divider1"></div>
	        <p class="centerText">
	            <button data-inline="true" class="hemorrhoid2_mobile_3_n_link ui-btn ui-btn-l ui-btn-inline ui-shadow ui-corner-all" data-theme="l" (click)="togglePage(12)">Yes</button>
	            <button data-inline="true" class="hemorrhoid2_mobile_3_n_link ui-btn ui-btn-k ui-btn-inline ui-shadow ui-corner-all" data-theme="k" (click)="togglePage(13)">No</button>
	        </p>
	        <p>&nbsp;</p>
	    </div>
	    <!--end first question div --> 
	    <!--start 3 div -->   
	    <div id="hemorrhoid2_mobile_3_y" *ngIf="page==12">
	        <h3>Yes?</h3>
	        <p>&nbsp;</p>
	        <button data-inline="true" class="hemorrhoid2_mobile_3_n_link ui-btn ui-btn-inline ui-shadow ui-corner-all" (click)="togglePage(13)">Continue</button>	
	        <p>&nbsp;</p>
	    </div>
	    <div id="hemorrhoid2_mobile_3_n" *ngIf="page==13">
	        <div class="maxwidth450">
	            <div class="ovalBorderRightBlue centerText">
	                <span>Is it <span class="redfont">very painful?</span></span><br>
	            </div>
	            <div align="right"><img src="assets/img/pharm/male/pharm-joe.svg" width="100" alt="Pharmacist"></div>
	        </div>
	        <!-----------------End Border right person------------------- -->
	        <div class="clearboth divider1"></div>
	        <p class="centerText">
	            <button data-inline="true" class="hemorrhoid2_mobile_4_y_link ui-btn ui-btn-l ui-btn-inline ui-shadow ui-corner-all" data-theme="l" (click)="togglePage(14)">Yes</button>
	            <button data-inline="true" class="hemorrhoid2_mobile_4_n_link ui-btn ui-btn-k ui-btn-inline ui-shadow ui-corner-all" data-theme="k" (click)="togglePage(15)">No</button>
	        </p>
	        <p>&nbsp;</p>
	    </div>
	    <!--end 3 div --> 
	    <div id="hemorrhoid2_mobile_4_y" *ngIf="page==14">
	        <!--start 4 div -->
	        <div class="maxwidth450">
	            <div class="ovalBorderRightYellow centerText">
	                <span class="redfontLarge">Seek urgent care or call the doctor.</span><br>
	            </div>
	            <div align="right"><img src="assets/img/pharm/male/pharm-joe.svg" width="100" alt="Pharmacist"></div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Border right person------------------- -->
	        <div class="redBorderAll">
	            <p class="redfont redBorder centerText">Here is why:</p>
	            <ul>
	                <li>Need professional evaluation to rule out blood clot.</li>
	            </ul>
	        </div>
	        <br>
	        <!---------------------End Seek urgent care------------- -->
	        <div class="clearboth divider1"></div>
	        <p class="centerText"> 
	            <a href="#" (click)="gotoSubPage(0)" data-role="button" data-theme="j" data-inline="true" class="ui-link ui-btn ui-btn-j ui-btn-inline ui-shadow ui-corner-all" role="button">Urgent Care</a>
	            <button data-inline="true" class="hemorrhoid2_mobile_4_n_link ui-btn ui-btn-inline ui-shadow ui-corner-all" (click)="togglePage(15)">Continue</button>	
	        </p>
	        <p>&nbsp;</p>
	    </div>
	    <div id="hemorrhoid2_mobile_4_n" *ngIf="page==15">
	        <div class="maxwidth450">
	            <div class="ovalBorderRightBlue centerText">
	                <span>Is the hemorrhoid <span class="purplefont">purplishly</span> <span class="purple_redfont">swollen?</span></span><br>
	            </div>
	            <div align="right"><img src="assets/img/pharm/male/pharm-joe.svg" width="100" alt="Pharmacist"></div>
	        </div>
	        <!-----------------End Border right person------------------- -->
	        <div class="clearboth divider1"></div>
	        <p class="centerText">
	            <button data-inline="true" class="hemorrhoid2_mobile_5_y_link ui-btn ui-btn-l ui-btn-inline ui-shadow ui-corner-all" data-theme="l" (click)="togglePage(16)">Yes</button>
	            <button data-inline="true" class="hemorrhoid2_mobile_5_n_link ui-btn ui-btn-k ui-btn-inline ui-shadow ui-corner-all" data-theme="k" (click)="togglePage(17)">No</button>
	        </p>
	        <p>&nbsp;</p>
	    </div>
	    <!--end 4 div --> 
	    <div id="hemorrhoid2_mobile_5_y" *ngIf="page==16">
	        <!--start 5 div -->
	        <div class="maxwidth450">
	            <div class="ovalBorderRightYellow centerText">
	                <span class="redfontLarge">Seek urgent care or call your doctor.</span><br>
	            </div>
	            <div align="right"><img src="assets/img/pharm/male/pharm-joe.svg" width="100" alt="Pharmacist"></div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Border right person------------------- -->
	        <div class="redBorderAll">
	            <p class="redfont redBorder centerText">Here is why:</p>
	            <ul>
	                <li>Possible infection</li>
	                <li>Possible blood clot</li>
	            </ul>
	        </div>
	        <br>
	        <!---------------------End Seek urgent care------------- -->
	        <div class="clearboth divider1"></div>
	        <p class="centerText">
	            <a href="#" (click)="gotoSubPage(0)" data-role="button" data-theme="j" data-inline="true" class="ui-link ui-btn ui-btn-j ui-btn-inline ui-shadow ui-corner-all" role="button">Urgent Care</a>
	            <button data-inline="true" class="hemorrhoid2_mobile_5_n_link ui-btn ui-btn-inline ui-shadow ui-corner-all" (click)="togglePage(17)">Continue</button>
	        </p>
	        <p>&nbsp;</p>
	    </div>
	    <div id="hemorrhoid2_mobile_5_n" *ngIf="page==17">
	        <div class="maxwidth450">
	            <div class="ovalBorderRightBlue centerText">
	                <span class="bluefontLarge firstname"> </span><br>
	                Hemorrhoids that is <span class="purple_redfont">external</span> and very painful require urgent care.
	            </div>
	            <div align="right"><img src="assets/img/pharm/male/pharm-joe.svg" width="100" alt="Pharmacist"></div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Border right person------------------- -->
	        <p class="redBorder">Most likely, the swollen vein is blocked by a <span class="purple_redfont">blood clot.</span> </p>
	        <p class="redBorder">The doctor may have to do an excision of the hemorrhoid to relieve pain after numbing the area with something like lidocaine.</p>
	        <p>If the hemorrhoid is not painful but just an inconvenience, let's see what a pharmacist recommend you use over-the-counter to help shrink it.</p>
	        <!--------------------------Banner Link----------------------------- -->
	        <div>
	        </div>
	        <!--------------------------Banner Link----------------------------- -->
	        <input type="hidden" class="ClickValuePage1_25" value="">
	        <input type="hidden" class="ClickValuePage1_50" value="">
	        <input type="hidden" class="ClickValuePage1_100" value="">
	        <input type="hidden" class="ClickValuePage2_25" value="">
	        <input type="hidden" class="ClickValuePage2_50" value="">
	        <input type="hidden" class="ClickValuePage2_100" value="">
	        <input type="hidden" class="ClickValuePage3_25" value="">
	        <input type="hidden" class="ClickValuePage3_50" value="">
	        <input type="hidden" class="ClickValuePage3_100" value="">
	        <input type="hidden" class="totalResult" value="">
	        <div class="clearboth divider1"></div>
	        <p class="centerText">
	            <a href="#" (click)="gotoSubPage(0)" data-role="button" data-theme="j" data-inline="true" class="ui-link ui-btn ui-btn-j ui-btn-inline ui-shadow ui-corner-all" role="button">Urgent Care</a>
	            <a href="#" (click)="gotoSubPage(1)" class="hemorrhoids_mobile_infographics ui-link ui-btn ui-btn-inline ui-shadow ui-corner-all" data-role="button" data-inline="true" role="button">Continue</a>
	        </p>
	        <p>&nbsp;</p>
	    </div>
	    <!--end 5  div --> 
	    <p>&nbsp;</p>
	</div>

	<div class="ui-content" *ngIf="page>=20 && page<30">
	    <div id="hemorrhoid3_mobile_1" *ngIf="page==20">
	        <div class="maxwidth450">
	            <div class="ovalBorderRightBlue centerText">
	                <span>Let's make sure you are <span class="purple_bluefont">looking</span> at hemorrhoid.</span><br>
	            </div>
	            <div class="clearboth"></div>
	            <div class="container_12">
	                <div class="grid_8">
	                    <br>
	                    <div class="bubbleRightBlue">
	                        Do you feel <span class="redfont">pain</span> during bowel movements?
	                    </div>
	                </div>
	                <div class="grid_4">
	                    <img src="assets/img/pharm/male/pharm-joe.svg" alt="Pharmacist" width="80" align="right">
	                </div>
	            </div>
	        </div>
	        <br>
	        <div class="clearboth"></div>
	        <!-----------------End Point Right------------------- -->
	        <div class="clearboth divider1"></div>
	        <p class="centerText">
	            <button data-inline="true" class="hemorrhoid3_mobile_2_n_link ui-btn ui-btn-l ui-btn-inline ui-shadow ui-corner-all" data-theme="l" (click)="togglePage(21)">Yes</button>
	            <button data-inline="true" class="hemorrhoid3_mobile_2_n_link ui-btn ui-btn-k ui-btn-inline ui-shadow ui-corner-all" data-theme="k" (click)="togglePage(22)">No</button>
	        </p>
	        <p>&nbsp;</p>
	    </div>
	    <div id="hemorrhoid3_mobile_2_y" *ngIf="page==21">
	        <h3>Yes?</h3>
	        <button data-inline="true" class="hemorrhoid3_mobile_2_n_link ui-btn ui-btn-inline ui-shadow ui-corner-all" (click)="togglePage(22)">Continue</button>		
	        <p>&nbsp;</p>
	    </div>
	    <div id="hemorrhoid3_mobile_2_n" *ngIf="page==22">
	        <div class="maxwidth450">
	            <div class="ovalBorderRightBlue centerText">
	                <span>What about while <span class="bluefont">sitting</span> down?</span><br>
	            </div>
	            <div class="clearboth"></div>
	            <div class="container_12">
	                <div class="grid_8">
	                    <br>
	                    <div class="bubbleRightBlue centerText">
	                        Do you feel <span class="redfont">anal pain?</span>
	                    </div>
	                </div>
	                <div class="grid_4">
	                    <img src="assets/img/pharm/male/pharm-joe.svg" alt="Pharmacist" width="80" align="right">
	                </div>
	            </div>
	        </div>
	        <br>
	        <!-----------------End Point Right------------------- -->
	        <div class="clearboth divider1"></div>
	        <p class="centerText">
	            <button data-inline="true" class="hemorrhoid3_mobile_3_n_link ui-btn ui-btn-l ui-btn-inline ui-shadow ui-corner-all" data-theme="l" (click)="togglePage(23)">Yes</button>
	            <button data-inline="true" class="hemorrhoid3_mobile_3_n_link ui-btn ui-btn-k ui-btn-inline ui-shadow ui-corner-all" data-theme="k" (click)="togglePage(24)">No</button>
	        </p>
	        <p>&nbsp;</p>
	    </div>
	    <div id="hemorrhoid3_mobile_3_y" *ngIf="page==23">
	        <h3>Yes?</h3>
	        <button data-inline="true" class="hemorrhoid3_mobile_3_n_link ui-btn ui-btn-inline ui-shadow ui-corner-all" (click)="togglePage(24)">Continue</button>		
	        <p>&nbsp;</p>
	    </div>
	    <div id="hemorrhoid3_mobile_3_n" *ngIf="page==24">
	        <div class="maxwidth450">
	            <div class="ovalBorderRightBlue centerText">
	                <span>Are you experiencing <span class="orangefont">itching</span> in the anal area</span><br>
	            </div>
	            <div align="right"><img src="assets/img/pharm/male/pharm-joe.svg" width="100" alt="Pharmacist"></div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Border right person------------------- -->
	        <div class="clearboth divider1"></div>
	        <p class="centerText">
	            <button data-inline="true" class="hemorrhoid3_mobile_4_n_link ui-btn ui-btn-l ui-btn-inline ui-shadow ui-corner-all" data-theme="l" (click)="togglePage(25)">Yes</button>
	            <button data-inline="true" class="hemorrhoid3_mobile_4_n_link ui-btn ui-btn-k ui-btn-inline ui-shadow ui-corner-all" data-theme="k" (click)="togglePage(26)">No</button>
	        </p>
	        <p>&nbsp;</p>
	    </div>
	    <div id="hemorrhoid3_mobile_4_y" *ngIf="page==25">
	        <h3>Yes?</h3>
	        <button data-inline="true" class="hemorrhoid3_mobile_4_n_link ui-btn ui-btn-inline ui-shadow ui-corner-all" (click)="togglePage(26)">Continue</button>		
	        <p>&nbsp;</p>
	    </div>
	    <div id="hemorrhoid3_mobile_4_n" *ngIf="page==26">
	        <div class="maxwidth450">
	            <div class="ovalBorderRightBlue centerText">
	                <span>Do you feel one or more <span class="purple_redfont">hard lumps</span> in the rectal area?</span><br>
	            </div>
	            <div align="right"><img src="assets/img/pharm/male/pharm-joe.svg" width="100" alt="Pharmacist"></div>
	        </div>
	        <!-----------------End Border right person------------------- -->
	        <div class="clearboth divider1"></div>
	        <p class="centerText">
	            <button data-inline="true" class="hemorrhoid3_mobile_5_y_link ui-btn ui-btn-l ui-btn-inline ui-shadow ui-corner-all" data-theme="l" (click)="togglePage(27)">Yes</button>
	            <button data-inline="true" class="hemorrhoid3_mobile_5_n_link ui-btn ui-btn-k ui-btn-inline ui-shadow ui-corner-all" data-theme="k" (click)="togglePage(28)">No</button>
	        </p>
	        <p>&nbsp;</p>
	    </div>
	    <div id="hemorrhoid3_mobile_5_y" *ngIf="page==27">
	        <div class="maxwidth450">
	            <div class="ovalBorderRightBlue centerText">
	                <span class="bluefontLarge">Yes?</span><br>
	                Most likely looking at <span class="redfont">hemorrhoids.</span>
	            </div>
	            <div align="right"><img src="assets/img/pharm/male/pharm-joe.svg" width="100" alt="Pharmacist"></div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Border right person------------------- -->
	        <p class="greenBorder centerText">Internal hemorrhoids sometimes cause <span class="orangefont">mucus</span> discharge and a sensation of incomplete evacuation.</p>
	        <p class="greenBorderAll centerText">Let' see what a pharmacist recommend you use over-the-counter to help with this situation.</p>
	        <!--------------------------Banner Link----------------------------- -->
	        <div>
	        </div>
	        <!--------------------------Banner Link----------------------------- -->
	        <div class="clearboth divider1"></div>
	        <p class="centerText">
	            <a href="#" (click)="gotoSubPage(0)" data-role="button" data-theme="j" data-inline="true" class="ui-link ui-btn ui-btn-j ui-btn-inline ui-shadow ui-corner-all" role="button">Urgent Care</a>
	            <a href="#" (click)="gotoSubPage(1)" data-role="button" data-inline="true" class="ui-link ui-btn ui-btn-inline ui-shadow ui-corner-all" role="button">Continue</a>
	        </p>
	        <p>&nbsp;</p>
	        <p>&nbsp;</p>
	    </div>
	    <div id="hemorrhoid3_mobile_5_n" *ngIf="page==28">
	        <div class="maxwidth450">
	            <div class="ovalBorderRightBlue centerText">
	                <span class="redfontLarge">No?</span><br>
	                Well, if you think it is hemorrhoids, let's see what a pharmacist recommend.
	            </div>
	            <div align="right"><img src="assets/img/pharm/male/pharm-joe.svg" width="100" alt="Pharmacist"></div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <!-----------------End Border right person------------------- -->
	        <p class="redBorder">If not sure, it is always a good idea to visit the nearest urgent care clinic or talk with your doctor.</p>
	        <p class="redBorderAll centerText">What would you like to do now?</p>
	        <!--------------------------Banner Link----------------------------- -->
	        <div>
	        </div>
	        <!--------------------------Banner Link----------------------------- -->
	        <div class="clearboth divider1"></div>
	        <p class="centerText">
	            <a href="#" (click)="gotoSubPage(0)" data-role="button" data-theme="j" data-inline="true" class="ui-link ui-btn ui-btn-j ui-btn-inline ui-shadow ui-corner-all" role="button">Urgent Care</a>
	            <a href="#" (click)="gotoSubPage(1)" class="hemorrhoids_mobile_infographics ui-link ui-btn ui-btn-inline ui-shadow ui-corner-all" data-role="button" data-inline="true" role="button">Continue</a>
	        </p>
	        <p>&nbsp;</p>
	        <p>&nbsp;</p>
	    </div>
	    <p>&nbsp;</p>
	</div>

	<div class="ui-popup-screen ui-overlay-b in" id="hemorrhoid_mobile_pop-screen" *ngIf="FYIDlg.show" (click)="toggleFYIDlg(false)"></div>
	<div class="ui-popup-container pop in ui-popup-active" id="hemorrhoid_mobile_pop-popup" *ngIf="FYIDlg.show" [ngStyle]="{'max-width': FYIDlg.maxWidth+'px','top': FYIDlg.top+'px', 'left': FYIDlg.left+'px', 'width': FYIDlg.width+'px'}">
	    <div data-role="popup" id="hemorrhoid_mobile_pop" class="ui-content ui-popup ui-body-inherit ui-overlay-shadow ui-corner-all" data-overlay-theme="b" data-position-to="window">
	        <a href="#" data-rel="back" data-role="button" data-icon="delete" data-iconpos="notext" class="ui-btn-right ui-link ui-btn ui-icon-delete ui-btn-icon-notext ui-shadow ui-corner-all" role="button" (click)="toggleFYIDlg(false)">Close</a>
	        <div class="blueBorderAll">
	            <p class="blueBorder centerText">The pressure can be due to:</p>
	            <ul>
	                <li>Constipation</li>
	                <li>Straining during bowel movements</li>
	                <li>Pregnancy</li>
	                <li>Childbirth</li>
	                <li>Sitting for long periods of time</li>
	                <li>Other causes.</li>
	            </ul>
	        </div>
	    </div>
	</div>
</ion-content>
